[% page = "home" %]
[% title = "RingMail | Get in the Loop" %]
[% content = BLOCK %]

	<div class="ringmail-home-hero-wrapper">
		<section class="ringmail-home-hero-section">
			
			<figure class="iphone-slider-figure">
				<img class="iphone-slider-bg" src="/img/website/iphone-bg.png" alt="App Screenshots" />
				        <div class="iphone-slider">
							<ul class="slides">
								<li>
								  <img src="/img/website/iphone-ss-1.jpg" alt="App Screenshots" />
					            </li>
					            <li>
					              <img src="/img/website/iphone-ss-2.jpg" alt="App Screenshots" />
					            </li>
					            <li>
					              <img src="/img/website/iphone-ss-3.jpg" alt="App Screenshots" />
					            </li>
					          </ul>
					        </div>
			</figure>
			
			
			<div class="ringmail-home-hero-hgroup-wrapper">
				<hgroup class="ringmail-home-hero-hgroup">
					<img class="ringmail-home-loop-img" src="/img/website/loop-icon-large.png" alt="Get in the loop" />
					
					<h1 class="ringmail-home-hero-h1">Get in the loop</h1>
					
						<ul class="ringmail-home-icons-ul">
							<li class="ringmail-home-icons-li"><img class="ringmail-home-icons-img" src="/img/website/hero-hash-icon.png" alt="hashtags" /></li>
							<li class="ringmail-home-icons-li"><img class="ringmail-home-icons-img" src="/img/website/hero-video-icon.png" alt="video" /></li>
							<li class="ringmail-home-icons-li"><img class="ringmail-home-icons-img" src="/img/website/hero-phone-icon.png" alt="phone" /></li>
							<li class="ringmail-home-icons-li"><img class="ringmail-home-icons-img" src="/img/website/hero-chat-icon.png" alt="chat" /></li>
						</ul>
						
					<h2 class="ringmail-home-hero-h2">HASHTAGS, VIDEO, PHONE & CHAT + EXCLUSIVE CONTENT & OFFERS FROM YOUR FAVORITE BRANDS</h2>
					
					
				</hgroup>
				<!-- Button trigger modal -->
				<button type="button" class="secure-signup-button" data-toggle="modal" data-target="#myModal">Sign Up For Free</button>
			</div>
			
			
		</section>
	</div>
	

	<div class="mobile-slider-wrapper">
	 <section class="slider">
        <div class="flexslider">
          <ul class="slides">
			<li>
			  <img src="/img/website/slider-ss-1.jpg" alt="App Screenshots" />
		    </li>
	        <li>
	          <img src="/img/website/slider-ss-2.jpg" alt="App Screenshots" />
			</li>
			<li>
			  <img src="/img/website/slider-ss-3.jpg" alt="App Screenshots" />
			</li>
          </ul>
        </div>

      </section>

	</div>



		
	<div class="ringmail-home-highlight-wrapper">
		<section class="ringmail-home-highlight-section">
			
			<h2 class="home-highlight-header-h2">More than a chat app</h2>
			
			<ul class="home-highlight-ul">
				
				<li class="home-highlight-li">
					<img class="home-highlight-img" src="/img/website/highlight-hashtags-icon.png" alt="hashtags" />
					<h2 class="home-highlight-h2">hashtags</h2>
					<p class="home-highlight-p">Hashtags in RingMail connect you directly to exclusive content</p>
				</li>
				
				<li class="home-highlight-li">
					<img class="home-highlight-img" src="/img/website/highlight-loops-icon.png" alt="loops" />
					<h2 class="home-highlight-h2">loops</h2>
					<p class="home-highlight-p">Loops are lively group chats that can include text, video, images, and more</p>
				</li>
				
				<li class="home-highlight-li">
					<img class="home-highlight-img" src="/img/website/highlight-email-icon.png" alt="email" />
					<h2 class="home-highlight-h2">email</h2>
					<p class="home-highlight-p">Call anyone with an email address, using their email address</p>
				</li>
				
				<li class="home-highlight-li">
					<img class="home-highlight-img" src="/img/website/highlight-domains-icon.png" alt="domains" />
					<h2 class="home-highlight-h2">domains</h2>
					<p class="home-highlight-p">Communicate with businesses by dialing their domain name</p>
				</li>
			</ul>
			
		</section>
	</div>		


	<div class="ringmail-home-secure-wrapper">
		<section class="ringmail-home-secure-section">
			<img class="home-secure-img" src="/img/website/highlight-how-icon.png" alt="how it works" />
			<h2 class="home-secure-h2">how it works</h2>
			<p class="home-secure-p">RingMail is the ultra communication platform that allows you to chat, call and video chat with anyone in world without paying any fees. We will be launching May 2016 on the iOS app store.</p>

<p class="home-secure-p">In addition to chatting with friends and contacts available on your phone, now you can chat with businesses using our hashtag directory. </p>

<p class="home-secure-p">You can use simple screens to build your own hashtag page. Engage your network, get followers and start chatting. </p>

<p class="home-secure-p">To reserve your hashtags today, drop in your information along with any questions you might have; we will try to get back to you as soon as possible.</p>
			<button type="button" class="secure-signup-button" data-toggle="modal" data-target="#myModal">Sign Up For Free</button>
		
		</section>
	
	</div>
	
	<!--div class="ringmail-home-secure-wrapper">
		<section class="ringmail-home-secure-section">
			<img class="home-secure-img" src="/img/website/highlight-secure-icon.png" alt="secure" />
			<h2 class="home-secure-h2">secure</h2>
			<p class="home-secure-p">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc tristique varius ante et viverra. Integer porttitor, velit ut feugiat ornare, eros lacus molestie neque, eget commodo est neque non mi. Duis id bibendum sem. Donec interdum porttitor mi, vel laoreet neque viverra et. Cras sed lobortis odio. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Fusce porta magna mauris, id scelerisque lacus laoreet non. Praesent porta ipsum eu eros sagittis semper. Aliquam lectus diam, convallis vel volutpat non, faucibus dictum tortor. Vestibulum rutrum convallis arcu, sit amet commodo lectus sodales ac. Nulla id leo massa. Vestibulum vehicula nulla sapien, condimentum eleifend nisl rhoncus vitae. Maecenas dolor dolor, feugiat ut suscipit sit ame.</p>
			<button type="button" class="secure-signup-button" data-toggle="modal" data-target="#myModal">Sign Up For Free</button>
		
		</section>
	
	</div-->

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>

      </div>
      <div class="modal-body">




<form id="form18" name="form18" class="wufoo topLabel page" accept-charset="UTF-8" autocomplete="off" enctype="multipart/form-data" method="post" novalidate action="https://referdyl.wufoo.com/forms/z1xp00gl0qcllgn/#public">
  <h4 class="modal-title" id="myModalLabel">Get in the loop</h4>
<ul class="wufoo-ringmail-ul">

	<li id="foli1" class="notranslate      ">
		<label class="desc" id="title1" for="Field1">Name</label>
			<input id="Field1" name="Field1" type="text" class="name" value="" size="8" tabindex="1"       />
	</li>
	
	<li id="foli15" class="notranslate      ">
		<label class="desc" id="title15" for="Field15">Email</label>
		<input id="Field15" name="Field15" type="email" spellcheck="false" class="email" value="" maxlength="255" tabindex="3"       />
	</li>
	
	<li id="foli16" class="phone notranslate      ">
		<label class="desc" id="title16" for="Field16">Phone Number</label>
			<input id="Field16" name="Field16" type="tel" class="phone-1" value="" size="3" maxlength="3" tabindex="4"       />
			<input id="Field16-1" name="Field16-1" type="tel" class="phone-2" value="" size="3" maxlength="3" tabindex="5" />
			<input id="Field16-2" name="Field16-2" type="tel" class="phone-3" value="" size="4" maxlength="4" tabindex="6" />
	</li>
	<li class="">
			<input id="saveForm" name="saveForm" class="button" type="submit" value="Submit"/> 
	</li>
	
	<p class="ringmail-form-p">We guarantee 100% privacy. Your information will not be shared.</p>
	<li class="hide">
		<label for="comment">Do Not Fill This Out</label><textarea name="comment" id="comment" rows="1" cols="1"></textarea><input type="hidden" id="idstamp" name="idstamp" value="xxoSs8bhsvfgjNsaDRNZiY7Xtq+WqhqaX/GRt2WCsUs=" />
	</li>

</ul>
</form>
 

      </div>
     
    </div>
  </div>
</div>

  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>

  <!-- FlexSlider -->
  <script defer src="/js/website/jquery.flexslider.js"></script>

  <script type="text/javascript">
$(window).load(function() {
  $('.iphone-slider').flexslider({
    animation: "slide",
    directionNav: false,
    controlNav: false
  });
});
  </script>
  
    <script type="text/javascript">
$(window).load(function() {
  $('.flexslider').flexslider({
    animation: "slide"
  });
});
  </script>

[% END %]
[% INCLUDE layout/root_template.html %]