[% page = "home" %]
[% title = "RingMail" %]
[% content = BLOCK %]

    <!--Navbar-->
    <nav class="navbar navbar-toggleable-sm fixed-top navbar-dark bg-faded">

        <div class="container">

            <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNav1" aria-controls="navbarNav1" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <a class="navbar-brand waves-effect waves-light" href="/index.html" target="_blank"><img src="/img/logo.png" alt="RingMail" class="logo-img" /></a>

            <div class="collapse navbar-collapse" id="navbarNav1">

                <ul class="navbar-nav ml-auto">
                    <!--<li class="nav-item">
                        <a class="nav-link" href="#">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">For Brands</a>
                    </li>-->
                    <li class="nav-item">
                        <a class="nav-link btn rm-btn rm-btn-grey" href="/login">Login</a>
                    </li>
                </ul>

            </div>

        </div>

    </nav>
    <!--/.Navbar-->

    <!--Mask-->
    <div class="view hm-black-strong home-main-wrapper">
        <section class="home-main-wrapper-section">
            <h1 class="home-h1">RingMail</h1>
            <p class="home-p1">
				Secure Communication<br/>Business Hashtag Directory<br/>
			    <a class="btn rm-btn rm-btn-white" href="/dl">App Store Download</a> 
			</p>
        </section>
    </div>
    <!--/.Mask-->
    
    <div class="white-home-section-wrapper">
	    <section class="white-home-section clearfix">
		    <h2 class="home-h2">Who can you call with RingMail?</h2>
            <p class="home-p2">Here's how you can connect with people and companies on RingMail.</p>
            
            <ul class="home-features-ul">
            	<li class="home-features-li">
            		<img class="home-features-li-img" src="/img/call_email.png" alt="Call an Email Address"/>
            		<h3 class="home-h3">Call an Email Address</h3>
            		<p class="home-p-subtext">Call someone using their email address like a phone numbers.</p>
            	</li>
            	<li class="home-features-li">
            		<img class="home-features-li-img" src="/img/call_domain.png" alt="Call a Website Domain"/>
            		<h3 class="home-h3">Call a Website Domain</h3>
            		<p class="home-p-subtext">Make and receive calls via a website.</p>
            	</li>
            	<li class="home-features-li">
            		<img class="home-features-li-img" src="/img/hashtag.png" alt="Call a Hashtag"/>
            		<h3 class="home-h3">Call a Hashtag</h3>
            		<p class="home-p-subtext">Find a local business or promotion by #Hashtags.</p>
            	</li>
            </ul>
		    
	    </section>
    </div>


    <div class="comm-home-section-wrapper">
	    <section class="comm-home-section clearfix">
		    <h2 class="home-h2">Types of Communication</h2>
            <p class="home-p3">RingMail provides a comprehensive suite of communication features:</p>
            
            <ul class="home-features-ul">
            	<li class="home-features-li">
            		<img class="home-features-li-img" src="/img/voice_calls.png" alt="Voice Calls"/>
            		<h5 class="home-h5">Voice Calls</h5>
            	</li>
            	<li class="home-features-li">
            		<img class="home-features-li-img" src="/img/video_call.png" alt="Video Calls"/>
            		<h5 class="home-h5">Video Calls</h5>
            	</li>
            	<li class="home-features-li">
            		<img class="home-features-li-img" src="/img/secure_text.png" alt="Secure Texts"/>
            		<h5 class="home-h5">Secure Texts</h5>
            	</li>
            	<li class="home-features-li">
            		<img class="home-features-li-img" src="/img/moments.png" alt="Moments"/>
            		<h5 class="home-h5">Moments</h5>
            	</li>
            </ul>
		    
	    </section>
    </div>    
	    
	<section class="iphone-overlap-section">
		<figure class="iphone-overlap">
			<img src="/img/stacked_iphones_transparent.png" class="" alt="RingMail Phone Ecosystem" />
		</figure>
	</section>
	
	<div class="white-home-section-wrapper">
		<section class="white-home-section">
			<div class="home-section-two-thirds clearfix">
				<h2 class="home-h2">About our Technology</h2>
				
				<ul class="two-thirds-ul">
	            	<li class="">
						<h5 class="home-h5">Open Standards</h5>
						<p class="home-p-subtext">SIP-based for interoperability. Our network is compatible with most existing phone systems.</p>
	            	</li>
	            	<li class="">
						<h5 class="home-h5">Security Focus</h5>
						<p class="home-p-subtext">A secure switchboard for Internet calls and messages.</p>
	            	</li>
	            </ul>
				<ul class="two-thirds-ul">
	            	<li class="">
						<h5 class="home-h5">Open Source</h5>
						<p class="home-p-subtext">Both our mobile app client and back-end server are open source and available on GitHub.</p>
	            	</li>
	            	<!--<li class="">
						<h5 class="home-h5"></h5>
						<p class="home-p-subtext">Our app is powerful on the front end and backend. 99% of phone systems run on the backend. <br />• RingMail connects to phone systems on the backend.</p>
	
						<p class="home-p-subtext">Calling of domains (calls are compatible and forwarding call to any SIP network is supported by ourback end.</p>
	            	</li>-->
				</ul>
			</div>
		</section>
	</div>  

    <div class="involved-home-section-wrapper">
	    <section class="involved-home-section">
		    <div class="home-section-two-thirds clearfix">
			    <h2 class="home-h2">Get The App!</h2>
			    <a class="btn rm-btn rm-btn-white" href="/dl">App Store Download</a> 
		    </div>
	    </section>
    </div>
    
    <div class="white-home-section-wrapper">
	    <section class="white-home-section">
		    <h4 class="home-h4">Our Client’s RingPages</h4>
            <p class="home-p-subtext client-ringpage-p">These are example RingPages that can be access using a #Hashtag on the RingMail app.</p>
            	
            <figure class="ringpages-figure">
            	<img class="" src="/img/client_ringpages.png" alt="Our Client's Ringpages"/>
            	<figcaption>
            		<h6 class="home-h6">Claim your hashtag. Create your customized RingPage.</h6>
            		<!--<button class="btn rm-btn rm-btn-grad">Learn More</button> -->
            		
            </figure>
		    
	    </section>
    </div>

    <div class="map-contact-section-wrapper">
	    <section class="white-home-section">
		   	
		   	<form class="map-form-footer clearfix">
			   	<hgroup>   	
			    	<h2 class="home-h2">Drop us a line</h2>
					<h7 class="home-h7">In the heart of Silicon Beach</h7>
					<p class="home-form-p">4551 Glencoe Ave, #155 </p>
					<p class="home-form-p">Marina Del Rey, CA 90292  </p>
				</hgroup>
			   	
			   	
			   	<div class="card-block">
				
				
			    <!--Body-->
			    <div class="form-inline">
			    
				    <div class="md-form">
				        <input type="text" id="form3" class="form-control">
				        <label for="form3">Name</label>
				    </div>
				
				    <div class="md-form">
				        <input type="text" id="form2" class="form-control">
				        <label for="form2">Email</label>
				    </div>
				
				    <div class="md-form">
				        <input type="text" id="form32" class="form-control">
				        <label for="form34">Phone</label>
				    </div>
				   
				    <div class="md-form">
						<button class="btn btn-default">Send</button>
				    </div>
				    
			    </div>
			    
			 </form>
			    
		    </section>
	    </div>
    
    <footer class="footer-main">
	    <section class="footer-section">
	    	<p class="footer-main-p">2017 © RingMail. All rights reserved.</p>
	    </section>
    </footer>       	     
    
[% END %]
[% INCLUDE layout/root_template.html %] 
