<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta charset="UTF-8" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>RingMail: Free Internet Calls, Text and Video</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<meta name="apple-mobile-web-app-capable" content="yes" />
	<meta name="apple-itunes-app" content="app-id=653397088" />
    <link rel="stylesheet" href="/css/home/bootstrap.css" type="text/css" />
    <link rel="stylesheet" href="/css/home/bootstrap-responsive.css" type="text/css" />
    <link rel="stylesheet" href="/css/home/pad.min.css" type="text/css" /> 
    <link rel="stylesheet" href="/css/home/ringmail.css" type="text/css" /> 
</head>
<body>
    <section class="hero">
        <div class="container">
            <nav class="navbar">
                <div class="navbar-inner">
                    <div class="container">
                        <a href="/" class="brand"><img src="/img/ringmail_small.png" border="0"/> Ring<strong>Mail</strong></a>
                        <ul class="nav">
                            <!--<li><a href="#" class="btn btn-bordered">Web Call</a></li>-->
                            <!--<li><a href="/dl" class="btn btn-bordered">Download</a></li>-->
                            <!--<li><a href="http://blog.ringmail.com/">Blog</a></li>-->
                            <li><a href="http://ringmail.tumblr.com/">Blog</a></li>
                            <!--<li><a href="/login">Login</a></li>-->
                        </ul>
                    </div>
                </div>
            </nav>
            <article class="marketing row">              
                <div class="offset1 span10">
                    <h1 class="headline">
						<!--Free Internet Calls, Text and Video-->
						<!--Free Calling &amp; Texting to your Email or Domain-->
						<!--Free Calling to an Email or Domain-->
						<!--Make Free Calls to an Email Address-->
						Stay in touch with your favorite people for FREE!
                    </h1>
                </div>
            </article>
        </div>
    </section>    
    <section class="block">
        <div class="container">
            <div class="row">
                <div class="offset2 span8">
                    <p class="call-to-action">
                        <a class="btn btn-large btn-blue rounded" href="/login" style="margin: 10px;">RingMail Login</a>
                        <a class="btn btn-large btn-green rounded" href="/dl" style="margin: 10px;">Download App</a>
                    </p>
                    <h4 class="headline">RingMail: phone network for the Internet era.</h4>
                    <p class="headline-caption">
                        RingMail enables making calls using an email address or domain name instead of dialing a phone number.
						<br/>
						<br/>
						<strong>FAST</strong> - Download the app and you’re ready to go. Just log in with an existing email account and stay in touch with friends anywhere. 
						<br/>
						<br/>
						<strong>EASY</strong> - You’ve already got enough to remember. No new PINs, usernames or  BuddyLists to create. Just log in with an existing email. RingMail integrates seamlessly with your phone’s address book so you can instantly add the contacts you speak with most.
						<br/>
						<br/>
						<strong>FREE</strong> - Make FREE international or domestic calls to your friends and family. No hidden rates or fees. Get high quality audio and video calls and stay close to the people you love. 
						<br/>
						<br/>
						* <em>Mobile calls use your Internet data plan.</em>
                    </p>
				</div>
        	</div>
        </div>
   </section> 
    <section class="block alt">
        <div class="container">
            <div class="row">
                <div class="offset2 span8">
                    <img src="/img/home/iphone-placeholder.png" id="hide-image" class="highlight" alt="placeholder" />
                </div>
            </div>
        </div>
    </section> 
    <section class="block">
        <div class="container">
            <div class="row">
                <div class="offset2 span8">
                    <h4 class="headline">The RingMail App connects you on the go.</h4>
                    <p class="headline-caption">
                        Download the free RingMail App for iOS<!-- and Android-->.<br/>
                    </p>
                    <br/>
                    <p align="center">
                        <a href="https://itunes.apple.com/us/app/ringmail/id653397088?mt=8&uo=4" target="itunes_store"><img src="/img/home/appstore.png" border="0" width="135" height="40"/></a>
                    </p>
                </div>
            </div>
        </div>
   </section>    
   <section class="block alt">
        <div class="container">
            <div class="row">
                <div class="offset2 span8">
                    <p class="headline-caption">
						<h5 style="text-align: center;">How to make a call on RingMail?</h5>
						<div style="width: 200px; margin-left: auto; margin-right: auto;">
							<ul>
								<li><p><a href="/dl">Download the Free RingMail App for iOS</a></p></li>
								<!--<li><p>RingMail for Android is coming very soon!</p></li>-->
								<li><p><strong>SMS-to-Call:</strong> Text the email address you want to call to 746465<br/>Short Code: RINGML</p></li>
								<!--<li><p>Click-to-Call Link</p></li>-->
							</ul>
						</div>
                    </p>
                    <p class="headline-caption">
                        It's easy to get started with RingMail. Just register your email or domain.
						<br/>
						Confirm that the email or domain is owned by you and people will be able to call you.
						<br/>
						<br/>
						<h5 style="text-align: center;">RingMail Features</h5>
						<div style="margin-left: auto; margin-right: auto;">
							<ul>
								<li><p>Free Internet-Based Calling, Texting and Video Conferencing</p></li>
								<li><p>iPhone App with Open Source License; <a href="https://github.com/dyl/ringmail-iphone">GitHub Source</p></a></li>
								<!--<li><p>Click-to-Call Links for Websites and Email Signatures</p></li>-->
								<li><p>SIP-compatible with VoIP Phones, Asterisk &amp; Other PBX</p></li>
								<li><p>Forward your inbound calls to:</p>
									<div style="width: 200px; margin-left: auto; margin-right: auto;">
										<ul style="margin-left: 0px;">
											<li>The RingMail App</li>
											<li>Your Phone Number</li>
											<li>Any VoIP Phone</li>
											<li>VoIP PBX (SIP-compatible)</li>
										</ul>
									</div>
								</li>
							</ul>
						</div>
					</p>
        		</div>
        	</div>
        </div>
    </section> 
    <section class="block">
        <div class="container">
            <div class="row">
                <div class="offset2 span8">
					<div class="centered-form">
						<a name="reg"></a>
						<h3>Register With RingMail</h3>
						<form method="post" action="[% page.url('path' => '/signup') %]">
							<div style="padding: 10px; border: 1px solid #CCCCCC; margin-bottom: 10px; background-color: #FFFFFF;">
								<h5 style="margin: 0px;">
 									<span>Email Address</span><span style="color: #0000FF;">*</span>
								</h5>
								<div style="margin-top: 8px;">
									<div class="input-prepend">
										<span class="add-on"><i class="icon-envelope"></i></span>
										[% page.field(
											'command' => 'register',
											'type' => 'text',
											'name' => 'target_email',
											'opts' => {
												'style' => 'width: 200px;',
												'placeholder' => 'email@address.com',
												'id' => 'email_1',
											},
										) %]
									</div>
								</div>
								<br/>
								<div>
									<span class="form-label">Phone Number</span>
									<div class="input-prepend">
										<span class="add-on"><i class="icon-bell"></i></span>
										[% page.field(
											'command' => 'register',
											'type' => 'text',
											'name' => 'route_phone',
											'opts' => {
												'style' => 'width: 200px;',
												'placeholder' => 'Phone Number',
											},
										) %]
									</div>
								</div>
								<div style="margin-top: 8px;">
									RingMail Enable&trade; your phone number!
								</div>
								<div style="margin-top: 8px;">
									<span class="form-label">Password<span style="color: #0000FF; font-size: 20px;">*</span></span><br/>
									<div class="input-prepend">
										<span class="add-on"><i class="icon-thumbs-up"></i></span>
										[% page.field(
											'command' => 'register',
											'type' => 'password',
											'name' => 'password',
											'opts' => {
												'style' => 'width: 200px;',
												'placeholder' => 'Password',
											},
										) %]
									</div>
								</div>
								<div style="margin-top: 8px;">
									<span style="color: #0000FF; font-size: 20px;">*</span>
									Required Fields
								</div>
								<div style="text-align: right; margin-top: 10px; text-align: center;">
									[% page.button(
										'command' => 'register',
										'text' => 'Free Sign Up',
										'opts' => {
											'class' => 'btn btn-large btn-green rounded',
										},
									) %]
								</div>
							</div>
						</form>
					</div>
        		</div>
        	</div>
        </div>
    </section>

    <!--<section class="block">
        <div class="container">
            <div class="row">
                <div class="offset2 span8">
                    <div id="myCarousel" class="carousel slide">
                        <div class="carousel-inner">
                            <div class="item active">                   
                                <p>
                                    <img src="/img/home/placeholder.png" class="highlight" alt="placeholder" />    
                                </p>    
                                <article class="carousel-caption">                  
                                    <h5><strong>Call an Email Address</strong></h5>
                                    <p>Make and receive calls using only an email address.</p>
                                </article>                                                                         
                            </div>
                            <div class="item">      
                                <p>                             
                                    <img src="/img/home/placeholder.png" class="highlight" alt="placeholder" />        
                                </p>           
                                <article class="carousel-caption">                  
                                    <h5><strong>Ring a Website</strong></h5>
                                    <p>Don't look up the number, ring a company directly!</p>
                                </article>
                            </div>
                            <div class="item">
                                <p>
                                <img src="/img/home/placeholder.png" class="highlight" alt="placeholder" />
                                </p>
                                <article class="carousel-caption">
                                    <h5><strong>Free Text Messages</strong></h5>
                                    <p>Send text messages and photos to friends and family.</p>
                                </article>
                            </div>
                            <div class="item">
                                <p>
                                <img src="/img/home/placeholder.png" class="highlight" alt="placeholder" />
                                </p>
                                <article class="carousel-caption">
                                    <h5><strong>Live Video Chat</strong></h5>
                                    <p>Participate in a live video conference.</p>
                                </article>
                            </div>
                        </div>
                        <a class="left carousel-control" href="#myCarousel" data-slide="prev">‹</a>
                        <a class="right carousel-control" href="#myCarousel" data-slide="next">›</a>           
                    </div> 
                </div>
            </div>
        </div>
    </section>-->
    <section class="block">
        <div class="container">
            <div class="row">
                <div class="offset2 span8">
                    <h4 class="headline">RingMail is brought to you by:</h4>
					<p align="center">
						<a href="http://dyl.com/" target="_blank"><img src="/img/home/dyl_logo.png" alt="DYL Logo" border="0"/></a>
                    </p>
                    <p class="headline-caption">
						We started the RingMail project to build a communications network that takes full advantage of the Internet. We believe in a better way to communicate.<br/><br/>
						The phone network has not fundementally changed since it was invented a hundred years ago. The phone network has been digitized with <a href="http://en.wikipedia.org/wiki/Voice_over_IP" target="_blank">Voice over IP (VoIP)</a> but the structure of the network is just a digital copy of the old network. It's time to change that! Help us build a new phone network that leverages the new capabilities offered by the Internet like free calling to anywhere, and communicating in new ways that were never possible before.
                    </p>
                </div>
            </div>
        </div>
    </section>   
    <section class="block alt">
         <div class="container">
             <div class="row">
                 <div class="offset2 span3">
                    <h4>Contact Us</h4>
                    <p>RingMail is powered by technology from <a href="http://dyl.com">DYL.com</a>.</p>
                    <address>
                        <a href="http://dyl.com"><strong>DYL, LLC.</strong></a><br/>
                        4551 Glencoe Ave.<br/>
                        Suite 155<br/>
                        Marina del Rey, CA&nbsp;&nbsp;90292<br/>
                        (888) 555-1234
                    </address>
                    <address>
                        <a href="mailto:#">info@ringmail.com</a>
                    </address>
                 </div>
                 <!--<div class="span5">
                    <h4>Invite A Friend To RingMail</h4>
                    <p>Invite your friends and family to become part of the RingMail Network.</p>
                    <form action="index" class="form-horizontal">
                         <input type="text" placeholder="Your friend's email address..."/>
                        <a href="#" class="btn btn-blue rounded">Send Invitation</a>
                    </form>
					<br/>
					<p>
						<a href="/#reg" class="btn btn-large btn-green rounded">Register Now</a>
					</p>
                 </div>-->
             </div>
         </div>
     </section> 
    <footer>
        <div class="container">
			<div style="float: left; width: 220px;">
				&copy; 2013, all rights reserved.<br/>Patent pending.
			</div>
			<div style="float: right; width: 100px;">
				Powered By<br/><a href="http://dyl.com"><img src="/img/dyl_logo_small.png" border="0" width="71" height="32" align="bottom"/></a>
			</div>
			<br clear="all"/>
        </div>
    </footer>
    <script src="/js/home/jquery-1.9.1.min.js"></script>
    <script src="/js/home/bootstrap.min.js"></script>
    <script src="/js/home/home.js"></script>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-32402148-2', 'ring.ml');
  ga('send', 'pageview');

</script>
</body>
</html>
