[%# page = "subpage-jumbo" %]
[% title = "#Hashtag Is Available" %]
[% content = BLOCK %]
    <div class="container-fluid" id="hashtag-available">
        <div class="row section-row" id="row-1">
          <div class="container">
              <div class="col-md-6 cta-img">
                  <div class="clearfix cta-img-wrapper">
                      <img src="/img/pages/hashtag-available/row1/cart.png" alt="#Own the conversation">
                  </div>
              </div>
              <div class="col-md-6 cta-text text-center">
                  <div class="clearfix cta-text-wrapper">
                      <div class="clearfix headline">
                          <h1>#Own the <br>conversation</h1>
                      </div>
                      <div class="clearfix subheadline">
                          <h4>Use your exclusive RingMail hashtag to drive<br> traffic to your RingPage.</h4>
                      </div>
                      <div class="clearfix cta-btn">
                          <a href="#" class="btn red-button lg-button">GET YOUR HASHTAG</a>
                      </div>
                      <div class="clearfix cta-more localscroll">
                          <a href="#row-2">Learn More <i class="fa fa-angle-down" aria-hidden="true"></i></a>
                      </div>
                  </div>
              </div>
          </div>
        </div>
        <div class="row section-row" id="row-2">
            <div class="container">
                <div class="col-md-6 col-sm-12 col-xs-12 text-center cta-img pull-right">
                    <div class="clearfix cta-img-wrapper">
                        <img src="/img/pages/hashtag-available/row2/link.png" alt="Own a #Hashtag">
                    </div>
                </div>
                <div class="col-md-6 col-sm-12 col-xs-12 cta-text pull-left text-center">
                    <div class="clearfix cta-text-wrapper">
                        <div class="headline clearfix">
                            <h2>Own a #Hashtag</h2>
                        </div>
                        <div class="text text-1 clearfix">
                            <p>Anytime someone uses your #Hashtag in RingMail, clicking it takes them right to your RingPage instead of a list of random comments.</p>
                        </div>
                        <div class="text text-2 clearfix">
                            <p>Own conversations. Build your reputation. Get fanatical fans. The possibilities are endless.</p>
                        </div>
                        <div class="clearfix cta-more">
                            <a href="“#link1”">Get Your Hashtag <i class="fa fa-angle-right" aria-hidden="true"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row section-row" id="row-3">
            <div class="container">
                <div class="col-md-6 cta-img">
                    <div class="clearfix cta-img-wrapper">
                        <img src="/img/pages/hashtag-available/row3/phone.png" alt="Build Your RingPage">
                    </div>
                </div>
                <div class="col-md-6 cta-text text-center">
                    <div class="clearfix cta-text-wrapper">
                        <div class="clearfix headline">
                            <h2>Build Your RingPage</h2>
                        </div>
                        <div class="clearfix text">
                            <p>When you own a #Hashtag you can <span class="bold">build a custom RingPage to show videos, create interactive content, hold contests, make special offers, and much more.</span></p>
                            <p>Fans get to your RingPage simply by clicking your #Hashtag in the directory. Supernova RingPages appear up front and can display imagery or animations for more impact.</p>
                        </div>
                        <div class="clearfix cta-more">
                            <a href="#link1”">Start Your RingPage <i class="fa fa-angle-down" aria-hidden="true"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row section-row" id="row-4">
            <div class="container">
                <div class="col-md-6 col-sm-12 col-xs-12 text-center cta-img pull-right">
                    <div class="clearfix cta-img-wrapper">
                        <img src="/img/pages/hashtag-available/row4/bubble.png" alt="Get in the Loop">
                    </div>
                </div>
                <div class="col-md-6 cta-text pull-left col-sm-12 col-xs-12 text-center">
                    <div class="cta-text-wrapper clearfix">
                        <div class="headline clearfix">
                            <h2>Get in the Loop</h2>
                        </div>
                        <div class="text text-1 clearfix">
                            <p>A #Hashtag also lets you have a Loop–a group conversation with anyone who visits your RingPage. It’s the newest way to <span class="bold">stay in touch, share information, answer questions, and build your reputation.</span></p>
                        </div>
                        <div class="clearfix cta-more">
                            <a href="“#link1”">Create Your Loop <i class="fa fa-angle-right" aria-hidden="true"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row section-row" id="row-5">
            <div class="container">
                <div class="col-md-12 text-center cta-text">
                    <div class="clearfix cta-text-wrapper">
                        <div class="clearfix headline">
                            <h2>Claim Your #Hashtag<br> Before It’s Gone</h2>
                        </div>
                        <div class="clearfix text">
                            <p>Pioneers get the best real estate. <span class="bold">Claim your exclusive #hashtag<br> today to start a conversation with your fans.</span></p>
                        </div>
                        <div class="clearfix cta-btn">
                            <a href="#" class="btn red-button lg-button">GET YOUR HASHTAG</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
[% END %]
[% INCLUDE layout/root_template.html %]
