[% title = "Standard Subpage" %]
[% page_template_class = 'type-standard-subpage' %]
[% content = BLOCK %]
<div class="container-fluid standard-subpage standard-subpage-no-sidebar">
    <div class="row" id="hero">
        <div class="container">
            <div class="col-md-12">
                <div class="clearfix icon">
                    <img src="/img/pages/standard-subpage/img/icon.jpg" alt="icon">
                </div>
                <div class="clearfix headline">
                    <h1>Headline</h1>
                </div>
            </div>
        </div>
    </div>
    <div class="row standard-subpage-content">
        <div class="container">
            <div class="col-md-1"></div>
            <div class="col-md-10 main-content">
                <h2>Lorem ipsum dolor sit amet</h2>
                <p>Main Content -- Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed nec imperdiet tortor, a dignissim magna. Etiam suscipit facilisis lectus sed rutrum. Proin pulvinar tristique risus. Integer pulvinar odio nec arcu blandit placerat. Nunc in tempus risus. Sed blandit leo id sem consequat, et ultricies justo mattis. Pellentesque gravida sem at libero feugiat, a lacinia ex vestibulum. Quisque eu commodo mi.</p>
                <br>
                <p><img src="/img/pages/standard-subpage/img/placeholder.jpg" alt="placeholder"></p>
                <h3>Lorem Ipsum Dolor</h3>
                <p>Curabitur sit amet mattis enim. Sed consequat venenatis commodo. Nam ultricies, erat a sodales dictum, libero massa maximus tortor, nec pulvinar mi justo sed ligula. Praesent sem nisl, aliquam ac velit non, aliquet pretium nibh. Curabitur nulla lectus, scelerisque non placerat eu, ullamcorper dapibus diam. Integer eleifend elementum turpis, a lobortis nulla ultricies ac. Praesent tincidunt erat sed ligula pharetra tristique. Maecenas congue quam ligula, vitae luctus libero dignissim quis. Nulla erat neque, rutrum et dignissim quis, placerat a mi. Sed cursus fringilla est, eget luctus neque fringilla eget. Quisque dignissim risus id velit sodales, nec eleifend ex sagittis. Vivamus luctus hendrerit porttitor.</p>
            </div>
            <div class="col-md-1"></div>
        </div>
    </div>
</div>
[% END %]
[% INCLUDE layout/root_template.html %]