[% page = "how-it-works" %]
[% title = "RingMail | How It Works" %]
[% content = BLOCK %]

	<div class="ringmail-subpage-hero-wrapper">
		<section class="ringmail-subpage-hero-section">
			
			<h1 class="ringmail-subpage-hero-h1">Lorem ipsum headline</h1>
			
			
		</section>
	</div>
	





		
	<div class="ringmail-home-highlight-wrapper">
		<section class="ringmail-home-highlight-section">
				
				<h2 class="ringmail-subpage-h2">adipscing elit sub-headline</h2>
				<h2 class="ringmail-subpage-h3">PAGE DESCRIPTION LOREM IPSUM DOLOR SIT AMET ADIPSCING ELIT SED NEC IMPERDIET TORTOR A DIGNISSIM ETIAM SUSCIPIT FACILISIS ADIPSCING ELIT</h3>

			
		</section>
	</div>		


	<div class="ringmail-home-secure-wrapper">
		<section class="subpage-content-section">
			
			<div class="subpage-content-wrapper">
				
				<p class="subpage-content-p">Main Content -- Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed nec imperdiet tortor, a dignissim magna. Etiam suscipit facilisis lectus sed rutrum. Proin pulvinar tristique risus. Integer pulvinar odio nec arcu blandit placerat. Nunc in tempus risus. Sed blandit leo id sem consequat, et ultricies justo mattis. Pellentesque gravida sem at libero feugiat, a lacinia ex vestibulum. Quisque eu commodo mi.</p>
			
			</div>
			
			<aside class="subpage-content-aside">
				
				<figure class="subpage-aside-fig">
					<img src="/img/website/placeholder.jpg" alt="" />
					
					<figcaption>Image caption</figcaption>
					
				</figure>
				
			</aside>
			
			<div class="subpage-content-wrapper">
				
				<h2 class="subpage-content-h2">LOREM IPSUM DOLOR</h2>
				
				<p class="subpage-content-p">Curabitur sit amet mattis enim. Sed consequat venenatis commodo. Nam ultricies, erat a sodales dictum, libero massa maximus tortor, nec pulvinar mi justo sed ligula. Praesent sem nisl, aliquam ac velit non, aliquet pretium nibh. Curabitur nulla lectus, scelerisque non placerat eu, ullamcorper dapibus diam. Integer eleifend elementum turpis, a lobortis nulla ultricies ac. Praesent tincidunt erat sed ligula pharetra tristique. Maecenas congue quam ligula, vitae luctus libero dignissim quis. Nulla erat neque, rutrum et dignissim quis, placerat a mi. Sed cursus fringilla est, eget luctus neque fringilla eget. Quisque dignissim risus id velit sodales, nec eleifend ex sagittis. Vivamus luctus hendrerit porttitor.</p>
			
			</div>
			
			<aside class="subpage-content-aside">
				
				<figure class="subpage-aside-fig">
					<img src="/img/website/placeholder.jpg" alt="" />
					
					<figcaption>Image caption</figcaption>
					
				</figure>
				
			</aside>
			
			<div class="subpage-content-wrapper">
				
				<h2 class="subpage-content-h2">LOREM IPSUM DOLOR</h2>
				
				<p class="subpage-content-p">Suspendisse volutpat vehicula ﬁnibus. Nam convallis congue augue vel volutpat. Mauris justo ipsum, eleifend sit amet magna vitae, pellentesque aliquam magna. Nulla pulvinar quam justo, quis rutrum ligula fermentum vitae. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Morbi in tristique risus, nec tristique sapien. Vivamus vulputate felis sed condimentum vestibulum. Fusce a elit ac dui malesuada interdum.</p>
			
			</div>
			
		</section>
			
	
	</div>
	
	<!--div class="ringmail-home-secure-wrapper">
		<section class="ringmail-home-secure-section">
			<img class="home-secure-img" src="images/highlight-secure-icon.png" alt="secure" />
			<h2 class="home-secure-h2">secure</h2>
			<p class="home-secure-p">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc tristique varius ante et viverra. Integer porttitor, velit ut feugiat ornare, eros lacus molestie neque, eget commodo est neque non mi. Duis id bibendum sem. Donec interdum porttitor mi, vel laoreet neque viverra et. Cras sed lobortis odio. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Fusce porta magna mauris, id scelerisque lacus laoreet non. Praesent porta ipsum eu eros sagittis semper. Aliquam lectus diam, convallis vel volutpat non, faucibus dictum tortor. Vestibulum rutrum convallis arcu, sit amet commodo lectus sodales ac. Nulla id leo massa. Vestibulum vehicula nulla sapien, condimentum eleifend nisl rhoncus vitae. Maecenas dolor dolor, feugiat ut suscipit sit ame.</p>
			<button type="button" class="secure-signup-button" data-toggle="modal" data-target="#myModal">Sign Up For Free</button>
		
		</section>
	
	</div-->

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>

      </div>
      <div class="modal-body">




<form id="form18" name="form18" class="wufoo topLabel page" accept-charset="UTF-8" autocomplete="off" enctype="multipart/form-data" method="post" novalidate action="https://referdyl.wufoo.com/forms/z1xp00gl0qcllgn/#public">
  <h4 class="modal-title" id="myModalLabel">Get in the loop</h4>
<ul class="wufoo-ringmail-ul">

	<li id="foli1" class="notranslate      ">
		<label class="desc" id="title1" for="Field1">Name</label>
			<input id="Field1" name="Field1" type="text" class="name" value="" size="8" tabindex="1"       />
	</li>
	
	<li id="foli15" class="notranslate      ">
		<label class="desc" id="title15" for="Field15">Email</label>
		<input id="Field15" name="Field15" type="email" spellcheck="false" class="email" value="" maxlength="255" tabindex="3"       />
	</li>
	
	<li id="foli16" class="phone notranslate      ">
		<label class="desc" id="title16" for="Field16">Phone Number</label>
			<input id="Field16" name="Field16" type="tel" class="phone-1" value="" size="3" maxlength="3" tabindex="4"       />
			<input id="Field16-1" name="Field16-1" type="tel" class="phone-2" value="" size="3" maxlength="3" tabindex="5" />
			<input id="Field16-2" name="Field16-2" type="tel" class="phone-3" value="" size="4" maxlength="4" tabindex="6" />
	</li>
	<li class="">
			<input id="saveForm" name="saveForm" class="button" type="submit" value="Submit"/> 
	</li>
	
	<p class="ringmail-form-p">We guarantee 100% privacy. Your information will not be shared.</p>
	<li class="hide">
		<label for="comment">Do Not Fill This Out</label><textarea name="comment" id="comment" rows="1" cols="1"></textarea><input type="hidden" id="idstamp" name="idstamp" value="xxoSs8bhsvfgjNsaDRNZiY7Xtq+WqhqaX/GRt2WCsUs=" />
	</li>

</ul>
</form>
 

      </div>
     
    </div>
  </div>
</div>



[% END %]
[% INCLUDE layout/root_template.html %]