/* Reset Styles
 ***********************/
html, body, div, span, applet, object, iframe,h1, h2, h3, h4, h5, h6, p, blockquote, pre,a, abbr, acronym, address, big, cite, code,del, dfn, em, img, ins, kbd, q, s, samp,small, strike, strong, sub, sup, tt, var,b, u, i, center,dl, dt, dd, ol, ul, li,fieldset, form, label, legend,table, caption, tbody, tfoot, thead, tr, th, td,article, aside, canvas, details, embed,figure, figcaption, footer, header, hgroup,menu, nav, output, ruby, section, summary,time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,footer, header, hgroup, menu, nav, section {display: block;}
ol, ul {list-style: none;}
blockquote, q {quotes: none;}
blockquote:before, blockquote:after,q:before, q:after {content: ''; content: none;}
table {border-collapse: collapse; border-spacing: 0;}
strong {font-weight: bold;}
em {font-style: italic;}
a {outline: none;}
button:focus {
	outline: 0;
}
button:hover {
	text-decoration: none;
	cursor: pointer;
	filter: alpha(opacity=75);
	opacity: .75;
}
/* ==== clearfix styles ===================================================== */
.clear {
	clear: both;
	display: block;
	height: 0;
	overflow: hidden;
	visibility: hidden;
	width: 0;
}
.clearfix:after {
	clear: both;
	content: " ";
	display: block;
	font-size: 0;
	height: 0;
	line-height: 0;
	visibility: hidden;
	width: 0;
}
/* ==== Fonts ===================================================== */
@font-face {
	font-family: 'HelveticaNeueLT Com 57 Cn';
	src: url('/font/HelveticaNeueLTCom-Cn.eot');
	src: url('/font/HelveticaNeueLTCom-Cn.eot?#iefix') format('embedded-opentype'),
	url('/font/HelveticaNeueLTCom-Cn.woff') format('woff'),
	url('/font/HelveticaNeueLTCom-Cn.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'HelveticaNeueLT Com 67 MdCn';
	src: url('/font/HelveticaNeueLTCom-MdCn.eot');
	src: url('/font/HelveticaNeueLTCom-MdCn.eot?#iefix') format('embedded-opentype'),
	url('/font/HelveticaNeueLTCom-MdCn.woff') format('woff'),
	url('/font/HelveticaNeueLTCom-MdCn.ttf') format('truetype');
	font-weight: 500;
	font-style: normal;
}
@font-face {
	font-family: 'HelveticaNeueLT Com 57 Cn';
	src: url('/font/HelveticaNeueLTCom-BdCn.eot');
	src: url('/font/HelveticaNeueLTCom-BdCn.eot?#iefix') format('embedded-opentype'),
	url('/font/HelveticaNeueLTCom-BdCn.woff') format('woff'),
	url('/font/HelveticaNeueLTCom-BdCn.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}
@font-face {
	font-family: 'HelveticaNeueLT Com 65 Md';
	src: url('/font/HelveticaNeueLTCom-Md.eot');
	src: url('/font/HelveticaNeueLTCom-Md.eot?#iefix') format('embedded-opentype'),
	url('/font/HelveticaNeueLTCom-Md.woff') format('woff'),
	url('/font/HelveticaNeueLTCom-Md.ttf') format('truetype');
	font-weight: 500;
	font-style: normal;
}
@font-face {
	font-family: 'HelveticaNeueLT Com 55 Roman';
	src: url('/font/HelveticaNeueLTCom-Bd.eot');
	src: url('/font/HelveticaNeueLTCom-Bd.eot?#iefix') format('embedded-opentype'),
	url('/font/HelveticaNeueLTCom-Bd.woff') format('woff'),
	url('/font/HelveticaNeueLTCom-Bd.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}
@font-face {
	font-family: 'HelveticaNeueLT Com 43 LtEx';
	src: url('/font/HelveticaNeueLTCom-LtEx.eot');
	src: url('/font/HelveticaNeueLTCom-LtEx.eot?#iefix') format('embedded-opentype'),
	url('/font/HelveticaNeueLTCom-LtEx.woff') format('woff'),
	url('/font/HelveticaNeueLTCom-LtEx.ttf') format('truetype');
	font-weight: 300;
	font-style: normal;
}
@font-face {
	font-family: 'HelveticaNeueLT Com 45 Lt';
	src: url('/font/HelveticaNeueLTCom-Lt.eot');
	src: url('/font/HelveticaNeueLTCom-Lt.eot?#iefix') format('embedded-opentype'),
	url('/font/HelveticaNeueLTCom-Lt.woff') format('woff'),
	url('/font/HelveticaNeueLTCom-Lt.ttf') format('truetype');
	font-weight: 300;
	font-style: normal;
}
/* ==== primary styles ===================================================== */
html {
	min-height: 100%;
	background-color: #FFF;
	max-width: 1200px;
	margin: 0 auto;
}
body {
	font-family: 'Helvetica Neue', "Open Sans", "Arial", sans-serif;
	font-size: 14px;
	color: #333;
	height: 100%;
	width: 100%;
	padding: 0;
}
img {
	max-width: 100%;
	width: auto; /* for ie 8 */
}
button:hover {
	text-decoration: none;
	cursor: pointer;
	filter: alpha(opacity=75);
	opacity: .75;
}
.ringpage-header {
	float: left;
	width: 100%;
	height: 100px;
	background-color: [% ringpage.color_2 %];
	z-index: 1000;
}
.logo {
	position: absolute;
	margin-left: auto;
	margin-right: auto;
	left: 0;
	right: 0;
	margin: 20px auto;
	display: block;
	padding: 6px;
	background-color: #fff;
	height: 150px;
	width: 150px;
}
.logo-img {
	height: 150px;
	width: 150px;	
	position: relative;
	overflow: hidden;
}
.logo.circle {
	border-radius: 50%;
}
.logo.square {
	border-radius: none;
}
.logo-img.circle {
	border-radius: 50%;
}
.logo-img.square {
	border-radius: none;
}
.ringpage-cta-section-wrapper {
	float: left;
	width: 100%;
	background-color: #000; /* delete, bg image will go here */
	[% IF ringpage.image == '' %]
	background: url('/img/image-ph.jpg') no-repeat center center;
	height: 290px;
	[% ELSE %]
	background: url('[% ringpage.image %]') no-repeat center center;
	height: [% ringpage.image_height %]px;
	[% END %]
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	z-index: 500;
}
.ringpage-cta-button {
	font-family: 'HelveticaNeueLT Com 57 Cn';
	font-size: 40px;
	color: #fff;
	background-color: [% ringpage.color_1 %];
	display: block;
	padding: 22px 0 12px;
	width: 50%;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	border: 0;	
	margin: 0 auto;
}
.ringpage-cta-section .ringpage-cta-button.btn-a {
	position: relative;
	top: 160px;
	margin: 0 auto;
}
.ringpage-cta-section .ringpage-cta-button.btn-a {
	position: relative;
	top: [% IF ringpage.buttons.size > 1 %]90px[% END %];
	margin: 0 auto;
}
.ringpage-cta-section .ringpage-cta-button.btn-b {
	position: relative;
	top: 100px;
	margin: 0 auto;
}
.ringpage-cta-section .ringpage-cta-button.btn-c {
	position: relative;
	top: 110px;
	margin: 0 auto;
}
@media only screen and (max-width: 768px) {
	.ringpage-cta-section-wrapper {
		width: 100%;
		[% IF ringpage.image == '' %]
		background-image: url('/img/image-ph.jpg');
		height: 290px;
		[% ELSE %]
		background-image: url('[% ringpage.image %]');
		height: [% ringpage.image_height %]px;
		[% END %]
		-webkit-background-size: contain;
		-moz-background-size: contain;
		-o-background-size: contain;
		background-size: contain;
		position: relative;
		top: 32px;
	}
	.ringpage-cta-button {	
		font-family: 'HelveticaNeueLT Com 57 Cn';
		font-size: 28px;
		color: #fff;
		background-color: [% ringpage.color_1 %];
		display: block;
		padding: 22px 0 12px;
		width: 80%;
		-webkit-border-radius: 10px;
		-moz-border-radius: 10px;
		border-radius: 10px;
		border: 0;	
	}
	.ringpage-cta-section .ringpage-cta-button.btn-a {
		position: relative;
		top: 160px;
		margin: 0 auto;
	}
	.ringpage-cta-section .ringpage-cta-button.btn-a {
		position: relative;
		top: [% IF ringpage.buttons.size > 1 %]90px[% END %];
		margin: 0 auto;
	}
	.ringpage-cta-section .ringpage-cta-button.btn-b {
		position: relative;
		top: 100px;
		margin: 0 auto;
	}
	.ringpage-cta-section .ringpage-cta-button.btn-c {
		position: relative;
		top: 110px;
		margin: 0 auto;
	}
}
.ringpage-content-section-wrapper {
	float: left;
	width: 100%;
	background-color: [% ringpage.color_2 %];
	color: #32352f;
}
.ringpage-content-section {
	max-width: 800px;
	margin: 40px auto;
	text-align: center;
	color: #32352f;
}
.ringpage-content-h1 {
	font-family: 'HelveticaNeueLT Com 57 Cn';
	font-size: 50px;
	margin: 40px auto 20px;
	max-width: 760px;
}
.ringpage-content-p {
	font-family: 'HelveticaNeueLT Com 67 MdCn';
	margin: 0 auto;
	font-size: 22px;
	text-align: center;
	max-width: 760px;
}
.ringpage-content-section-wrapper-2 {
	float: left;
	width: 100%;
	background-color: [% ringpage.color_3 %];
	color: #32352f;
}
.ringpage-content-section-2 {
	max-width: 800px;
	margin: 40px auto;
	text-align: left;
	color: #333;
}
.ringpage-content-h1-2 {
	font-family: 'HelveticaNeueLT Com 57 Cn';
	font-size: 36px;
	margin: 40px auto 20px;
	max-width: 760px;
	line-height: 1.4em;
}
.ringpage-content-p-2 {
	font-family: 'HelveticaNeue';
	font-size: 21px;
	margin: 0 auto;
	max-width: 760px;
	line-height: 1.4em;
}
.ringpage-content-p-2 a:link, .ringpage-content-p-2 a:visited, .ringpage-content-p-2 a:active {
	text-decoration: underline;
	color: #ed5349;
}
.ringpage-footer-wrapper {
	float: left;
	width: 100%;
	color: #949494;
	background-color: [% ringpage.color_4 %];
}
.ringpage-footer {
	max-width: 800px;
	margin: 40px auto;
	text-align: center;
}
.ringpage-footer-p {
	font-size: 18px;
}
.ringpage-footer-p-2 {
	font-family: 'HelveticaNeue';
	font-style: italic;
	font-size: 18px;
	margin-bottom: 20px;
	line-height: 1.4em;
}
@media only screen and (max-width: 768px) {
	.ringpage-header {
		float: left;
		width: 100%;
		height: 75px;
		position: absolute;
	}
	.logo {
		margin: 20px auto;
		display: block;
		padding: 4px;
		height: 100px;
		width: 100px;
	}
	.logo-img {
		height: 100px;
		width: 100px;
		position: relative;
		overflow: hidden;
	}
	.logo.circle {
		border-radius: 60px;
	}
	.logo.square {
		border-radius: none;
	}
	.logo-img.circle {
		border-radius: 50%;
	}
	.logo-img.square {
		border-radius: none;
	}
	.ringpage-cta-section {
		max-width: 800px;
		margin: 40px auto;
		text-align: center;
	}
	.ringpage-content-section {
		width: 90%;
		margin: 40px auto;
		text-align: center;
	}
	.ringpage-content-section-2 {
		width: 90%;
		margin: 40px auto;
		text-align: left;
	}
	.ringpage-footer {
		width: 90%;
	}
	.ringpage-content-h1-2 {
		font-size: 26px;
	}
	.ringpage-content-p-2 {
		font-size: 16px;
	}
	.ringpage-content-h1 {
		font-size: 42px;
	}
	.ringpage-content-p {
		font-size: 18px;
	}
	.ringpage-footer-p-2 {
		font-size: 16px;
	}
	.ringpage-footer-p {
		font-size: 16px;
	}
}
.social-wrapper {
	float: left;
	width: 100%;
	display: block;
	background-color: #000;
	min-height: 60px;
}
.social-nav {
	max-width: 800px;
	margin: 10px auto 8px;
}
.social-ul {
	width: 100%;
	display: block;
	margin: 0 auto;
	text-align: center;
}
.social-li {
	display: inline-block;
	margin: 10px 5px 10px 0;
}
.social-li:last-of-type {
	margin-right: 0;
}
.social-li-a {
	display: block;
	height: 100%;
	width: 100%;
}
@media only screen and (max-width: 768px) {
	.social-nav {
		margin: 10px auto 8px;
	}	
	.social-ul {
		width: 50%;
		margin-bottom: 10px;
	}
	.social-li {
		display: inline-block;
		margin: 5px 5px 5px 0;
	}
	.social-li:nth-of-type(4n) {
		margin-right: 0;
	}
}
.home-span {
	display: block;
	background: url('/img/social-bar.png') 0 0 no-repeat;
	height: 36px;
	width: 36px;
}
.fb-span {
	display: block;
	background: url('/img/social-bar.png') -41px 0 no-repeat;
	height: 36px;
	width: 36px;
}
.pin-span {
	display: block;
	background: url('/img/social-bar.png') -82px 0 no-repeat;
	height: 36px;
	width: 36px;
}
.lin-span {
	display: block;
	background: url('/img/social-bar.png') -123px 0 no-repeat;
	height: 36px;
	width: 36px;
}
.tw-span {
	display: block;
	background: url('/img/social-bar.png') -165px 0 no-repeat;
	height: 36px;
	width: 36px;
}
.gplus-span {
	display: block;
	background: url('/img/social-bar.png') -207px 0 no-repeat;
	height: 36px;
	width: 36px;
}
.inst-span {
	display: block;
	background: url('/img/social-bar.png') -248px 0 no-repeat;
	height: 36px;
	width: 36px;
}
.ytube-span {
	display: block;
	background: url('/img/social-bar.png') -290px 0 no-repeat;
	height: 36px;
	width: 36px;
}
.social-li a:hover {
	text-decoration: none;
	cursor: pointer;
	filter: alpha(opacity=75);
	opacity: .75;
}
/* ==|== non-semantic helper classes ======================================== */
.ir { display: block; border: 0; text-indent: -999em; overflow: hidden; background-color: transparent; background-repeat: no-repeat; text-align: left; direction: ltr; }
.ir br { display: none; }
.hidden { display: none !important; visibility: hidden; }
.visuallyhidden { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus { clip: auto; height: auto; margin: 0; overflow: visible; position: static; width: auto; }
.invisible { visibility: hidden; }
.ir { display: block; border: 0; text-indent: -999em; overflow: hidden; background-color: transparent; background-repeat: no-repeat; text-align: left; direction: ltr; }
.ir br { display: none; }
.hidden { display: none !important; visibility: hidden; }
.visuallyhidden { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus { clip: auto; height: auto; margin: 0; overflow: visible; position: static; width: auto; }
.invisible { visibility: hidden; }
.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after:after { clear: both; }
.clearfix { zoom: 1; }
/* ==|== print styles ======================================================= */
@media print {
	* { background: transparent !important; color: black !important; text-shadow: none !important; filter:none !important; -ms-filter: none !important; }
	a, a:visited { text-decoration: underline; }
	a[href]:after { content: " (" attr(href) ")"; }
	abbr[title]:after { content: " (" attr(title) ")"; }
	.ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after { content: ""; }
	pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
	thead { display: table-header-group; }
	tr, img { page-break-inside: avoid; }
	img { max-width: 100% !important; }
	@page { margin: 0.5cm; }
	p, h2, h3 { orphans: 3; widows: 3; }
	h2, h3 { page-break-after: avoid; }
}
