<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>[% hashtag %]</title>

    <link href="/css/business/bootstrap.min.css" rel="stylesheet">
    <link href="/css/business/mdb.min.css" rel="stylesheet">
    <link href="/css/business/font-awesome.css" rel="stylesheet">
    <link href="/css/business/style.css" rel="stylesheet">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.2.0/dist/leaflet.css" integrity="sha512-M2wvCLH6DSRazYeZRIm1JnYyh22purTM+FDB5CsyxtQJYeKq83arPe5wgbNmcFXGqiSH2XR8dT/fJISVA1r/zQ==" crossorigin=""/>
</head>

<body>

<main>
    <div class="card">
	    <figure>
	    	<img class="" src="/img/business/rp-logo.png" alt="" />
	    </figure>
	    
	    <h1>[% hashtag %]</h1>
	    
		[% IF name %]
	    <h3>[% name %]</h3>
	    [% END %]
        <!--<h2>Business RingPage</h2>-->
 
        <!--<p>Access exclusive content connected to #Hashtags via the RingMail app.</p>-->
        <p>&nbsp;</p>
        
        <button class="btn btn-actn"><i class="fa fa-phone"></i> Call</button>
        <button class="btn btn-actn"><i class="fa fa-envelope"></i> Email</button>
        <!--button class="btn btn-actn"><i class="fa fa-comments"></i> Text</button-->
        <p class="address-p">
		[% IF address %]
				[% address %]
				[% IF address_extended %]
				, [% address_extended %]
				[% END %]
				[% IF po_box %]
				, [% po_box %]
				[% END %]
				[% IF post_town %]
				, [% post_town %]
				[% END %]
		[% END %]
		[% IF locality && region %]
				<br/>	
				[% locality %], [% region %] [% postcode %]
		[% END %]	
		</p>
	    <a href="https://twitter.com/intent/tweet?text=🚀%23test%20ring.ml/test%20" class="btn btn-post"><i class="fa fa-twitter-square"></i> Tweet This</a>

		[% IF hours_display %]
		<p/>
		<p>
			<strong>Hours:</strong><br/>[% hours_display %]
		</p>
		[% END %]

		<p/>
		<p>
			<strong>Map:</strong>
			<div id="placemap"></div>
		</p>

    </div>
    
    <div class="card card-share">
	    <ul>
			[% IF website %]
			<li>
				<a class="share-a" href="[% websiteLink %]"><i class="fa fa-home"></i></a>
			</li>
			[% END %]
			[% IF social_twitter %]
	    	<li>
	    		<a class="share-a" href="[% social_twitter %]"><i class="fa fa-twitter-square"></i></a>
	    	</li>
			[% END %]
			[% IF social_facebook %]
	    	<li>
	    		<a class="share-a" href="[% social_facebook %]"><i class="fa fa-facebook-square"></i></a>
	    	</li>
			[% END %]
	    	<!--<li>
	    		<a class="share-a"><i class="fa fa-facebook-square"></i></a>
	    	</li>
	    	<li>
	    		<a class="share-a"><i class="fa fa-linkedin-square"></i></a>
	    	</li>
	    	<li>
	    		<a class="share-a"><i class="fa fa-google-plus-square"></i></a>
	    	</li>
	    	<li>
	    		<a class="share-a"><i class="fa fa-youtube"></i></a>
	    	</li>
	    	<li>
	    		<a class="share-a"><i class="fa fa-yelp"></i></a>
	    	</li>
	    	<li>
	    		<a class="share-a"><i class="fa fa-instagram"></i></a>
	    	</li>
	    	<li>
	    		<a class="share-a"><i class="fa fa-pinterest"></i></a>
	    	</li>-->
	    	
	    </ul>
    </div>
    
    <footer>
		    <div class="row align-items-center">
			    <div class="col-6">
			    	<button class="btn btn-claim">Claim This</button>
			    </div>
			    <div class="col-6 pr-0">
					<p>
						[% IF address %]
								[% address %]
								[% IF address_extended %]
								, [% address_extended %]
								[% END %]
								[% IF po_box %]
								, [% po_box %]
								[% END %]
								[% IF post_town %]
								, [% post_town %]
								[% END %]
						[% END %]
						[% IF locality && region %]
								<br/>
								[% locality %], [% region %] [% postcode %]
						[% END %]	
					</p>
			    </div>
		    </div>
			<div class="row">
			    <div class="col-12">
			    	<p>
						This hashtag is available to customize if this is your business.<br/>
						<strong>Powered By RingMail</strong><br/>
						&copy; [% PERL %]print POSIX::strftime("%Y", localtime());[% END %] RingMail, Inc. - All rights reserved.
					</p>
			    </div>
		    </div>

    </footer>
    
</main>


    <script type="text/javascript" src="/js/business/jquery-3.2.1.min.js"></script>
    <script type="text/javascript" src="/js/business/popper.min.js"></script>
    <script type="text/javascript" src="/js/business/bootstrap.min.js"></script>
    <script type="text/javascript" src="/js/business/mdb.min.js"></script>
	<script src="https://unpkg.com/leaflet@1.2.0/dist/leaflet.js" integrity="sha512-lInM/apFSqyy1o6s89K4iQUKg6ppXEgsVxT35HbzUupEVRh2Eu9Wdl4tHj7dZO0s1uvplcYGmt3498TtHq+log==" crossorigin=""></script>
	<script type="text/javascript">
var placemap = L.map('placemap').setView([[% latitude %], [% longitude %]], 15);

L.tileLayer('https://api.tiles.mapbox.com/v4/{id}/{z}/{x}/{y}.jpg80?access_token={accessToken}', {
    attribution: 'Map data &copy; <a href="http://openstreetmap.org">OpenStreetMap</a> contributors, <a href="http://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery © <a href="http://mapbox.com">Mapbox</a>',
    maxZoom: 18,
    id: 'mapbox.streets-basic',
    accessToken: '[% mapbox_token %]'
}).addTo(placemap);

var marker = L.marker([[% latitude %], [% longitude %]]).addTo(placemap).bindPopup('<strong>[% name %]</strong><br/>[% IF address %][% address %][% IF address_extended %], [% address_extended %][% END %][% IF po_box %], [% po_box %][% END %] [% IF post_town %], [% post_town %][% END %][% END %]') .openPopup();

	</script>
</body>

</html>
