/* ladt resets */
.main-wrapper td {
	margin: 0;
	padding: 0;
	vertical-align: text-top;
}
.main-wrapper td label {
	margin: 0;
	padding: 0;
}
label, input, button, select, textarea {
	display: inline-block;
}
select, input[type="file"] {
	display: inline-block;
	height: inherit;
	line-height: inherit;
}
input[type="file"] {
	display: inline-block;
	height: inherit;
	line-height: 10px;
}
/* ladt styles */
.main-wrapper {
}
.main-wrapper .table tbody tr td {
	padding: 10px 15px;
}
.main-wrapper ul {
	margin: 0 auto;
	padding: 0;
}
.radio-wrapper {
}
.main-wrapper ul li {
	list-style-type: none;
	padding: 0;
}
.radio-wrapper label, .radio-wrapper input {
	padding: 0;
	display: inline-block;
	vertical-align: middle;
}
.main-wrapper .td-label {
	width: 20%;
	border-top: none!important;
	border-right: none;
	font-weight: bold;
}
.td-options tr, .td-inputs tr {
	display: flex;
}
table td td {
	border: none !important;
}
.main-wrapper .td-options {
	width: 25%;
	border-top: none!important;
}
.main-wrapper .td-options-2 {
	width: 15%;
	border-top: none!important;
}
.td-label {
	line-height: inherit;
}
.main-wrapper .td-inputs {
	border-top: none!important;
}
.main-wrapper input {
	margin: 0;
}
.radio-wrapper input {
	width: 20%;
}
.main-wrapper .radio-wrapper label:first-of-type {
	margin-left: 0;
}
.theme-ul li {
	text-align: center;
	display: inline-block;
	width: 24%;
	box-sizing: border-box;
	margin: 0;
	vertical-align: top;
}
.theme-ul ul li:first-of-type {
	border: none;
}
.theme-ul ul li {
	float: left;
	display: inline-block;
	height: 18px;
	width: 18px;
	box-sizing: border-box;
	margin: 0;
}
.theme-ul ul li span input {
	display: inline-block;
	vertical-align: baseline;
	margin-right: 4px;
}
textarea {
	margin-bottom: 0;
}
.swatch input {
	width: 5%;
	padding: 1px 3px;
}
.inputs-ul li {
	margin: 10px 0;
}
.main-wrapper .td-label label {
	font-weight: 600;
}
.modal-header.add-button {
	background-color: #f8f8f8;
	background-image: -moz-linear-gradient(top, #ffffff, #ededed);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#ededed));
	background-image: -webkit-linear-gradient(top, #ffffff, #ededed);
	background-image: -o-linear-gradient(top, #ffffff, #ededed);
	background-image: linear-gradient(to bottom, #ffffff, #ededed);
	border: 1px solid #c9c9c9;
}
.modal-body {
	margin: 0 auto;
}
.modal-ul, .modal-options-ul {
	margin: 0 auto;
	width: 70%;
}
.modal-ul li, .modal-options-ul li {
	list-style-type: none;
}
.modal-ul li {
}
.modal-options-ul li label {
	width: 25%;
	display: inline-block;
	vertical-align: baseline;
}
.modal-ul li label {
	width: 25%;
	display: inline-block;
	vertical-align: baseline;
}
.modal-options-ul li input {
	display: inline-block;
	vertical-align: baseline;
}
.modal-options-ul li span {
	display: inline-block;
	vertical-align: baseline;
	width: 100%;
}
.modal-options-ul li .modal-radio {
	display: inline-block;
	vertical-align: baseline;
	margin-right: 10px;
}
.modal-ul li .modal-radio {
	display: inline-block;
	vertical-align: baseline;
	margin-right: 12px;
}
.modal-header .close {
	color: #333;
}
.main-wrapper .buttons .button-data-ul {
	width:100%;
	box-sizing: border-box;
	display: block;
	margin: 10px auto;
	float: left;
}
.td-inputs .radio-wrapper button {
	margin-bottom: 10px;
	vertical-align: top;
}
.button-data-ul li {
	font-size: 14px;
	display: inline-block;
	vertical-align: text-top;
	margin: 10px 0;
	overflow-wrap: break-word;
	word-wrap: break-word;
	-ms-word-break: break-all;
	/* This is the dangerous one in WebKit, as it breaks things wherever */
	word-break: break-all;
	/* Instead use this non-standard one: */
	word-break: break-word;
}
.button-data-ul li {
	width: 55%;
	float: left;
	margin:0 1%;
}
.button-data-ul li:first-of-type {
	width: 34%;
}
.button-data-ul li:last-of-type {
	width: 20px;
	height: 20px;
	float: left;
	color: #fff;
	background-color: #ed5349;
	border-radius: 20px;
}
.button-data-ul li i {
	display: inline-block;
	vertical-align: middle;
	margin-left: 4px;
}
.button-data-ul li a:hover {
	text-decoration: none;
	cursor: pointer;
	filter: alpha(opacity=75);
	opacity: .75;
	color: #fff;
}
.button-data-ul li a:link, .button-data-ul li a:active, .button-data-ul li a:visited {
	color: #fff;
}
.delbtn-a {
	width: 21px;
	height: 21px;
	float: left;
	color: #fff;
	background-color: #ed5349;
	border-radius: 20px;
}
.delbtn-a i {
	margin-left: 7px;
	padding-left: 1px;
}
.remove-btn {
	width: 21px;
	height: 21px;
	float: left;
	color: #fff;
	background-color: #ed5349;
	border-radius: 20px;
}
.remove-btn i {
	padding-top: 3px;
	margin-top: 2px;
	margin-left: 6px;
}
#header {
	/* Rectangle 1 Copy: */
	background-color: #fff;
	/* Rectangle 1 Copy: */
	background-image: linear-gradient(-180deg, #c7c7c7 0%, rgba(255,255,255,0.00) 50%);
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
}
.logo-h1 {
	background-image: url("../img/rm-logo.png");
	background-repeat: no-repeat;
	background-size: contain;
	text-indent: -999em;
	float: left;
	height: 62px;
	width: 154px;
	display: inline-block;
	margin-top: 10px;
}
.logout-ul {
	display: block;
	float: right;
	margin-top: 9px;
}
.logout-ul li {
	display: inline-block;
}
.nav-collapse {
	position: relative;
	display: block;
	float: right;
	clear: right
}
#main-nav {
	position: relative;
	display: inline-block;
	padding: 0;
	margin-top: -1px;
	margin-right: 0;
	margin-bottom: 0;
}
#main-nav > li {
	float: left;
	padding: 0;
	margin: 0 4px 0 0;
	list-style: none;
}
#main-nav > li > a {
	padding: 10px 12px;
	font-size: 14px;
	font-weight: 600;
	letter-spacing: .025em;
	color: #ffffff;
	background: transparent;
	border: 1px solid transparent;
	-webkit-border-top-right-radius: 6px;
	-webkit-border-bottom-right-radius: 0;
	-webkit-border-bottom-left-radius: 0;
	-webkit-border-top-left-radius: 6px;
	-moz-border-radius-topright: 6px;
	-moz-border-radius-bottomright: 0;
	-moz-border-radius-bottomleft: 0;
	-moz-border-radius-topleft: 6px;
	border-top-right-radius: 6px;
	border-bottom-right-radius: 0;
	border-bottom-left-radius: 0;
	border-top-left-radius: 6px;
	-moz-background-clip: padding;
	-webkit-background-clip: padding-box;
	background-clip: padding-box;
	text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.8);
}
#main-nav > li > a,
#main-nav > li > a:hover,
#main-nav > li.open > a {
	color: #333;
	text-decoration: none;
	background-color: #1f3852;
	background-image: -moz-linear-gradient(top, #f4f4f4, #f4f4f4);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#f4f4f4), to(#f4f4f4));
	background-image: -webkit-linear-gradient(top, #f4f4f4, #f4f4f4);
	background-image: -o-linear-gradient(top, #f4f4f4, #f4f4f4);
	background-image: linear-gradient(to bottom, #f4f4f4, #f4f4f4);
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff24415f', endColorstr='#ff172b3e', GradientType=0);
	border: 1px solid #bcbcbc;
	-webkit-box-shadow: inset 0 1px 0 #ccc;
	-moz-box-shadow: inset 0 1px 0 #ccc;
	box-shadow: inset 0 1px 0 #ccc;
}
#main-nav > li > a:hover,
#main-nav > li.open > a {
	background-color: #1b3148;
	background-image: -moz-linear-gradient(top, #f4f4f4, #dfdfdf);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#058fe6), to(#0077c2));
	background-image: -webkit-linear-gradient(top, #f4f4f4, #dfdfdf);
	background-image: -o-linear-gradient(top, #f4f4f4, #dfdfdf);
	background-image: linear-gradient(to bottom, #f4f4f4, #dfdfdf);
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff1e3751', endColorstr='#ff16283a', GradientType=0);
}
#main-nav > li.active > a {
	color: #fff;
	background-color: #1b3148;
	background-image: -moz-linear-gradient(top, #0077c2, #058fe6 );
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#0077c2), to(#058fe6));
	background-image: -webkit-linear-gradient(top, #0077c2, #058fe6);
	background-image: -o-linear-gradient(top, #0077c2, #058fe6);
	background-image: linear-gradient(to bottom, #0077c2, #058fe6)
	filter: none !important;
	border-bottom-color: #058fe6;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.4);
}
.nav>li>a {
	display: block;
}
#masthead {
	background-color: #0077c2;
	background-image: -moz-linear-gradient(top, #058fe6, #0077c2);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#058fe6), to(#0077c2));
	background-image: -webkit-linear-gradient(top, #058fe6, #0077c2);
	background-image: -o-linear-gradient(top, #058fe6, #0077c2);
	background-image: linear-gradient(to bottom, #058fe6, #0077c2);
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	text-shadow: none;
	padding: 10px 0;
}
#masthead h2, #masthead p {
	margin-left: 0;
}
#masthead a {
	color: #fff;
	text-decoration: underline;
}
#topbar {
	background: #f4f4f4;
	border-bottom: none;
}
#topbar #top-nav > ul > li > a {
	color: #0077c2;
}
.masthead-text {
	color: #fff;
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.4);
}
#footer {
	padding: 20px 0;
	color: #ffffff;
	background: #0077c2;
	border-top: none;;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
}
#footer a {
	color: #fff;
	text-decoration: underline;
}
#preview {
	float: right;
}
.input-show {
	opacity: 0;
	height: 0;
	overflow: hidden;
}
input[type="radio"]:checked ~ .input-show,
input[type="checkbox"]:checked ~ .input-show {
	opacity: 1;
	overflow: visible;
	vertical-align: baseline;
	height: auto;
}
.modal-options-ul li {
	margin: 10px auto;
}
.modal-options-ul li input {
	display: inline-block!important;
	vertical-align: baseline;
}
.img-preview {
	max-height: 50px;
	max-width: 50px;
	display: inline-block;
}
.fileinput .fileinput-new button {
	display: inline-block;
	vertical-align: top;
}
.fileinput {
	display: inline-block;
	vertical-align: top;
	margin-bottom: 0;
}
.fileinput-new {
	display: inline-block;
	vertical-align: top;
}
.fileinput-new.thumbnail {
	display: inline-block;
	margin-left: 40px;
}
.td-label.logo, .td-label.image {
	vertical-align: top;
}
.fileinput .btn {
	vertical-align: top;
}
.shape-ph-img {
	margin: 0 10px 10px;
}
.nav-stacked li.active a, .nav-stacked li.active a:hover {
	color: #ffffff;
	background-color: #0077c2;
	text-shadow: none;
}
.nav-pills > li.active > a, .nav-pills > li.active > a:hover {
	color: #ffffff;
	background-color: #0077c2;
	text-shadow: none;
}
.hashtag-search, .table-cart {
	margin-left: 30px;
	margin-right: 30px;
}
.cart-total-p {
	font-size: 18px;
}
.hashtag-available {
	display: inline-block;
	min-width: 196px;
	height: 20px;
	vertical-align: top;
	padding: 5px 10px;
}
h2 {
	margin-top: 30px;
}
.table-highlight.table-bordered thead tr {
	background-color: #0077c2!important;
	background-repeat: repeat-x;
}
.table-highlight.table-bordered thead tr {
	background-color: #0077c2;
	background-repeat: repeat-x;
}
.table-highlight.table-bordered thead tr {
	background-image: -moz-linear-gradient(top, #058fe6, #0077c2);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#058fe6), to(#0077c2));
	background-image: -webkit-linear-gradient(top, #058fe6, #0077c2);
	background-image: -o-linear-gradient(top, #058fe6, #0077c2);
	background-image: linear-gradient(to bottom, #058fe6, #0077c2);
	background-repeat: repeat-x;
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.4);
}
.table-highlight.table-bordered thead th {
	color: #FFF;
	border-right: 1px solid #ddd;
	border-left: none;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.4);
}
.table-highlight.table-bordered {
	border-top: 1px solid #fff;
}
.btn-primary {
	color: #ffffff;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	background-color: #92b765;
	background-image: -moz-linear-gradient(top, #60cd67, #0b9b14);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#60cd67), to(#0b9b14));
	background-image: -webkit-linear-gradient(top, #60cd67, #0b9b14);
	background-image: -o-linear-gradient(top, #60cd67, #0b9b14);
	background-image: linear-gradient(to bottom, #60cd67, #0b9b14);
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffa0c277', endColorstr='#ff7da64b', GradientType=0);
	border-color: #0b9b14 #0b9b14 #567233;
	border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
	filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
}
.btn-primary:hover, .btn-primary:active, .btn-primary.active, .btn-primary.disabled, .btn-primary[disabled] {
	color: #ffffff;
	background-color: #0b9b14;
}
#content {
	margin-top: 0;
}
.ringpage-select {
	width: 10.5%;
	display: inline-block;
	vertical-align: middle;
	margin-bottom: 0;
}
.create-ringpage-btn {
	width: 8.5%;
}
.ringpage-select-p {
	line-height: 20px;
	margin: 20px 0;
}
.radio input[type="radio"], .checkbox input[type="checkbox"] {
	margin: 0;
}
.radio input[type="radio"], .checkbox input[type="checkbox"] {
	display: inline-block;
	margin-right: 10px;
	margin-top: 3px;
}
.radio, .checkbox {
	padding-left: 0;
}
