

/* Reset Styles
***********************/
html, body, div, span, applet, object, iframe,h1, h2, h3, h4, h5, h6, p, blockquote, pre,a, abbr, acronym, address, big, cite, code,del, dfn, em, img, ins, kbd, q, s, samp,small, strike, strong, sub, sup, tt, var,b, u, i, center,dl, dt, dd, ol, ul, li,fieldset, form, label, legend,table, caption, tbody, tfoot, thead, tr, th, td,article, aside, canvas, details, embed,figure, figcaption, footer, header, hgroup,menu, nav, output, ruby, section, summary,time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,footer, header, hgroup, menu, section {display: block;}
ol, ul {list-style: none;}
blockquote, q {quotes: none;}
blockquote:before, blockquote:after,q:before, q:after {content: ''; content: none;}
table {border-collapse: collapse; border-spacing: 0;}
strong {font-weight: bold;}
em {font-style: italic;}
a {outline: none;}
button:focus {
  outline: 0;
}



/* ==== clearfix styles ===================================================== */

.clear {
    clear: both;
    display: block;
    height: 0;
    overflow: hidden;
    visibility: hidden;
    width: 0;
}
.clearfix:after {
    clear: both;
    content: " ";
    display: block;
    font-size: 0;
    height: 0;
    line-height: 0;
    visibility: hidden;
    width: 0;
}

/* ==== Fonts ===================================================== */

@font-face {
    font-family: 'sf_ui_textheavy';
    src: url('/font/sfuitext-heavy-webfont.woff2') format('woff2'),
         url('/font/sfuitext-heavy-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'sf_ui_textheavy_italic';
    src: url('/font/sfuitext-heavyitalic-webfont.woff2') format('woff2'),
         url('/font/sfuitext-heavyitalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'sf_ui_textlight';
    src: url('/font/sfuitext-light-webfont.woff2') format('woff2'),
         url('/font/sfuitext-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'sf_ui_textlight_italic';
    src: url('/font/sfuitext-lightitalic-webfont.woff2') format('woff2'),
         url('/font/sfuitext-lightitalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'sf_ui_textmedium';
    src: url('/font/sfuitext-medium-webfont.woff2') format('woff2'),
         url('/font/sfuitext-medium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'sf_ui_textmedium_italic';
    src: url('/font/sfuitext-mediumitalic-webfont.woff2') format('woff2'),
         url('/font/sfuitext-mediumitalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'sf_ui_textregular';
    src: url('/font/sfuitext-regular-webfont.woff2') format('woff2'),
         url('/font/sfuitext-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'sf_ui_textitalic';
    src: url('/font/sfuitext-regularitalic-webfont.woff2') format('woff2'),
         url('/font/sfuitext-regularitalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'sf_ui_textsemibold';
    src: url('/font/sfuitext-semibold-webfont.woff2') format('woff2'),
         url('/font/sfuitext-semibold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'sf_ui_textsemibold_italic';
    src: url('/font/sfuitext-semibolditalic-webfont.woff2') format('woff2'),
         url('/font/sfuitext-semibolditalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'sf_compact_textbold_italic';
    src: url('/font/sfcompacttext-bolditalic-webfont.woff2') format('woff2'),
         url('/font/sfcompacttext-bolditalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'sf_ui_displayblack';
    src: url('/font/sfuidisplay-black-webfont.woff2') format('woff2'),
         url('/font/sfuidisplay-black-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'sf_ui_displaybold';
    src: url('/font/sfuidisplay-bold-webfont.woff2') format('woff2'),
         url('/font/sfuidisplay-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'sf_ui_displayheavy';
    src: url('/font/sfuidisplay-heavy-webfont.woff2') format('woff2'),
         url('/font/sfuidisplay-heavy-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'sf_ui_displaylight';
    src: url('/font/sfuidisplay-light-webfont.woff2') format('woff2'),
         url('/font/sfuidisplay-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'sf_ui_displaymedium';
    src: url('/font/sfuidisplay-medium-webfont.woff2') format('woff2'),
         url('/font/sfuidisplay-medium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'sf_ui_displayregular';
    src: url('/font/sfuidisplay-regular-webfont.woff2') format('woff2'),
         url('/font/sfuidisplay-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'sf_ui_displaysemibold';
    src: url('/font/sfuidisplay-semibold-webfont.woff2') format('woff2'),
         url('/font/sfuidisplay-semibold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'sf_ui_displaythin';
    src: url('/font/sfuidisplay-thin-webfont.woff2') format('woff2'),
         url('/font/sfuidisplay-thin-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'sf_ui_displayultralight';
    src: url('/font/sfuidisplay-ultralight-webfont.woff2') format('woff2'),
         url('/font/sfuidisplay-ultralight-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'sf_ui_textbold';
    src: url('/font/sfuitext-bold-webfont.woff2') format('woff2'),
         url('/font/sfuitext-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'sf_ui_textbold_italic';
    src: url('/font/sfuitext-bolditalic-webfont.woff2') format('woff2'),
         url('/font/sfuitext-bolditalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}


/* ==== primary styles ===================================================== */




.view {
	height: 100%;
}
        
.navbar {
	 background-color: transparent;
}

body {
	font-family: 'robotoregular', "Helvetica Neue", "Helvetica", "Open Sans", "Arial", sans-serif;
	font-size: 14px;
}



/* applies to GIF and PNG images; avoids blurry edges */
img[src$=".gif"], img[src$=".png"] {
    image-rendering: -moz-crisp-edges;         /* Firefox */
    image-rendering:   -o-crisp-edges;         /* Opera */
    image-rendering: -webkit-optimize-contrast;/* Webkit (non-standard naming) */
	image-rendering: crisp-edges;
    -ms-interpolation-mode: nearest-neighbor;  /* IE (non-standard property) */
}

.flex-center {
	color: #fff;
}
html, body, .view {
    height: 100%;
}   

.view {
    background: url("/img/rm_hero.jpg")no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
/*Contact section*/

#contact .fa {
    font-size: 2.5rem;
    margin-bottom: 1rem;
    color: #1C2331;
}

.hm-black-strong .full-bg-img, .hm-black-strong .mask {
	background-color: transparent;
}

.navbar .navbar-brand {
    -webkit-align-self: flex-start;
    -ms-flex-item-align: start;
    align-self: flex-start;
    overflow: visible;
    padding-top: 10px;
}

.navbar-nav .nav-item a:hover {
	cursor: default;
	cursor: pointer;
}

.navbar-nav .nav-item a.nav-link {
	font-size: 20px;
	font-family: 'sf_ui_textregular';
	padding: 16px 30px;
}

.navbar-nav .nav-item a.nav-link.btn {
	font-size: 20px;
	font-family: 'sf_ui_textregular';
	padding: 12px 40px;
	line-height: 24px;
	height: 48px;
	margin-left: 30px;
	
}

.fixed-top {
	position: absolute;
}

.navbar-brand {
	margin-right: 0;
	font-size: 1rem;
}

.logo-img {
	height: 70px;
	width: 170px!important;
	
}

section {
	max-width: 1140px;
	padding-top: 100px;
	padding-bottom: 110px;
	text-align: center;	
    margin-left: auto;
    margin-right: auto;
    padding-right: 15px;
    padding-left: 15px;
    position: relative;
}

.home-main-wrapper {
	width: 100%;
	height: 600px;
}

.home-main-wrapper-section {
	max-width: 960px;
	margin: 90px auto 0;
	color: #ffffff;
}

.comm-home-section-wrapper {
	width: 100%;
	background: url("/img/types_of_comm.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
	color: #ffffff;
}

.involved-home-section-wrapper {
	width: 100%;
	background: url("/img/get_involved.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
	color: #ffffff;
}

.map-contact-section-wrapper {
	width: 100%;
	background: url("/img/map.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.white-home-section-wrapper {
	width: 100%;
	background-color: #fff;
	color: #000000;
}

.white-home-section {
	position: relative;
}


.home-h1 {
	font-family: 'sf_ui_displayregular';
	font-size: 84px;
	width: 100%;
}

.white-home-section-wrapper .home-h2 {
	color: #444444;
}

.home-h2 {
	font-family: 'sf_ui_displaymedium';
	font-size: 42px;
	width: 100%;
}

.involved-home-section .home-h2 {
	font-family: 'sf_ui_textmedium';
}

.white-home-section-wrapper .home-h3 {
	color: #444444;
}

.home-h3 {
	font-family: 'sf_ui_displayregular';
	font-size: 28px;
	margin: 10px auto;
}

.home-h4 {
	font-family: 'sf_ui_displaymedium';
	font-size: 28px;
	margin: 10px auto;
}

.home-h5 {
	font-family: 'sf_ui_displayregular';
	font-size: 24px;
}

.home-h6 {
	font-family: 'sf_ui_displayregular';
	font-size: 24px;
	margin: 0 auto 32px;
}

.home-section-two-thirds .home-h5 {
	font-family: 'sf_ui_displaymedium';	
	margin-top: 28px;
}


.home-p1 {
	font-family: 'sf_ui_displaylight';
	font-size: 32px;
	width: 100%;
	margin: 20px auto;
}






.home-p2 {
	font-family: 'sf_ui_displaylight';
	font-size: 26px;
	width: 80%;
	margin: 10px auto;
}

.home-p3 {
	font-family: 'sf_ui_displaylight';
	font-size: 24px;
	width: 80%;
	margin: 10px auto;
}

.home-p-subtext {
	font-family: 'sf_ui_displaylight';
	font-size: 18px;
	margin: 22px auto 0;
}

.home-p-subtext.client-ringpage-p {
	width: 68%;
	margin: 20px auto;
}

.white-home-section-wrapper .home-p2 {
	color: #424753;
}

.white-home-section-wrapper .home-p-subtext {
	color: #424753;
}

.home-features-ul {
	float: left;
	width: 100%;
	margin: 78px auto 0;
}

.home-features-li {
	float: left;
	width: 31.33333333333%;
	margin: 0 1%;
}

.comm-home-section .home-features-ul {
	float: left;
	width: 100%;
	margin: 40px auto 0;
}

.comm-home-section .home-features-li {
	float: left;
	width: 23%;
	margin: 0 1%;
}

.home-features-li .home-p-subtext { 
	padding: 0 44px;
}

.home-features-li-img {
	border: 4px solid #f1f1f1;
	-webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;	
    max-width: 100%;
}

.comm-home-section .home-features-li-img {
	border: none;
	-webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    margin-bottom: 18px;	
    
}

.home-section-two-thirds {
	max-width: 62.666666667%;
	position: relative;
	left: 33.33333333%;
	text-align: left;
	margin: 0 1% 0 4%;
}

.two-thirds-ul {
	float: left;
	width: 46%;
}

.two-thirds-ul li {
	float: left;
	width: 100%;
}

ul.two-thirds-ul:first-of-type {
	float: left;
	margin-right: 1%;
}

ul.two-thirds-ul:last-of-type {
	float: right;
	margin-right: 1%;
}

.two-thirds-ul li .home-p-subtext {
	margin-top: 22px;
	font-size: 14px;
	font-family: 'sf_ui_textregular';
}

.home-p-subtext span {
	font-family: 'sf_ui_displaymedium';		
}

.iphone-overlap-section {
	position: relative;
	padding: 0;
	width: 100%;
}

.iphone-overlap {
    display: block; 
	max-width: 400px;
	height: 100%;
	left: 10px;
	position: absolute;
	top: 100px;
		
}

@media (max-width: 1120px) {
.iphone-overlap {
	max-width: 300px;
}

.home-section-two-thirds {
	max-width: 65.666666667%;
	position: relative;
	left: 30.33333333%;
	text-align: left;
	margin: 0 1% 0 4%;
}

}

@media (max-width: 960px) {
.iphone-overlap {
	display: none;
}

.home-section-two-thirds {
	max-width: 100%;
	left: 0;
	margin: 0 auto;
}

}


.iphone-overlap img {
	max-width: 100%;
}

/* @media (max-width: 1100px) {
.iphone-overlap {
   	max-width: 320px;
	height: 100%;
}
} */


.involved-home-section .home-section-two-thirds {
	text-align: center;
}

.ringpages-figure {
	max-width: 940px;
	margin: 0 auto;
}

.ringpages-figure img {
	width: 100%;
	margin: 64px auto;
	max-width: 100%;
}

.footer-section {
	padding-top: 20px;
	padding-bottom: 20px;
}

.footer-main {
	width: 100%;
	background-color: #2f4289;
	color: #ffffff;
}

.footer-main-p {
	text-align: center;
}

.btn.rm-btn {
	-webkit-border-radius: 60px;
    -moz-border-radius: 60px;
    border-radius: 60px;
	font-size: 18px;
	font-family: 'sf_ui_textregular';
	text-transform: capitalize;	
	line-height: 18px;	
	height: 48px;
}


.btn.rm-btn.rm-btn-grad  {
    background-color: #6979bd;
    /* IE9, iOS 3.2+ */
    background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIHZpZXdCb3g9IjAgMCAxIDEiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPjxsaW5lYXJHcmFkaWVudCBpZD0idnNnZyIgZ3JhZGllbnRVbml0cz0idXNlclNwYWNlT25Vc2UiIHgxPSItNCUiIHkxPSI0MCUiIHgyPSIxMDQlIiB5Mj0iNjAlIj48c3RvcCBzdG9wLWNvbG9yPSIjN2M2N2JkIiBzdG9wLW9wYWNpdHk9IjEiIG9mZnNldD0iMCIvPjxzdG9wIHN0b3AtY29sb3I9IiM1NThiYmMiIHN0b3Atb3BhY2l0eT0iMSIgb2Zmc2V0PSIxIi8+PC9saW5lYXJHcmFkaWVudD48cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI3ZzZ2cpIiAvPjwvc3ZnPg==);
    background-image: -webkit-gradient(linear, -4% 40%, 104% 60%,color-stop(0, rgb(124, 103, 189)),color-stop(1, rgb(85, 139, 188)));
    /* Android 2.3 */
    background-image: -webkit-repeating-linear-gradient(353deg,rgb(124, 103, 189) 0%,rgb(85, 139, 188) 100%);
    /* IE10+ */
    background-image: repeating-linear-gradient(97deg,rgb(124, 103, 189) 0%,rgb(85, 139, 188) 100%);
    background-image: -ms-repeating-linear-gradient(353deg,rgb(124, 103, 189) 0%,rgb(85, 139, 188) 100%);
}
 
/* IE8- CSS hack */
@media \0screen\,screen\9 {
    .rm-btn .rm-btn-grad  {
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ff7c67bd",endColorstr="#ff558bbc",GradientType=1);
    }
}


.btn.rm-btn.rm-btn-grey {
	background: rgb(224,223,223); /* Old browsers */
background: -moz-linear-gradient(left, rgba(224,223,223,1) 0%, rgba(255,255,255,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(left, rgba(224,223,223,1) 0%,rgba(255,255,255,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to right, rgba(224,223,223,1) 0%,rgba(255,255,255,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e0dfdf', endColorstr='#ffffff',GradientType=1 ); /* IE6-9 */


	color: #194081!important;
}

.btn.rm-btn.rm-btn-white {
	background: rgb(224,223,223); /* Old browsers */
background: -moz-linear-gradient(left, rgba(224,223,223,1) 0%, rgba(255,255,255,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(left, rgba(224,223,223,1) 0%,rgba(255,255,255,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to right, rgba(224,223,223,1) 0%,rgba(255,255,255,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e0dfdf', endColorstr='#ffffff',GradientType=1 ); /* IE6-9 */

	color: #194081!important;
	margin-top: 32px;
}

.map-form-footer {
	width: 100%;
	background-color: #fff;
	padding: 20px 40px 0;
}


.map-form-footer hgroup {
	width: 100%;
	float: left;
	text-align: left;
	margin-bottom: 22px;
	color: #444444;
}

.map-form-footer hgroup .home-h2 {
	width: 50%;
}

.form-inline .md-form {
	width: 22%;
	margin-right: 3%;
}

.map-form-footer .card-block {
	float: left;
	width: 100%;
	padding: 0;
}

.card-block .form-inline .form-control {
	width: 100%;
}

.card-block .btn {
	width: 100%;
	text-transform: capitalize;
	margin: 0 0 0 28px;
	font-size: 18px;
	font-family: 'sf_ui_displaylight';
	
}

.form-inline .md-form:last-of-type {
	margin-right: 0;
	width: 25%:
}


.map-form-footer hgroup .home-h2 {
	float: left;
	width: 50%;
	margin-bottom: 40px;
}

.home-h7 {
	font-family: 'sf_ui_displayregular';
	font-size: 24px;
}

.map-form-footer hgroup .home-h7 {
	float: right;
	width: 50%;
	padding-top: 20px;
	padding-bottom: 10px;
}

.map-form-footer hgroup .home-form-p {
	float: right;
	width: 50%;	
	font-family: 'sf_ui_displaylight';
	font-size: 16px;
}

.btn-default:active, .btn-default:focus, .btn-default:hover {
	background-color: #2BBBAD!important;
}

.map-form-footer input[type=text]:focus:not([readonly]) {
	border-bottom: 1px solid #7b67bd;
    box-shadow: 0 1px 0 0 #7b67bd;
}

.map-form-footer input[type=text]:focus:not([readonly])+label {
	color:  #7b67bd;
}

@media (max-width: 768px) {
.navbar .container .navbar-toggler-right {
    right: 0;
    top: 26px;
}

}




@media (min-width: 1200px) {
section {
    padding-right: 15px;
    padding-left: 15px;
}
}

@media (min-width: 992px) {
section {
    padding-right: 15px;
    padding-left: 15px;
}
}

@media (min-width: 768px) {
section {
    padding-right: 15px;
    padding-left: 15px;
}
}

@media (min-width: 576px) {
section {
    padding-right: 15px;
    padding-left: 15px;
}
}


@media (max-width: 825px) {
.home-h1 {
	font-size: 64px;
}

.home-h2 {
	font-size: 36px;
}

.home-p1 {
	font-size: 20px;
}

.home-features-li {
	width: 70%;
	margin: 40px 15% 0;
}

.map-form-footer hgroup .home-h7 {
	font-size: 20px;
	padding-top: 18px;
}

}


@media (max-width: 768px) {
.home-p1 {
	font-size: 24px;
}

.home-h2 {
	font-size: 30px;
	line-height: 36px;
}

.home-p3 {
	font-size: 18px;
}

.comm-home-section .home-features-li {
	width: 45%;
	margin: 20px 2.5%;
}

.home-h5 {
	font-size: 20px;
}

.map-form-footer hgroup {
	width: 48%;
	margin-right: 1%;
}

.map-form-footer hgroup .home-h2, .map-form-footer hgroup .home-h7, .map-form-footer hgroup .home-form-p {
	width: 100%;
	float: left;
	margin-bottom: 0;
}

.map-form-footer .card-block {
	width: 48%;
	float: right;
	margin-left: 2%;
}

.map-form-footer .card-block .form-inline {
	display: block;
}

.form-inline .md-form {
	width: 100%;
}

.card-block .btn {
	margin-left: 0;
}

.card-block .form-inline .form-control {
	margin-bottom: 0;
}

.map-form-footer .card-block input[type=text] {
	height: 1.5rem;
}

.home-features-li .home-p-subtext {
	padding: 0;
}

.home-features-ul {
	margin-top: 20px;
}

}

@media (max-width: 528px) {
.home-h1 {
	font-size: 56px;
}

.home-p1 {
	font-size: 18px;
}

.home-h3 {
	font-size: 20px;
}

.map-form-footer {
	padding: 20px;
}


.map-form-footer hgroup .home-h2 {
	font-size: 26px;
}
.map-form-footer hgroup {
	width: 100%;
	float: left;
}

.map-form-footer hgroup .home-h2, .map-form-footer hgroup .home-h7, .map-form-footer hgroup .home-form-p {
	width: 100%;
	float: left;
	margin-bottom: 0;
}

.map-form-footer .card-block {
	width: 100%;
	float: left;
}

	
}


@media only screen and (max-device-width: 568px) and (orientation:landscape) { 
	
}

@media only screen and (max-device-width: 320px) and (orientation:portrait) { 

}



/* ==|== non-semantic helper classes ======================================== */
.ir { display: block; border: 0; text-indent: -999em; overflow: hidden; background-color: transparent; background-repeat: no-repeat; text-align: left; direction: ltr; }
.ir br { display: none; }
.hidden { display: none !important; visibility: hidden; }
.visuallyhidden { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus { clip: auto; height: auto; margin: 0; overflow: visible; position: static; width: auto; }
.invisible { visibility: hidden; }

.ir { display: block; border: 0; text-indent: -999em; overflow: hidden; background-color: transparent; background-repeat: no-repeat; text-align: left; direction: ltr; }
.ir br { display: none; }
.hidden { display: none !important; visibility: hidden; }
.visuallyhidden { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus { clip: auto; height: auto; margin: 0; overflow: visible; position: static; width: auto; }
.invisible { visibility: hidden; }

.clearfix:before, .clearfix:after { content: ""; display: table; }

.clearfix:after:after { clear: both; }
.clearfix { zoom: 1; }


/* ==|== print styles ======================================================= */
 
@media print {
  * { background: transparent !important; color: black !important; text-shadow: none !important; filter:none !important; -ms-filter: none !important; } 
  a, a:visited { text-decoration: underline; }
  a[href]:after { content: " (" attr(href) ")"; }
  abbr[title]:after { content: " (" attr(title) ")"; }
  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after { content: ""; } 
  pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
  thead { display: table-header-group; }
  tr, img { page-break-inside: avoid; }
  img { max-width: 100% !important; }
  @page { margin: 0.5cm; }
  p, h2, h3 { orphans: 3; widows: 3; }
  h2, h3 { page-break-after: avoid; }
}
