[% page = "ringmail_2016_1" %]
[% title = "Blog Post" %]
[% page_template_class = 'type-standard-subpage-sidebar type-standard-subpage' %]
[% page_template_nav_type = 'just-white-bg white-bg' %]
[% content = BLOCK %]
<div class="container-fluid standard-subpage standard-subpage-sidebar blog blog-post blog-post-r2">
    <div class="row" id="hero">
        <div class="container">
            <div class="col-md-12">
                <div class="clearfix icon">
                    <img src="/img/pages/blog-post/svg/blog-post-icon-01.svg" alt="icon">
                </div>
                <div class="clearfix headline">
                    <h1>Blog Post</h1>
                </div>
            </div>
        </div>
    </div>
    <div class="row standard-subpage-content">
        <div class="container">
            <div class="col-md-2"></div>
            <div class="col-md-8 main-content">

                <div class="main-content-container">

                    <div class="clearfix post-main-image">
                        <img src="/img/pages/blog-post/blog-post-r2-main-image.jpg" alt="main image">
                    </div>
                    <div class="clearfix post-main">
                        <p>Main Content -- Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed nec imperdiet tortor, a dignissim magna. Etiam suscipit facilisis lectus sed rutrum. Proin pulvinar tristique risus. Integer pulvinar odio nec arcu blandit placerat. Nunc in tempus risus. Sed blandit leo id sem consequat, et ultricies justo mattis. Pellentesque gravida sem at libero feugiat, a lacinia ex vestibulum. Quisque eu commodo mi.</p>
                        <br>
                        <h3>Lorem Ipsum Dolor Sit Amet</h3>
                        <p><img src="/img/pages/blog-post/blog-post-img-long.jpg" alt="placeholder" style="float: left"> Curabitur sit amet mattis enim. Sed consequat venenatis commodo. Nam ultricies, erat a sodales dictum, libero massa maximus tortor, nec pulvinar mi justo sed ligula. Praesent sem nisl, aliquam ac velit non, aliquet pretium nibh. Curabitur nulla lectus, scelerisque non placerat eu, ullamcorper dapibus diam. Integer eleifend elementum turpis, a lobortis nulla ultricies ac. Praesent tincidunt erat sed ligula pharetra tristique. Maecenas congue quam ligula, vitae luctus libero dignissim quis. Nulla erat neque, rutrum et dignissim quis, placerat a mi. Sed cursus fringilla est, eget luctus neque fringilla eget. Maecenas congue quam ligula, vitae luctus libero dignissim quis. Nulla erat neque, rutrum et dignissim quis.</p>
                    </div>

                    <div class="clearfix blog-post-data row">
                        <div class="col-md-6 ">
                            <div class="clearfix post-date">
                                OCTOBER 12, 2016
                            </div>
                        </div>
                        <div class="col-md-6 ">
                            <div class="clearfix post-tags">
                                <ul class="tags">
                                    <li class="tag">
                                        <span><a href="#">TAG1</a></span>
                                    </li>
                                    <li class="tag">
                                        <span><a href="#">TAG2</a></span>
                                    </li>
                                    <li class="tag">
                                        <span><a href="#">TAG3</a></span>
                                    </li>
                                    <li class="tag">
                                        <span><i class="fa fa-tag" aria-hidden="true"></i></span>
                                    </li>

                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="clearfix site-pagination row">
                        <div class="col-md-6 col-sm-6 col-xs-6">
                            <a href="#" type="button" class="btn btn-default pull-left"><span class="arrow left">←</span> Older</a>
                        </div>
                        <div class="col-md-6 col-sm-6 col-xs-6">
                            <a href="#" type="button" class="btn btn-default pull-right">Newer <span class="arrow right">→</span></a>
                        </div>
                    </div>
                </div>

            </div>
            <div class="col-md-2"></div>
        </div>
    </div>
</div>
[% END %]
[% INCLUDE layout/root_template.html %]