[% page = "ringmail_2016_1" %]
[% title = "Blog" %]
[% page_template_class = 'type-standard-subpage-sidebar type-standard-subpage' %]
[% meta_data = BLOCK %]
<meta property="og:url"           content="http://www.your-domain.com/your-page.html" />
<meta property="og:type"          content="website" />
<meta property="og:title"         content="Your Website Title" />
<meta property="og:description"   content="Your description" />
<meta property="og:image"         content="http://www.your-domain.com/path/image.jpg" />
[% END %]
[% content = BLOCK %]
<div class="container-fluid standard-subpage standard-subpage-sidebar blog">
    <div class="row" id="hero">
        <div class="container">
            <div class="col-md-12">
                <div class="clearfix icon">
                    <img src="/img/pages/blog-post/svg/blog-post-icon-01.svg" alt="icon">
                </div>
                <div class="clearfix headline">
                    <h1>Blog</h1>
                </div>
            </div>
        </div>
    </div>
    <div class="row standard-subpage-content">
        <div class="container">
            <div class="col-md-12 main-content">
                <ul class=" post-listing clearfix">
                    <li class="blog-post col-md-4">
                        <div class="clearfix post-date">
                            OCTOBER 11, 2016
                        </div>
                        <div class="clearfix post-title">
                            <h2>Lorem ipsum dolor sit amet</h2>
                        </div>
                        <div class="row share-tags">
                            <div class="col-md-6 post-share">
                                <span class="fb-share-button" data-href="https://developers.facebook.com/docs/plugins/" data-layout="button_count" data-size="small" data-mobile-iframe="true"><a class="fb-xfbml-parse-ignore" target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fdevelopers.facebook.com%2Fdocs%2Fplugins%2F&amp;src=sdkpreparse">Share</a></span>
                                <a href="https://twitter.com/intent/tweet?button_hashtag=" class="twitter-hashtag-button" data-show-count="false">Tweet</a><script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
                            </div>
                            <div class="col-md-6 post-tags">
                                <ul class="tags pull-right">
                                    <li class="tag">
                                        <span><a href="#">TAG1</a></span>
                                    </li>
                                    <li class="tag">
                                        <span><a href="#">TAG2</a></span>
                                    </li>
                                    <li class="tag">
                                        <span><a href="#">TAG3</a></span>
                                    </li>
                                    <li class="tag-icon tag">
                                        <span><i class="fa fa-tag" aria-hidden="true"></i></span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </li>
                    <li class="blog-post col-md-4">
                        <div class="clearfix post-date">
                            OCTOBER 10, 2016
                        </div>
                        <div class="clearfix post-title">
                            <h2>Lorem ipsum dolor sit amet</h2>
                        </div>
                        <div class="row share-tags">
                            <div class="col-md-6 post-share">
                                <span class="fb-share-button" data-href="https://developers.facebook.com/docs/plugins/" data-layout="button_count" data-size="small" data-mobile-iframe="true"><a class="fb-xfbml-parse-ignore" target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fdevelopers.facebook.com%2Fdocs%2Fplugins%2F&amp;src=sdkpreparse">Share</a></span>
                                <a href="https://twitter.com/intent/tweet?button_hashtag=" class="twitter-hashtag-button" data-show-count="false">Tweet</a><script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
                            </div>
                            <div class="col-md-6 post-tags">
                                <ul class="tags pull-right">
                                    <li class="tag">
                                        <span><a href="#">TAG1</a></span>
                                    </li>
                                    <li class="tag">
                                        <span><a href="#">TAG2</a></span>
                                    </li>
                                    <li class="tag">
                                        <span><a href="#">TAG3</a></span>
                                    </li>
                                    <li class="tag-icon tag">
                                        <span><i class="fa fa-tag" aria-hidden="true"></i></span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </li>
                    <li class="blog-post col-md-4">
                        <div class="clearfix post-date">
                            OCTOBER 10, 2016
                        </div>
                        <div class="clearfix post-title">
                            <h2>Lorem ipsum dolor sit amet</h2>
                        </div>
                        <div class="row share-tags">
                            <div class="col-md-6 post-share">
                                <span class="fb-share-button" data-href="https://developers.facebook.com/docs/plugins/" data-layout="button_count" data-size="small" data-mobile-iframe="true"><a class="fb-xfbml-parse-ignore" target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fdevelopers.facebook.com%2Fdocs%2Fplugins%2F&amp;src=sdkpreparse">Share</a></span>
                                <a href="https://twitter.com/intent/tweet?button_hashtag=" class="twitter-hashtag-button" data-show-count="false">Tweet</a><script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
                            </div>
                            <div class="col-md-6 post-tags">
                                <ul class="tags pull-right">
                                    <li class="tag">
                                        <span><a href="#">TAG1</a></span>
                                    </li>
                                    <li class="tag">
                                        <span><a href="#">TAG2</a></span>
                                    </li>
                                    <li class="tag">
                                        <span><a href="#">TAG3</a></span>
                                    </li>
                                    <li class="tag-icon tag">
                                        <span><i class="fa fa-tag" aria-hidden="true"></i></span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </li>
                </ul>
                <div class="clearfix site-pagination row">
                    <div class="col-md-6 col-sm-6 col-xs-6">
                        <a href="#" type="button" class="btn btn-default pull-left"><span class="arrow left">←</span> Older</a>
                    </div>
                    <div class="col-md-6 col-sm-6 col-xs-6">
                        <a href="#" type="button" class="btn btn-default pull-right">Newer <span class="arrow right">→</span></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
[% END %]
[% INCLUDE layout/root_template.html %]