[% page = "ringmail_2016_1" %]
[% title = "Blog" %]
[% page_template_class = 'type-standard-subpage-sidebar type-standard-subpage' %]
[% page_template_nav_type = 'just-white-bg white-bg' %]
[% meta_data = BLOCK %]
<meta property="og:url"           content="http://www.your-domain.com/your-page.html" />
<meta property="og:type"          content="website" />
<meta property="og:title"         content="Your Website Title" />
<meta property="og:description"   content="Your description" />
<meta property="og:image"         content="http://www.your-domain.com/path/image.jpg" />
[% END %]
[% content = BLOCK %]
<div class="container-fluid standard-subpage standard-subpage-sidebar blog blog-r2 blog-listing">
    <div class="row" id="hero">
        <div class="container">
            <div class="col-md-12">
                <div class="clearfix icon">
                    <img src="/img/pages/blog-post/svg/blog-post-icon-01.svg" alt="icon">
                </div>
                <div class="clearfix headline">
                    <h1>Blog</h1>
                </div>
            </div>
        </div>
    </div>
    <div class="row standard-subpage-content">
        <div class="container">
            <div class="col-md-12 main-content">
                <ul class=" post-listing clearfix">

                    <li class="blog-post col-md-4 scroll_show">
                        <div class="clearfix post-content">
                            <div class="post-text-content">
                                <div class="link_container cleafix">
                                    <a href="/examples/blog-post-2" class="post_link_wrapper clearfix">
                                        <div class="clearfix post-thumbnail blue-bg">
                                            <img src="/img/pages/blog-post/blog-listing-r2.png" alt="post thumbnail">
                                        </div>
                                        <div class="clearfix post-title">
                                            <h2>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</h2>
                                        </div>
                                        <div class="clearfix readmore">
                                            Read More <i class="fa fa-angle-right" aria-hidden="true"></i>
                                        </div>
                                    </a>
                                </div>
                                <div class="clearfix share-tags">
                                    <div class="post-tags">
                                        <ul class="tags">
                                            <li class="tag-icon tag">
                                                <span><i class="fa fa-tag" aria-hidden="true"></i></span>
                                            </li>
                                            <li class="tag">
                                                <span><a href="#">TAG1</a></span>
                                            </li>
                                            <li class="tag">
                                                <span><a href="#">TAG2</a></span>
                                            </li>
                                            <li class="tag">
                                                <span><a href="#">TAG3</a></span>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="blog-post col-md-4 scroll_show">
                        <div class="clearfix post-content">
                            <div class="post-text-content">
                                <div class="link_container cleafix">
                                    <a href="/examples/blog-post-2" class="post_link_wrapper clearfix">
                                        <div class="clearfix post-thumbnail red-bg">
                                            <img src="/img/pages/blog-post/blog-listing-r2.png" alt="post thumbnail">
                                        </div>
                                        <div class="clearfix post-title">
                                            <h2>Lorem ipsum dolor sit amet, consectetur.</h2>
                                        </div>
                                        <div class="clearfix readmore">
                                            Read More <i class="fa fa-angle-right" aria-hidden="true"></i>
                                        </div>
                                    </a>
                                </div>
                                <div class="clearfix share-tags">
                                    <div class="post-tags">
                                        <ul class="tags">
                                            <li class="tag-icon tag">
                                                <span><i class="fa fa-tag" aria-hidden="true"></i></span>
                                            </li>
                                            <li class="tag">
                                                <span><a href="#">TAG1</a></span>
                                            </li>
                                            <li class="tag">
                                                <span><a href="#">TAG2</a></span>
                                            </li>
                                            <li class="tag">
                                                <span><a href="#">TAG3</a></span>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="blog-post col-md-4 scroll_show">
                        <div class="clearfix post-content">
                            <div class="post-text-content">
                                <div class="link_container cleafix">
                                    <a href="/examples/blog-post-2" class="post_link_wrapper clearfix">
                                        <div class="clearfix post-thumbnail aqua-bg">
                                            <img src="/img/pages/blog-post/blog-listing-r2.png" alt="post thumbnail">
                                        </div>
                                        <div class="clearfix post-title">
                                            <h2>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla fringilla orci non.</h2>
                                        </div>
                                        <div class="clearfix readmore">
                                            Read More <i class="fa fa-angle-right" aria-hidden="true"></i>
                                        </div>
                                    </a>
                                </div>
                                <div class="clearfix share-tags">
                                    <div class="post-tags">
                                        <ul class="tags">
                                            <li class="tag-icon tag">
                                                <span><i class="fa fa-tag" aria-hidden="true"></i></span>
                                            </li>
                                            <li class="tag">
                                                <span><a href="#">TAG1</a></span>
                                            </li>
                                            <li class="tag">
                                                <span><a href="#">TAG2</a></span>
                                            </li>
                                            <li class="tag">
                                                <span><a href="#">TAG3</a></span>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <div class="clearfix"></div>
                    <li class="blog-post col-md-4 scroll_show">
                        <div class="clearfix post-content">
                            <div class="post-text-content">
                                <div class="link_container cleafix">
                                    <a href="/examples/blog-post-2" class="post_link_wrapper clearfix">
                                        <div class="clearfix post-thumbnail green-bg">
                                            <img src="/img/pages/blog-post/blog-listing-r2.png" alt="post thumbnail">
                                        </div>
                                        <div class="clearfix post-title">
                                            <h2>Lorem ipsum dolor sit amet, consectetur adipiscing elit. </h2>
                                        </div>
                                        <div class="clearfix readmore">
                                            Read More <i class="fa fa-angle-right" aria-hidden="true"></i>
                                        </div>
                                    </a>
                                </div>
                                <div class="clearfix share-tags">
                                    <div class="post-tags">
                                        <ul class="tags">
                                            <li class="tag-icon tag">
                                                <span><i class="fa fa-tag" aria-hidden="true"></i></span>
                                            </li>
                                            <li class="tag">
                                                <span><a href="#">TAG1</a></span>
                                            </li>
                                            <li class="tag">
                                                <span><a href="#">TAG2</a></span>
                                            </li>
                                            <li class="tag">
                                                <span><a href="#">TAG3</a></span>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="blog-post col-md-4 scroll_show">
                        <div class="clearfix post-content">
                            <div class="post-text-content">
                                <div class="link_container cleafix">
                                    <a href="/examples/blog-post-2" class="post_link_wrapper clearfix">
                                        <div class="clearfix post-thumbnail gold-bg">
                                            <img src="/img/pages/blog-post/blog-listing-r2.png" alt="post thumbnail">
                                        </div>
                                        <div class="clearfix post-title">
                                            <h2>Lorem ipsum dolor sit amet, consectetur.</h2>
                                        </div>
                                        <div class="clearfix readmore">
                                            Read More <i class="fa fa-angle-right" aria-hidden="true"></i>
                                        </div>
                                    </a>
                                </div>
                                <div class="clearfix share-tags">
                                    <div class="post-tags">
                                        <ul class="tags">
                                            <li class="tag-icon tag">
                                                <span><i class="fa fa-tag" aria-hidden="true"></i></span>
                                            </li>
                                            <li class="tag">
                                                <span><a href="#">TAG1</a></span>
                                            </li>
                                            <li class="tag">
                                                <span><a href="#">TAG2</a></span>
                                            </li>
                                            <li class="tag">
                                                <span><a href="#">TAG3</a></span>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="blog-post col-md-4 scroll_show">
                        <div class="clearfix post-content">
                            <div class="post-text-content">
                                <div class="link_container cleafix">
                                    <a href="/examples/blog-post-2" class="post_link_wrapper clearfix">
                                        <div class="clearfix post-thumbnail purple-bg">
                                            <img src="/img/pages/blog-post/blog-listing-r2.png" alt="post thumbnail">
                                        </div>
                                        <div class="clearfix post-title">
                                            <h2>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla fringilla orci non.</h2>
                                        </div>
                                        <div class="clearfix readmore">
                                            Read More <i class="fa fa-angle-right" aria-hidden="true"></i>
                                        </div>
                                    </a>
                                </div>
                                <div class="clearfix share-tags">
                                    <div class="post-tags">
                                        <ul class="tags">
                                            <li class="tag-icon tag">
                                                <span><i class="fa fa-tag" aria-hidden="true"></i></span>
                                            </li>
                                            <li class="tag">
                                                <span><a href="#">TAG1</a></span>
                                            </li>
                                            <li class="tag">
                                                <span><a href="#">TAG2</a></span>
                                            </li>
                                            <li class="tag">
                                                <span><a href="#">TAG3</a></span>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <div class="clearfix"></div>
                </ul>
                <div class="clearfix site-pagination">
                    <div class="col-md-6 col-sm-6 col-xs-6">
                        <a href="#" type="button" class="btn btn-default pull-left"><span class="arrow left">←</span> Older</a>
                    </div>
                    <div class="col-md-6 col-sm-6 col-xs-6">
                        <a href="#" type="button" class="btn btn-default pull-right">Newer <span class="arrow right">→</span></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
[% END %]
[% INCLUDE layout/root_template.html %]