[% page = "ringmail_2016_1" %]
[% title = "RingMail | Get in the Loop" %]
[% content = BLOCK %]

<div class="clearfix" id="explore-page">

    <div class="container-fluid" id="hero">
        <div class="row hero-row">
            <div class="container">
                <div class="col-md-6 hero-img-col">
                    <div class="clearfix ">
                        <img src="/img/pages/explore/hero.png" alt="">
                    </div>
                </div>
                <div class="col-md-6 hero-cta-col">
                    <div class="clearfix title">
                        <h1>Explore<br>RingPages</h1>
                    </div>
                    <div class="clearfix subheadline">
                        <p>Check out the gallery to see what’s possible.</p>
                    </div>
                    <div class="hero-button">
                        <a href="#" class="btn btn-default">GET YOUR RINGPAGE</a>
                    </div>
                    <div class="external-link clearfix localscroll">
                        <a href="#tile-region">Learn More <i class="fa fa-angle-down" aria-hidden="true"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="tile-region" class="container-fluid">
        <div class="row">
            <div class="container">
                <!--row 1 -->
                <div class="cleafix ringpage-image-row">
                    <div class="col-md-4 ringpage-image-col">
                        <div class="ringpage-image clearfix">
                            <img src="/img/pages/explore/thumbnails/247labs-thumb.png" alt="" class="blue-2-bg">
                            <a href="#" data-toggle="modal" data-target="#tile-modal" data-lgimg="/img/pages/explore/large-thumbnails/247Labs.jpg" class="overlay tile-image-link blue-2-bg">
                                <div class="thumbnail-title clearfix">
                                    247 Labs
                                </div>
                                <div class="thumbnail-icon clearfix">
                                    <i class="fa fa-search" aria-hidden="true"></i>
                                </div>
                                [%# <div class="thumbnail-statement clearfix">
                                    <p>
                                        Highlight Statement <br>Lorem Ipsum
                                    </p>
                                </div> %]
                            </a>
                        </div>
                    </div>
                    <div class="col-md-4 ringpage-image-col">
                        <div class="ringpage-image clearfix">
                            <img src="/img/pages/explore/thumbnails/avitaltours-thumb.png" alt="" class="red-bg">
                            <a href="#" data-toggle="modal" data-target="#tile-modal" data-lgimg="/img/pages/explore/large-thumbnails/avitaltours.jpg" class="overlay tile-image-link red-bg">
                                <div class="thumbnail-title clearfix">
                                    Avital Food Tours
                                </div>
                                <div class="thumbnail-icon clearfix">
                                    <i class="fa fa-search" aria-hidden="true"></i>
                                </div>
                                [%# <div class="thumbnail-statement clearfix">
                                    <p>
                                        Highlight Statement <br>Lorem Ipsum
                                    </p>
                                </div> %]
                            </a>
                        </div>
                    </div>
                    <div class="col-md-4 ringpage-image-col">
                        <div class="ringpage-image clearfix">
                            <img src="/img/pages/explore/thumbnails/coffee-thumb.png" alt="" class="aqua-bg">
                            <a href="#" data-toggle="modal" data-target="#tile-modal" data-lgimg="/img/pages/explore/large-thumbnails/coffee.jpg" class="overlay tile-image-link aqua-bg">
                                <div class="thumbnail-title clearfix">
                                    Renegade Roasting Co.
                                </div>
                                <div class="thumbnail-icon clearfix">
                                    <i class="fa fa-search" aria-hidden="true"></i>
                                </div>
                                [%# <div class="thumbnail-statement clearfix">
                                    <p>
                                        Highlight Statement <br>Lorem Ipsum
                                    </p>
                                </div> %]
                            </a>
                        </div>
                    </div>
                </div>
                <!-- END: row 1-->
                <!--row 2 -->
                <div class="cleafix ringpage-image-row">
                    <div class="col-md-4 ringpage-image-col">
                        <div class="ringpage-image clearfix">
                            <img src="/img/pages/explore/thumbnails/leatherbags-thumb.png" alt="" class="green-bg">
                            <a href="#" data-toggle="modal" data-target="#tile-modal" data-lgimg="/img/pages/explore/large-thumbnails/leatherbags.png" class="overlay tile-image-link green-bg">
                                <div class="thumbnail-title clearfix">
                                    Pavini
                                </div>
                                <div class="thumbnail-icon clearfix">
                                    <i class="fa fa-search" aria-hidden="true"></i>
                                </div>
                                [%# <div class="thumbnail-statement clearfix">
                                    <p>
                                        Highlight Statement <br>Lorem Ipsum
                                    </p>
                                </div> %]
                            </a>
                        </div>
                    </div>
                    <div class="col-md-4 ringpage-image-col">
                        <div class="ringpage-image clearfix">
                            <img src="/img/pages/explore/thumbnails/ringmail-thumb.png" alt="" class="yellow-bg">
                            <a href="#" data-toggle="modal" data-target="#tile-modal" data-lgimg="/img/pages/explore/large-thumbnails/RingMail.jpg" class="overlay tile-image-link yellow-bg">
                                <div class="thumbnail-title clearfix">
                                    RingMail: Claim Your Hashtag
                                </div>
                                <div class="thumbnail-icon clearfix">
                                    <i class="fa fa-search" aria-hidden="true"></i>
                                </div>
                                [%# <div class="thumbnail-statement clearfix">
                                    <p>
                                        Highlight Statement <br>Lorem Ipsum
                                    </p>
                                </div> %]
                            </a>
                        </div>
                    </div>
                    <div class="col-md-4 ringpage-image-col">
                        <div class="ringpage-image clearfix">
                            <img src="/img/pages/explore/thumbnails/ringpages-thumb.png" alt="" class="purple-bg">
                            <a href="#" data-toggle="modal" data-target="#tile-modal" data-lgimg="/img/pages/explore/large-thumbnails/Ringpages.jpg" class="overlay tile-image-link purple-bg">
                                <div class="thumbnail-title clearfix">
                                    RingMail: Call & Message Your Hashtag
                                </div>
                                <div class="thumbnail-icon clearfix">
                                    <i class="fa fa-search" aria-hidden="true"></i>
                                </div>
                                [%# <div class="thumbnail-statement clearfix">
                                    <p>
                                        Highlight Statement <br>Lorem Ipsum
                                    </p>
                                </div> %]
                            </a>
                        </div>
                    </div>
                </div>
                <!-- END: row 2-->
            </div>
        </div>
    </div>


    <div id="bottom-cta" class="container-fluid">
        <div class="row bottom-cta-row">
            <div class="container">
                <div class="col-md-12">
                    <div class="headline clearfix">
                        <h2>Customize It</h2>
                    </div>
                    <div class="subheadline clearfix">
                        <p>
                            Show off your style, and your content, by creating the look that’s right for you. <b>Get your RingPage to start customizing.</b>
                        </p>
                    </div>
                    <div class="clearfix cat-btn">
                        <a href="#" class="btn btn-black lg-button">GET YOUR RINGPAGE</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

<!-- Modal -->
<div class="modal fade" id="tile-modal" tabindex="-1" role="dialog" aria-labelledby="tile-modal-label">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true"><i class="fa fa-times-circle-o" aria-hidden="true"></i></span></button>
            </div>
            <div class="modal-body text-center">
                <img id="modal-thumb" src="" alt="explore">
            </div>
        </div>
    </div>
</div>

[% END %]
[% INCLUDE layout/root_template.html %]