[% page = "ringmail_2016_1" %]
[% title = "RingMail | Get in the Loop" %]
[% page_template_class = '' %]
[% content = BLOCK %]
<div class="container-fluid" id="for-brands">

    <div class="row section-row claim-hashtag-form-section" id="row-1">
        <div class="container">
            <div class="col-md-6 cta-img">
                <div class="clearfix cta-img-wrapper">
                    <img src="/img/pages/for-brands/cart.png" alt="World’s first business hashtag directory">
                </div>
            </div>
            <div class="col-md-6 cta-text text-center">
                <div class="clearfix cta-text-wrapper">
                    <div class="clearfix headline">
                        <h1>World’s first<br>business hashtag directory</h1>
                    </div>
                    <div class="clearfix subheadline">
                        <h4>Claim Your #Hashtag:</h4>
                    </div>
                    <div class="clearfix hashtag-form col-md-12">
                        <form>
                            <div class="form-group">
                                <div class="input-group">
                                  <input type="text" class="form-control hash-tag-input" id="hash-tag-input-1" value="#">
                                  <span class="input-group-btn">
                                    <button class="btn btn-default" type="submit">Go!</button>
                                  </span>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row section-row be-cta-section" id="row-2">
        <div class="container">
            <div class="clearfix col-row">
                <div class="col-md-6 col-sm-6 be-cta-section-col">
                    <div class="col-md-3 col-sm-3 img">
                        <img src="/img/pages/for-brands/row-2-1.png" alt="Be Discovered">
                    </div>
                    <div class="col-md-9 col-sm-9 text">
                        <div class="clearfix headline">
                            <h2 class="red-color">Be Discovered</h2>
                        </div>
                        <div class="clearfix subheadline">
                            <h3>Get more customers with custom content on your RingPage.</h3>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-sm-6 be-cta-section-col">
                    <div class="col-md-3 col-sm-3 img">
                        <img src="/img/pages/for-brands/row-2-2.png" alt="Be Discovered">
                    </div>
                    <div class="col-md-9 col-sm-9 text">
                        <div class="clearfix headline">
                            <h2 class="aqua-color">Be Personal</h2>
                        </div>
                        <div class="clearfix subheadline">
                            <h3>Use data to talk to customers looking for you.</h3>
                        </div>
                    </div>
                </div>
            </div>
            <div class="clearfix col-row">
                <div class="col-md-6 col-sm-6 be-cta-section-col">
                    <div class="col-md-3 col-sm-3 img">
                        <img src="/img/pages/for-brands/row-2-3.png" alt="Be Discovered">
                    </div>
                    <div class="col-md-9 col-sm-9 text">
                        <div class="clearfix headline">
                            <h2 class="black-color">BE LOCAL</h2>
                        </div>
                        <div class="clearfix subheadline">
                            <h3>Connect with customers in your local community.</h3>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-sm-6 be-cta-section-col">
                    <div class="col-md-3 col-sm-3 img">
                        <img src="/img/pages/for-brands/row-2-4.png" alt="Be Discovered">
                    </div>
                    <div class="col-md-9 col-sm-9 text">
                        <div class="clearfix headline">
                            <h2 class="green-color">Be Generous</h2>
                        </div>
                        <div class="clearfix subheadline">
                            <h3>Inspire loyalty with exclusive deals and promotions.</h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row section-row how-it-works-section" id="row-3">
        <div class="container">

            <div class="col-md-12 text-center">
                <h2 class="headline">How It Works</h2>
            </div>

            <div class="clearfix col-row">
                <div class="col-md-4 col-sm-4 how-it-works-col">
                    <div class="clearfix img">
                        <img src="/img/pages/for-brands/how-it-works-1.png" alt="Claim a hashtag for your business & brand your identity">
                    </div>
                    <div class="clearfix headline">
                        <h3>Claim a hashtag  <br><span class="thin">for your business & brand your identity</span></h3>
                    </div>
                </div>
                <div class="col-md-4 col-sm-4 how-it-works-col">
                    <div class="clearfix img">
                        <img src="/img/pages/for-brands/how-it-works-2.png" alt="Create exclusive content, offers, and promotions on your RingPage">
                    </div>
                    <div class="clearfix headline">
                        <h3>Create exclusive content, <br><span class="thin">offers, and promotions on your RingPage</span></h3>
                    </div>
                </div>
                <div class="col-md-4 col-sm-4 how-it-works-col">
                    <div class="clearfix img">
                        <img src="/img/pages/for-brands/how-it-works-3.png" alt="Link your hashtag to your RingPage">
                    </div>
                    <div class="clearfix headline">
                        <h3>Link your hashtag <br><span class="thin">to your RingPage</span></h3>
                    </div>
                </div>
            </div>


            <div class="clearfix col-row">
                <div class="col-md-4 col-sm-4 how-it-works-col">
                    <div class="clearfix img">
                        <img src="/img/pages/for-brands/how-it-works-4.png" alt="Get a premium listing in our directory">
                    </div>
                    <div class="clearfix headline">
                        <h3>Get a premium listing  <br><span class="thin">in our directory</span></h3>
                    </div>
                </div>
                <div class="col-md-4 col-sm-4 how-it-works-col">
                    <div class="clearfix img">
                        <img src="/img/pages/for-brands/how-it-works-5.png" alt="Start chatting with your customers">
                    </div>
                    <div class="clearfix headline">
                        <h3>Start chatting <span class="thin">with your customers</span></h3>
                    </div>
                </div>
                <div class="col-md-4 col-sm-4 how-it-works-col">
                    <div class="clearfix img">
                        <img src="/img/pages/for-brands/how-it-works-6.png" alt="Build relationships and generate leads">
                    </div>
                    <div class="clearfix headline">
                        <h3>Build relationships <br><span class="thin">and generate leads</span></h3>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <div class="row section-row bottom-form" id="row-4">
        <div class="container">

            <div class="col-md-12 text-center">
                <div class="headline clearfix">
                    <h2>Claim Your #Hashtag</h2>
                </div>
                <div class="clearfix hashtag-form">
                    <div class="col-md-3"></div>
                    <div class="col-md-6">
                        <form>
                            <div class="form-group">
                                <div class="input-group">
                                    <input type="text" class="form-control hash-tag-input" id="hash-tag-input-2" value="#">
                                  <span class="input-group-btn">
                                    <button class="btn btn-default" type="submit">Go!</button>
                                  </span>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="col-md-3"></div>
                </div>
            </div>

        </div>
    </div>

</div>
[% END %]
[% INCLUDE layout/root_template.html %]