[% page = "ringmail_2016_1" %]
[% title = "RingMail | Get in the Loop" %]
[% page_template_class = 'type-standard-homepage transparent-menu' %]
[% content = BLOCK %]
<div class="clearfix" id="index-page">

    <div class="container-fluid" id="hero">
        <div class="row hero-row">
            <div class="container">
                <div class="col-md-12">
                    <div class="clearfix title">
                        <h1>
                            <div class="thin clearfix">EXPLORE WHAT</div>
                            <div class="clearfix">#HASHTAGS REVEAL</div>
                        </h1>
                    </div>
                    <div class="clearfix subheadline">
                        <p>
                            Call and text anonymously<br> using hashtags.
                        </p>
                    </div>
                    <div class="clearfix cta-button">
                        <a href="#" class="btn red-button lg-button"><i class="fa fa-cloud-download" aria-hidden="true"></i> GET THE APP</a></a>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="container-fluid" id="how-it-works">
        <div class="row">
            <div class="container">
                <div class="clearfix title-area-wrapper">
                    <div class="col-md-12">
                        <div class="clearfix title-area">
                            <div class="img clearfix">
                                <img src="/img/pages/index/ringmail-hero-spaceman-160x160.png" alt="How It Works">
                            </div>
                            <div class="title clearfix">
                                <h2>How It Works</h2>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="clearfix cta-area-wrapper">

                    <div class="col-md-4 cta-col cta-col-1">
                        <div class="clearfix cta-img">
                            <img src="/img/pages/index/ringmail-how-1-120x120.png" alt="BUILD YOUR CUSTOM RINGPAGE">
                        </div>
                        <div class="clearfix cta-text">
                            <p>BUILD YOUR CUSTOM RINGPAGE</p>
                        </div>
                    </div>

                    <div class="col-md-4 cta-col cta-col-2">
                        <div class="clearfix cta-img">
                            <img src="/img/pages/index/ringmail-how-2-120x120.png" alt="LINK THE PAGE TO YOUR #HASHTAG">
                        </div>
                        <div class="clearfix cta-text">
                            <p>LINK THE PAGE TO YOUR #HASHTAG</p>
                        </div>
                    </div>


                    <div class="col-md-4 cta-col cta-col-3">
                        <div class="clearfix cta-img">
                            <img src="/img/pages/index/ringmail-how-3-120x120.png" alt="SHARE YOUR #HASHTAG ON SOCIAL MEDIA">
                        </div>
                        <div class="clearfix cta-text">
                            <p>SHARE YOUR #HASHTAG ON SOCIAL MEDIA</p>
                        </div>
                    </div>

                </div>

            </div>
        </div>
    </div>

    <div class="container-fluid" id="cta-tiles">
        <div class="row">

            <div class="clearfix cta-tile-col-wrapper cta-tile-col-wrapper-1">

                <div class="col-md-6 col-sm-6 col-xs-12 cta-tile-col cat-tile-col-1 pull-right">
                    <div class="tile-img-center clearfix">
                        <img src="/img/pages/index/tile-2.png" alt="Buy exclusive #hashtag names">
                    </div>
                </div>

                <div class="col-md-6 col-sm-6 col-xs-12 cta-tile-col cat-tile-col-2 pull-left">
                    <div class="tile-text-wrapper clearfix">
                        <h2 class="titles-wrapper">
                            <div class="tile-title clearfix">Buy exclusive #hashtag names</div>
                            <div class="tile-subheadline clearfix">before they’re gone.</div>
                        </h2>
                    </div>
                </div>

            </div>

            <div class="clearfix cta-tile-col-wrapper cta-tile-col-wrapper-2">

                <div class="col-md-6 col-sm-6 col-xs-12 cta-tile-col cat-tile-col-3">
                    <div class="tile-img-bottom clearfix">
                        <img src="/img/pages/index/tile-3.png" alt="Wow your network">
                    </div>
                </div>

                <div class="col-md-6 col-sm-6 col-xs-12 cta-tile-col cat-tile-col-4">
                    <div class="tile-text-wrapper clearfix">
                        <h2 class="titles-wrapper">
                            <div class="tile-title clearfix">Wow your network</div>
                            <div class="tile-subheadline clearfix">with your unique RingPage style.</div>
                        </h2>
                    </div>
                </div>

            </div>

            <div class="clearfix cta-tile-col-wrapper cta-tile-col-wrapper-3">

                <div class="col-md-6 col-sm-6 col-xs-12 cta-tile-col cat-tile-col-6 pull-right">
                    <div class="tile-img-center clearfix">
                        <img src="/img/pages/index/tile-6.png" alt="Discover hidden deals">
                    </div>
                </div>

                <div class="col-md-6 col-sm-6 col-xs-12 cta-tile-col cat-tile-col-5 pull-left">
                    <div class="tile-text-wrapper clearfix">
                        <h2 class="titles-wrapper">
                            <div class="tile-title clearfix">Discover hidden deals</div>
                            <div class="tile-subheadline clearfix">in the world’s first hashtag directory.</div>
                        </h2>
                    </div>
                </div>


            </div>


        </div>
    </div>

    <div class="container-fluid" id="index-bottom">
        <div class="row" id="index-bottom-row">
            <div class="container">
                <div class="col-md-12">
                    <div class="clearfix headline">
                        <h2>
                            <div class="clearfix top">EXPLORE RINGMAIL</div>
                            <div class="clearfix bottom">TODAY</div>
                        </h2>
                    </div>
                    <div class="clearfix cta-btn">
                        <a href="#" class="btn purple-button lg-button"><i class="fa fa-cloud-download" aria-hidden="true"></i> GET THE APP</a></a>
                    </div>
                    <div class="clearfix notes">
                        <p>Available at the App Store</p>
                    </div>
                </div>
            </div>
        </div>
    </div>


</div>
[% END %]
[% INCLUDE layout/root_template.html %]
