@font-face {
    font-family: 'montserratlight';
    src: url('/font/business/montserrat-light-webfont.woff2') format('woff2'),
         url('/font/business/montserrat-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'montserratmedium';
    src: url('/font/business/montserrat-medium-webfont.woff2') format('woff2'),
         url('/font/business/montserrat-medium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'montserratregular';
    src: url('/font/business/montserrat-regular-webfont.woff2') format('woff2'),
         url('/font/business/montserrat-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'montserratsemibold';
    src: url('/font/business/montserrat-semibold-webfont.woff2') format('woff2'),
         url('/font/business/montserrat-semibold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

text-bottom/* Reset Styles
***********************/
html, body, div, span, applet, object, iframe,h1, h2, h3, h4, h5, h6, p, blockquote, pre,a, abbr, acronym, address, big, cite, code,del, dfn, em, img, ins, kbd, q, s, samp,small, strike, strong, sub, sup, tt, var,b, u, i, center,dl, dt, dd, ol, ul, li,fieldset, form, label, legend,table, caption, tbody, tfoot, thead, tr, th, td,article, aside, canvas, details, embed,figure, figcaption, footer, header, hgroup,menu, nav, output, ruby, section, summary,time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,footer, header, hgroup, menu, nav, section {display: block;}
ol, ul {list-style: none;}
blockquote, q {quotes: none;}
blockquote:before, blockquote:after,q:before, q:after {content: ''; content: none;}
table {border-collapse: collapse; border-spacing: 0;}
strong {font-weight: bold;}
em {font-style: italic;}
a {outline: none;}
button:focus {
  outline: 0;
}

a, a:link, a:hover, a:active, a:focus {
outline: none;
}

/* a:not([href]):not([tabindex]) {
    color: #000000;
    text-decoration: none;
} */



/* ==== clearfix styles ===================================================== */

.clear {
    clear: both;
    display: block;
    height: 0;
    overflow: hidden;
    visibility: hidden;
    width: 0;
}
.clearfix:after {
    clear: both;
    content: " ";
    display: block;
    font-size: 0;
    height: 0;
    line-height: 0;
    visibility: hidden;
    width: 0;
}

a, a:link, .btn {
	display: inline-block;
	outline: none;
	opacity: 1;
   transition: opacity .25s ease-in-out;
   -moz-transition: opacity .25s ease-in-out;
   -webkit-transition: opacity .25s ease-in-out;
}

a:active, a:focus {
	text-decoration: none;
	outline: none;
}

a:hover, .btn:hover {
	opacity: .85;
	cursor: default;
	cursor: pointer;
}

body {
    display: table;
	position: absolute;
	width: 100%;
	height: 100%;
    background: url("/img/business/rp-bg.png") no-repeat center top;
    font-family: 'montserratregular';
    text-align: center;
    
}

h1 {
	font-size: 28px;
	font-family: 'montserrat';
	color: #fff;
	margin: 20px auto 10px;
	line-height: 36px;
}

h2 {
	color: #2b4074;
	font-size: 18px;
	font-family: 'montserrat';
	margin: 16px 0px 4px 0px;
}

h3 {
	color: #584141;
	font-size: 18px;
	font-family: 'montserratlight';
	margin: 4px 0px 0px 0px;
}

p {
	color: #2b4074;
	font-family: 'montserratlight';
	font-size: 16px;
	margin-bottom: 20px;
	line-height: 20px;
}

.btn {
	padding: .5rem .5rem;
	text-transform: capitalize;
	display: inline-block;
}

.btn.btn-post {
	background-color: transparent;
	border: 2px solid #68287f;
	color: #68287f!important;
	text-align: center;
	font-family: 'montserratmedium';
	font-size: 14px;
	width: 64%;
	border-radius: 26px;
	margin: 12px auto;
}

.btn.btn-post i {
	padding-right: 6px;
	color: #68287f;
}

.btn.btn-actn {
	background: rgb(53,71,186); /* Old browsers */
	background: -moz-linear-gradient(left, rgba(53,71,186,1) 0%, rgba(125,106,255,1) 50%, rgba(106,144,212,1) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(left, rgba(53,71,186,1) 0%,rgba(125,106,255,1) 50%,rgba(106,144,212,1) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to right, rgba(53,71,186,1) 0%,rgba(125,106,255,1) 50%,rgba(106,144,212,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3547ba', endColorstr='#6a90d4',GradientType=1 ); /* IE6-9 */
	text-align: left;
	color: #fff;
	font-family: 'montserratlight';
	font-size: 22px;
	border-radius: 8px;
	width: 100%;
	display: inline-block;
	vertical-align: middle;
	line-height: 28px;
}

.btn.btn-actn i {
	padding-left: 20px;
	padding-right: 6px;
	font-size: 23px;
	text-align: center;
	display: inline-block;
	vertical-align: middle;
	line-height: 28px;
}

.btn.btn-actn i.fa.fa-phone {
	padding-right: 10px;
}

main {
    display: table-cell;
	vertical-align: middle;
	width: 100%;
	padding-top: 20px;
}

.card {
    position: relative;
    background-color: rgba(255,255,255,.37);
    /* For IE8 and earlier */
    border-radius: 16px;
    padding: 40px;
    width: 92%;
    text-align: center;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    margin: 60px 4% 24px;
}

.card.card-share {
	background: -moz-linear-gradient(left, rgba(53,71,186,0.14) 0%, rgba(125,106,255,0.14) 50%, rgba(106,144,212,0.14) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(left, rgba(53,71,186,0.14) 0%,rgba(125,106,255,0.14) 50%,rgba(106,144,212,0.14) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to right, rgba(53,71,186,0.14) 0%,rgba(125,106,255,0.14) 50%,rgba(106,144,212,0.14) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#243547ba', endColorstr='#246a90d4',GradientType=1 ); /* IE6-9 */
	margin: 24px auto;
}

.card figure {
	position: absolute;
	top: -65px;
	left: 50%;
	margin-left: -80px;
	height: 120px;
	width: 160px;
	border: 1px solid #b2b2b2;
	-webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    background-color: #fff;
	box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
}

.logoimg {
	width: 100%;
	height: 100%;
}

.card.card-share {
	color: #fff;
	font-size: 52px;
	padding: 10px 40px;
}

.card.card-share ul {
	width: 100%;
	display: block;
	margin: 0 auto;
	padding-bottom: 8px;
}

.card.card-share li {
	float: left;
	width: 21.25%;
	margin-right: 5%;
	padding-top: 5px;
	padding-bottom: 5px;
}

.card.card-share li:nth-of-type(4n) {
	margin-right: 0;
} 

footer {
	width: 100%;
	padding: 20px 40px;
	background-color: #2b4074;
	margin: 0 auto 0;
	display: inline-block;
	box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);

}

.desktop-footer {
	margin-left: auto;
	margin-right: auto;
	
}

.btn.btn-claim {
	display: inline-block;
	border-radius: 52px;
	font-family: 'montserratmedium';
	font-size: 14px;
	color: #a6d2ff!important;
	background-color: transparent;
	border: 2px solid #a6d2ff;
	border-radius: 26px;
	width: 100%;
}

footer p {
	color: #fff;
	font-family: 'montserratlight';
	font-size: 12px;	
	text-align: left;
	margin-bottom: 0;
}

.address-p {
	margin-top: 32px;
	margin-bottom: 0;
	font-size: 12px;
	line-height: 16px;
}

.share-a {
	color: #FFFFFF;
}

#placemap {
	height: 240px;
	width: 100%;
    border-radius: 10px;
}

@media only screen and (min-width : 667px) {
	.card {
		margin-left: auto;
		margin-right: auto;
	}
	
	.card {
		width: 375px;
	}
	
	footer {
		width: 375px;
		bottom: 0;
		left: 0;
	}
	
	body {
		padding-top: 0;
		margin-top: 0;
	} 
}
