<p>[% ringpage.ringlink %]</p>
<p>[% ringpage.ringlink_url %]</p>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">


<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="description" content="">
	<meta name="keywords" content="">

	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>[% ringpage.ringpage %]</title>
	<link href="/ringpage/css?ringpage_id=[% ringpage.id %]" type="text/css" rel="stylesheet">


</head>
<html lang="en">
<body class="body-wrapper">
	
	<header class="ringpage-header">
		<hgroup class="ringpage-hgroup">
			<h1 class="ringpage-header-h1">[% ringpage.header_title %]</h1>
			<h2 class="ringpage-header-h2">[% ringpage.header_subtitle %]</h2>
		</hgroup>
	</header>
		
	<div class="ringpage-cta-section-wrapper">
		<section class="ringpage-cta-section">
		[% FOREACH button IN ringpage.buttons %]
			<button type="button" class="ringpage-cta-button" onClick="location.href='[% button.uri %]'">[% button.button %]</button>
		[% END %]
		</section>
	</div>

	<div class="ringpage-content-section-wrapper">
		<section class="ringpage-content-section">
			<h1 class="ringpage-content-h1">[% ringpage.body_header %]</h1>
			<p class="ringpage-content-p">[% ringpage.body_text %]</p>
		</section>
	</div>
	
	<div class="ringpage-footer-wrapper">
		<footer class="ringpage-footer">
			<p class="ringpage-footer-p">[% ringpage.footer_text %]</p>
		</footer>
	</div>
	
</body>
</html>
