<section class="footer-section">
    <footer class="footer-content">
		
		<ul class="footer-ul">
			<li class="footer-li">
				<a class="footer-li-button" href="/for-brands" title="For Brands">For Brands</a>
			</li>
			
			<li class="footer-li">
				<a class="footer-li-a" href="/terms-of-use" title="Terms of Use">Terms of Use</a>
			</li>
			
			<li class="footer-li">
				<a class="footer-li-a" href="/privacy-policy" title="Privacy Policy">Privacy Policy</a>
			</li>
		</ul>
		
    </footer>
</section>