[% IF page == "home" || page == "subpage-jumbo" || page != "ringmail_2016_1"  %]
<section class="footer-section">
    <footer class="footer-content">
		
		<ul class="footer-ul">
			<!--<li class="footer-li">
				<a class="footer-li-button" href="/for-brands" title="For Brands">For Brands</a>
			</li>
			
			<li class="footer-li">
				<a class="footer-li-a" href="/terms-of-use" title="Terms of Use">Terms of Use</a>
			</li>
			
			<li class="footer-li">
				<a class="footer-li-a" href="/privacy-policy" title="Privacy Policy">Privacy Policy</a>
			</li>-->
			<li class="footer-li">
				<a class="footer-li-a" href="https://dyl.com/pirates" title="Powered by Pirates">Powered by P!rates</a>
			</li>
		</ul>
		
    </footer>
</section>
[% ELSIF  page == "ringmail_2016_1" %]
<footer class="footer">
	<div class="container">
		<div class="col-md-6">
			<ul class="footer-nav-left">
				<li>
					<!--<a href="/" class="btn btn-black">FOR BRANDS</a>-->
				</li>
			</ul>
		</div>
		<div class="col-md-6">
			<ul class="pull-right footer-nav-right">
				<li>
					<a href="/" class="btn">PRIVACY POLICY</a>
					<a href="/" class="btn">TERMS OF USE</a>
				</li>
			</ul>
		</div>
	</div>
</footer>

	[%# Top banner with sign in buttons  %]
	<div class="clearfix ringmail-navbar-banner ringmail-navbar-banner-footer">
		<nav class="navbar" id="main-navbar-top-banner">
			<div class="container">
				<div class="navbar-collapse">
					<div class="col-md-12">
						<ul class="nav navbar-nav navbar-right">
							<li class=""><a href="/signup">SIGNUP</a></li>
							<li class=""><a href="/login">LOGIN</a></li>
						</ul>
					</div>
				</div>
			</div>
		</nav>
	</div>
	[%# END: Top banner with sign in buttons  %]
<script src="/js/wm/js/dist/wm.min.js"></script>
[% END %]