[% IF page == "home" || page == "subpage-jumbo" || page != "ringmail_2016_1"  %]

<section class="header-section navbar navbar-default">
    <!-- Brand and toggle get grouped for better mobile display -->
    <header class="header-wrapper">

        <div class="navbar-header">

            <hgroup class="hgroup-wrapper">
                <a href="/">
                    <h1 class="logo-h1">RingMail</h1>
                </a>
            </hgroup>
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>


        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <nav class="primary-nav">
                <ul class="primary-nav-ul" id="nav">
                    <!--<li class="primary-nav-li">
                        <a class="primary-nav-a" href="/products" title="Products">How To Use It</a>
                    </li>
                    <li class="primary-nav-li">
                        <a class="primary-nav-a" href="/faq" title="FAQ">FAQ</a>
                    </li>
                    <li class="primary-nav-li">
                        <a class="primary-nav-a" href="/blog" title="Blog">Blog</a>
                    </li>-->
                    <li class="primary-nav-li">
                        <a class="primary-nav-a" href="/login" title="Login">Login</a>
                    </li>
                </ul>
            </nav>

            </div--><!-- /.navbar-collapse -->
    </header>
</section>
[% ELSIF  page == "ringmail_2016_1" %]

<div class="clearfix navbar-wrapper [% page_template_class %]">
    <nav class="navbar navbar-default navbar-default-change-bg navbar-fixed-top [% page_template_class %]" id="main-navbar">

        [%# Top banner with sign in buttons
        <div class="clearfix navbar-top-banner">
            <nav class="navbar" id="main-navbar-top-banner">
                <div class="container">
                    <div class="navbar-collapse">
                        <ul class="nav navbar-nav navbar-right">
                            <li class=""><a href="/signup">SIGNUP</a></li>
                            <li class=""><a href="/login">LOGIN</a></li>
                        </ul>
                    </div>
                </div>
            </nav>
        </div>
        END: Top banner with sign in buttons  %]


        [%# Main Desktop Nav Bar  %]
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="offcanvas" data-target="#myNavmenu" data-canvas="body" aria-expanded="false" aria-controls="navbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="https://itunes.apple.com/us/app/ringmail/id653397088?mt=8" class="btn btn-default pull-right download-btn"><i class="fa fa-cloud-download" aria-hidden="true"></i></a>
                <a class="navbar-brand" href="/"><img src="/img/website/ringmail-logo.png"></a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li class=""><a href="/brands">FOR BRANDS</a></li>
                    <li class=""><a href="/explore">EXPLORE</a></li>
                    <li class=""><a href="https://itunes.apple.com/us/app/ringmail/id653397088?mt=8" class="btn btn-default"><i class="fa fa-cloud-download" aria-hidden="true"></i> GET THE APP</a></li>
                </ul>
            </div>
            [%# END: Main Desktop Nav Bar  %]

        </div>
    </nav>
</div>

[%# Offcanvas menu for more info see:
    see: https://github.com/jasny/bootstrap
    see: https://github.com/vadikom/smartmenus
%]
<nav id="myNavmenu" class="navmenu navmenu-default navmenu-fixed-left offcanvas" role="navigation">
    <ul class="nav navmenu-nav">
        <li class=""><a href="/brands">FOR BRANDS</a></li>
        <li class=""><a href="/explore">EXPLORE</a></li>
        <li class=""><a href="https://itunes.apple.com/us/app/ringmail/id653397088?mt=8"><i class="fa fa-cloud-download" aria-hidden="true"></i> GET THE APP</a></li>
    </ul>
</nav>
[%# END: Offcanvas menu %]

[% END %]
