@blue: #0077c2;
@aqua: #2bbbd2;
@green: #69cb63;
@purple: #9149cf;
@purple-2: #8C49CA;
@red: #EE5349;
@gold: #e9ac35;
@black: #000000;
@white: #FFFFFF;
@gray:#666666;

@gray-bg: #f1f1f1;
@gray-bg-dk: #e1e3e6;
@gray-border: #c4c4c4;
@muted-text: #919191;
@text: #333333;

@aqua-bg: #cef0f5;
@green-bg: #e0f6de;
@purple-bg: #9149cf;
@red-bg: #f8e4d8;
@red-bg-2: #EE5349;
@gold-bg: #f8f2db;

@desktop-min : 992px;
@mobile-max : @desktop-min;

