[% content = BLOCK %]
[% INCLUDE u/settings/menu.html %]
<div id="masthead">
	<div class="container">
		<div class="masthead-pad">
			<div class="masthead-text">
				<h2>Account</h2>
			</div>
		</div>
	</div>
</div>
<div id="content">
	<div class="container">
		<div class="row">
			<div class="tabbable">
				<div class="span12">
					<h2>Add Hashtag</h2>
					<form method="post" action="[% page.url() %]" style="margin: 0px; padding: 0px;" class="form-horizontal">
						<fieldset>
							<div class="control-group[% IF page.value.error %] error[% END %]">
								<div class="hashtag-search">
									<div class="input-prepend">
										<span class="add-on">#</span>
										[% page.field(
										command => 'search',
										type => 'text',
										name => 'hashtag',
										value => page.form.hashtag,
										opts => {
										id => 'hashtag',
										style => 'width: 179px',
										},
										) %]
										[% IF page.value.error %]
										<div>
											<span class="error" for="hashtag" style="display: inline;">[% page.value.error %]</span>
										</div>
										[% END %]
									</div>
									[% page.button(
									command => 'search',
									contents => 'Add',
									opts => {
									class => 'btn btn-primary btn-medium',
									},
									) %]
								</div>
							</div>
							<div class="span12">
								[% IF page.value.hashtag.defined %]
								[% IF page.value.hashtag == 0 %]
								<h4>Great news! #[% page.form.hashtag %] is available</h4>
								<pre class="hashtag-available"> #[% page.form.hashtag %] | $99.99 </pre>
								[% page.field(
								command => 'add_to_cart',
								type => 'hidden',
								name => 'hashtag',
								value => page.form.hashtag,
								) %]
								[% page.button(
								command => 'add_to_cart',
								contents => 'Add To Cart',
								opts => {
								class => 'btn btn-primary btn-medium',
								},
								) %]
								[% page.field(
								command => 'buy_it_now',
								type => 'hidden',
								name => 'hashtag',
								value => page.form.hashtag,
								) %]
								[% page.button(
								command => 'buy_it_now',
								contents => 'Buy It Now',
								opts => {
								class => 'btn btn-primary btn-medium',
								},
								) %]
								[% ELSE %]
								<h4>Sorry, #[% page.form.hashtag %] is unavailable</h4>
								[% END %]
								[% END %]
							</div>
						</fieldset>
					</form>
				</div>
				<div class="span12 cart-start">
					<h2>Shopping Cart</h2>
					<form method="post" action="[% page.url() %]">
						<table class="table table-bordered table-highlight table-cart">
							<thead>
								<tr>
									<th>Hashtag</th>
									<th>Price</th>
									<th>Remove</th>
								</tr>
							</thead>
							<tbody>
							[% IF cart.size == 0 %]
							<tr>
								<td colspan="3">No Hashtags in cart.</td>
							</tr>
							[% ELSE %]
							[% pending = 0 %]
							[% FOREACH hashtag IN cart %]
							<tr>
								<td>#[% hashtag.hashtag %]</td>
								<td>$99.99</td>
								<td>
									[% pending = pending + 1 %]
									[% page.field(
									command => 'remove_from_cart',
									type => 'checkbox',
									name => 'hashtag_id',
									opts => {
									value => hashtag.id,
									},
									) %]
								</td>
							</tr>
							[% END %]
							[% END %]
							[% IF pending > 0 %]
							<tr>
								<td colspan="2">
									&nbsp;
								</td>
								<td>
									[% page.button(
									command => 'remove_from_cart',
									text => 'Remove',
									opts => {
									class => 'btn btn-primary',
									},
									) %]
								</td>
							</tr>
							[% END %]
							</tbody>
						</table>
					</form>
					<p class="cart-total-p">
					Total: $[% total %]
					</p>
				</div>
				[% IF total > 0 %]
				<div class="span12">
					<h2>Checkout With PayPal</h2>
					<form action="https://www.sandbox.paypal.com/cgi-bin/webscr" method="post" target="_top">
						<input type="hidden" name="cmd" value="_s-xclick">
						<input type="hidden" name="hosted_button_id" value="[% paypal_hosted_button_id %]">
						<input type="hidden" name="custom" value="[% paypal_ciphertext %]" />
						<input type="hidden" name="quantity" value="[% cart.size %]" />
						<input type="image" src="https://www.sandbox.paypal.com/en_US/i/btn/btn_paynowCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
						<img alt="" border="0" src="https://www.sandbox.paypal.com/en_US/i/scr/pixel.gif" width="1" height="1">
					</form>
				</div>
				<div class="span6">
					<form method="post" action="[% page.url() %]" style="margin: 0px; padding: 0px;" class="form-horizontal">
						<fieldset>
							[% payment %]
						</fieldset>
					</form>
				</div>
				[% END %]
			</div>
		</div>
	</div>
</div>
[% END %]
[% INCLUDE layout/internal.html %]
