[% menu_main = 'settings' %]
[% menu_settings = 'hashtags' %]
[% menu_subnav = 'check_hashtag' %]
[% content = BLOCK %]
<div class="container">		
	<div class="row">
		<div class="tabbable">
			<div class="span12">
				[% INCLUDE u/settings/menu.html %]
			</div>
			<div class="span12">
				<p>[% page.value.available %]</p>
				<form method="post" action="[% page.url() %]" style="margin: 0px; padding: 0px;" class="form-horizontal">
					<fieldset>
						<div class="control-group[% IF page.value.error %] error[% END %]">
							<label class="control-label" for="hashtag">Hashtag:</label>
							<div class="controls">
								<div class="input-prepend">
									<span class="add-on">#</span>
									[% page.field(
									command => 'check_hashtag',
									type    => 'text',
									name    => 'hashtag',
									value   => page.form.hashtag,
									opts    => {
									id => 'hashtag',
									style => 'width: 179px',
									},
									) %]
									[% IF page.value.error %]
									<div>
										<span class="error" for="hashtag" style="display: inline;">[% page.value.error %]</span>
									</div>
									[% END %]
								</div>
							</div>
						</div>
						<div class="control-group">
							<div class="controls">
								[% page.button(
								command  => 'check_hashtag',
								contents => 'Check Hashtag',
								opts     => {
								class => 'btn btn-primary btn-large',
								},
								) %]
								&nbsp;&nbsp;|&nbsp;&nbsp;
								<a href="[% page.url() %]">Cancel</a>
							</div>
						</div>
					</fieldset>
				</form>
			</div>
		</div>
	</div>
</div>
[% END %]
[% INCLUDE layout/internal.html %]
