[% title = 'Verify Ownership Of Domain' %]
[% menu_main = 'domains' %]
[% content = BLOCK %]
<h1>Verify Domain Name</h1>
<div class="content-box-grad"></div>
<div class="content-box table-box">
	<div class="row">
		<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
			<h2>Domain Name: [% page.value.domain %]</h2>
			[% IF verify_progress %]
			<div id="checking">
				<h3>Checking Domain Verification... <span id="progress"> </span></h3>
				<div class="progress progress-secondary progress-striped active">
					<div class="bar" style="width: 100%"></div>
				</div>
			</div>
			<div id="checking_error" style="display: none;">
				<h5>&laquo; <a href="/u/domains">Back To Domains List</a></h5>
				<div class="alert alert-error">
					<button type="button" class="close" data-dismiss="alert">&times;</button>
					<h4>An Error Occurred</h4>
					<br/>
					Unable to verify domain because an error occurred.
					<br/>
					<strong>Error: </strong><span id="error_msg"> </span>
				</div> 
			</div>
			<div id="checking_failure" style="display: none;">
				<h5>&laquo; <a href="/u/domains">Back To Domains List</a></h5>
				<div class="alert alert-error">
					<button type="button" class="close" data-dismiss="alert">&times;</button>
					<h4>Verification Failed</h4>
					<br/>
					<strong><span id="failure_msg"> </span></strong>
					<br/>
					Unable to verify your domain at this time.<br/>Please make you have correctly followed these instructions:<br/>
					<a class="btn btn-small" href="[% page.url(
						'path' => '/u/domain_code',
						'query' => {'id' => page.form.id},
					) %]">Domain Verification Instructions</a>
				</div> 
			</div>
			<div id="checking_ok" style="display: none;">
				<h5>&laquo; <a href="/u/domains">Back To Domains List</a></h5>
				<div class="alert alert-success">
					<button type="button" class="close" data-dismiss="alert">&times;</button>
					<h4>Domain Verified</h4>
					<br/>
					Your domain has been successfully verified.<br/>This domain is now available for use with RingMail.<br/>
					<a class="btn btn-small" href="[% page.url(
						'path' => '/u/domains',
						'query' => {'id' => page.form.id},
					) %]">Setup Domain Routing</a>
				</div> 
			</div>
			<script type="text/javascript">
$.ajax({
url: '[% page.url() %]',
data: {
	verify: 1,
	id: [% page.form.id %],
},
dataType: 'json',
timeout: 15000,
error: function(xhr, sts, err) {
	$('#error_msg').html(sts);
	$('#checking').hide();
	$('#checking_error').show();
},
success: function(data, sts, xhr) {
	if (data.ok)
	{
		$('#checking').hide();
		$('#checking_ok').show();
	}
	else
	{
		$('#failure_msg').html(data.error);
		$('#checking').hide();
		$('#checking_failure').show();
	}
},
type: 'GET'
});
$('#progress').html("Starting Check");
			</script>
			[% ELSE %]
			<div class="margin-box">
				<a href="/u/domains">&laquo; Back To Domains List</a>
			</div>
			<div class="margin-box faq-container">
				<ol class="faqList faq-list">
					<li id="faq-1">
						<div class="faq-icon">
							<div class="faq-number">1A</div>
						</div>
						<div class="faq-text">
							<h5>Verify domain name using a DNS record</h5>
							<p>Create a TXT record that contains exactly this value:</p>
							<code>
								ringmail-domain-verify=[% page.value.code %]
							</code>
							<br/>
							<br/>
							<h4>Additional Instructions:</h4>
							<a href="http://support.godaddy.com/help/article/7925/adding-or-editing-txt-records" target="_blank">GoDaddy: Adding or Editing TXT Records</a> &raquo;
						</div>
					</li>
					<li id="faq-2">
						<div class="faq-icon">
							<div class="faq-number">1B</div>
						</div>
						<div class="faq-text">
							<h5>Or, verify domain name using a web page</h5>
							<p>Install this HTML page within the root ("/") directory of your web site:</p>
							<div class="well">
								<a href="[% page.url(
									'command' => 'verify_download',
									'args' => [page.form.id],
								) %]"><img src="/img/file_html.png" border="0"/> ringmail_[% page.value.code_short %].html</a>
							</div>
						</div>
					</li>
					<li id="faq-3">
						<div class="faq-icon">
							<div class="faq-number">2</div>
						</div>
						<div class="faq-text">
							<h5>Check Verification</h5>
							<p>After you have completed one of these options press the button below to verify your domain.</p>
							<a href="[% page.url(
								'command' => 'verify',
								'args' => [page.form.id],
							) %]" class="btn btn-large btn-primary">Verify Domain</a>
						</div>
					</li>
				</ul>
			</div>
			[% END %]
		</div>
	</div>
</div>
[% END %]
[% INCLUDE layout/internal.html %]
