[% menu_main = 'settings' %]
[% menu_settings = 'domains' %]
[% content = BLOCK %]
[% INCLUDE u/settings/menu.html %]
<div id="masthead">
	<div class="container">
		<div class="masthead-pad">
			<div class="masthead-text">
				<h2>Domains</h2>
			</div>
		</div>
	</div>
</div>
<div id="content">
	<div class="container">
		<div class="row">
			<div class="tabbable">
				<div class="span12">
					[% INCLUDE u/settings/sub_menu.html %]
				</div>
				<div class="span12">
					[% IF page.form.new_domain %]
					<h2>Register New Domain:</h2>
					<div class="faq-container">
						<ol class="faqList faq-list">
							<li id="faq-1">
							<div class="faq-icon">
								<div class="faq-number">&raquo;</div>
							</div>
							<div class="faq-text">
								<h4>After registering you must confirm ownership of this domain</h4>
								<p>You will be provided with a verification code that can be added to your DNS entries or posted on your website.</p>
							</div>
							</li>
						</ol>
					</div>
					<form method="post" action="[% page.url() %]" style="margin: 0px; padding: 0px;" class="form-horizontal">
						<fieldset>
							<div class="control-group[% IF page.value.error %] error[% END %]">
								<label class="control-label" for="dns">Domain Name:</label>
								<div class="controls">
									[% page.field(
									'command' => 'domain_add',
									'type' => 'text',
									'name' => 'dns',
									'opts' => {'id' => 'dns'},
									) %]
									[% IF page.value.error %]
									<div>
										<span class="error" for="dns" style="display: inline;">[% page.value.error %]</span>
									</div>
									[% END %]
								</div>
							</div>
							<div class="control-group">
								<div class="controls">
									[% page.button(
									'command' => 'domain_add',
									'contents' => 'Register Domain',
									'opts' => {'class' => 'btn btn-primary btn-large'},
									) %]
									&nbsp;&nbsp;|&nbsp;&nbsp;
									<a href="[% page.url() %]">Cancel</a>
								</div>
							</div>
						</fieldset>
					</form>
					[% ELSE %]
					<h2>Routing for Domains:</h2>
					[% IF page.value.domain_added %]
					<div class="alert alert-success">
						<button type="button" class="close" data-dismiss="alert">&times;</button>
						<h4>Domain Registered</h4>
						<br/>
						The domain name <strong>[% page.value.domain %]</strong> is now registered with RingMail. You must verify that you own the domain before it can be used.
					</div> 
					[% END %]
					[% IF verify_count %]
					<div class="span6">
						<h3>Domains To Verify:</h3>
						<table class="table table-bordered table-striped">
							<thead>
								<tr>
									<th>Domain</th>
									<th>How To Verify</th>
									<th>Check Verification</th>
								</tr>
							</thead>
							<tbody>
							[% FOREACH d IN verify %]
							<tr>
								<td><span style="font-size: 14px;">[% d.domain %]</span></td>
								<td style="width: 25%;"><a class="btn btn-small" href="[% page.url(
										'path' => '/u/settings/domain_code',
										'query' => {'id' => d.domain_id},
										) %]">Instructions</a></td>
								<td style="width: 25%;"><a class="btn btn-small btn-primary" href="[% page.url(
										'path' => '/u/settings/domain_code',
										'command' => 'verify',
										'args' => [d.domain_id],
										) %]">Verify Now</a></td>
							</tr>
							[% END %]
							</tbody>
						</table>
					</div>
					<br clear="all"/>
					<hr/>
					[% END %]
					<form method="post" action="[% page.url() %]" style="margin: 0px; padding: 0px;" class="form-horizontal">
						<fieldset>
							<div class="control-group">
								<label class="control-label" for="domain_sel">Register a Domain with the RingMail network:</label>
								<div class="controls">
									<a class="btn btn-large btn-secondary" href="[% page.url('query' => {'new_domain' => 1}) %]">Register New Domain</a>
								</div>
							</div>
							<hr/>
							<div class="control-group">
								<label class="control-label" for="domain_sel">Select Domain:</label>
								<div class="controls">
									[% page.field(
									'type' => 'select',
									'name' => 'id',
									'select' => domain_list,
									'selected' => domain_sel,
									'opts' => domain_opts,
									) %]
								</div>
							</div>
						</fieldset>
					</form>
					[% IF domain_rt %]
					<h5 style="padding-left: 8px;">&raquo; Inbound Calls for Domain "[% domain_rt.domain %]" Ring to [% IF domain_rt.route %][% domain_rt.route %][% ELSE %]<em>No Destination</em>[% END %]</h5>
					<form method="post" action="[% page.url() %]" style="margin: 0px; padding: 0px;">
						<table class="table table-bordered table-striped table-highlight">
							<thead>
								<tr>
									<th colspan="3">&nbsp;&nbsp;Phone Number</th>
								</tr>
							</thead>
							<tbody>
							<tr>
								<td width="5%" style="text-align: center;">[% page.field(
									'command' => 'update',
									'type' => 'radio',
									'name' => domain_rt.id_name,
									'value' => 'did',
									'checked' => domain_rt.did,
									'opts' => domain_rt.did_opts,
									) %]</td>
								<td width="65%" style="padding-bottom: 0px;">
									<div class="control-group" style="margin-bottom: 0px;">
										<label for="did_[% domain_rt.id %]" class="control-label">Phone Number</label>
										<div class="controls" style="margin-bottom: 0px;">
											[% IF domain_rt.did_opts.disabled == 'disabled' %]
											[% page.field(
											'command' => 'update',
											'type' => 'text',
											'name' => domain_rt.id_did,
											'value' => domain_rt.did_number,
											'opts' => {'class' => 'input-large', 'id' => domain_rt.id_did, 'disabled' => 'disabled'},
											) %]
											<p class="help-block">
											A RingMail Basic subscription is required to route calls to a phone number.
											</p>
											<p class="help-block">
											<a class="btn" href="/u/settings/service">Subscribe Now</a>
											&nbsp;&nbsp;&nbsp;&nbsp;
											<a href="#">Why do we charge?</a>
											</p>
											[% ELSE %]
											[% page.field(
											'command' => 'update',
											'type' => 'text',
											'name' => domain_rt.id_did,
											'value' => domain_rt.did_number,
											'opts' => {'class' => 'input-large', 'id' => domain_rt.id_did},
											) %]
											[% END %]
										</div>
									</div>
								</td>
								<td width="30%"><p>Enter a telephone number.</p></td>
							</tr>
							</tbody>
						</table>
						<table class="table table-bordered table-striped table-highlight ">
							<thead>
								<tr>
									<th colspan="3">&nbsp;&nbsp;RingMail App / VoIP Phone</th>
								</tr>
							</thead>
							<tbody>
							<tr>
								<td width="5%" style="text-align: center;">[% page.field(
									'command' => 'update',
									'type' => 'radio',
									'name' => domain_rt.id_name,
									'value' => 'phone',
									'checked' => domain_rt.phone
									) %]</td>
								<td width="65%">
									<div class="control-group" style="margin-bottom: 0px;">
										<label for="phone_[% domain_rt.id %]" class="control-label">Select Phone</label>
										<div class="controls" style="margin-bottom: 0px;">
											[% domain_rt.phone_field %]
										</div>
									</div>
								</td>
								<td width="30%">Register VoIP phone or softphone.</td>
							</tr>
							</tbody>
						</table>
						<table class="table table-bordered table-striped table-highlight ">
							<thead>
								<tr>
									<th colspan="3">&nbsp;&nbsp;SIP Address</th>
								</tr>
							</thead>
							<tbody>
							<tr>
								<td width="5%" style="text-align: center;">[% page.field(
									'command' => 'update',
									'type' => 'radio',
									'name' => domain_rt.id_name,
									'value' => 'sip',
									'checked' => domain_rt.sip
									) %]</td>
								<td width="65%" style="padding-bottom: 0px;">
									<div class="control-group" style="margin-bottom: 0px;">
										<label for="sip_[% domain_rt.id %]" class="control-label">SIP Address</label>
										<div class="controls" style="margin-bottom: 0px;">
											[% page.field(
											'command' => 'update',
											'type' => 'text',
											'name' => domain_rt.id_sip,
											'value' => domain_rt.sip_url,
											'opts' => {'class' => 'input-large', 'id' => domain_rt.id_sip},
											) %]
										</div>
									</div>
								</td>
								<td width="30%">Enter a SIP endpoint URL.</td>
							</tr>
							</tbody>
						</table>
						<div class="form-actions">
							[% page.button(
							'command' => 'update',
							'contents' => '<i class="icon-ok"></i> Update',
							'opts' => {'class' => 'btn btn-primary btn-large'},
							'args' => [domain_rt.target_id, domain_sel],
							) %]
						</div>
					</form>
					[% END %]
					[% END %]
				</div> <!-- /#tab1 -->
			</div>
		</div>
	</div>
</div>
[% END %]
[% INCLUDE layout/internal.html %]
