[% menu_main = 'settings' %]
[% menu_settings = 'account' %]
[% menu_subnav = 'emails' %]
[% content = BLOCK %]
<div class="container">		
	<div class="row">
		<div class="tabbable">
			<div class="span12">
				[% INCLUDE u/settings/menu.html %]
			</div>
			<div class="span12">
				<h2 style="margin-bottom: 0px;">[% email %]</h2>
				<h5>RingMail Enabled <i class="icon-ok" style="color: #00FF00;"></i></h5>
				<hr/>
			</div>
		</div>
	</div>
</div>
[% END %]
[% INCLUDE layout/internal.html %]
