[% menu_settings = 'hashtags' %]
[% menu_subnav = 'hashtags' %]
[% content = BLOCK %]
[% INCLUDE u/settings/menu.html %]
<div id="masthead">
	<div class="container">
		<div class="masthead-pad">
			<div class="masthead-text">
				<h2>Hashtag: #[% hashtag %]</h2>
			</div>
		</div>
	</div>
</div>
<div id="content">
	<div class="container">
		<div class="row">
			<div class="tabbable">
				<div class="span12">
					[% INCLUDE u/settings/sub_menu.html %]
				</div>
				<div class="span12">
					<form method="post" action="[% page.url( query => { id => page.form.id, }, ) %]" style="margin: 0px; padding: 0px;">
						<div>
							<p style="text-align: right;">
							[% IF ! edit %]
							<a href="[% page.url( query => { id => page.form.id, edit => 1, }, ) %]" class="btn">Edit Hashtag</a>
							[% ELSE %]
							[% page.button(
							command => 'hashtag_edit',
							text => 'Save Changes',
							opts => {
							type => 'submit',
							class => 'btn btn-primary',
							},
							args => [ page.form.id, ],
							) %]
							[% END %]
							</p>
						</div>
						<div class="control-group[% IF page.value.error %] error[% END %]">
							<label class="control-label" for="category">Category:</label>
							<div class="controls">
								[% IF edit %]
								[% page.field(
								command => 'hashtag_edit',
								type => 'select',
								name => 'category',
								select => category_list,
								selected => category_sel,
								opts => category_opts,
								) %]
								[% IF page.value.error %]
								<div>
									<span class="error" for="category" style="display: inline;">[% page.value.error %]</span>
								</div>
								[% END %]
								[% ELSE %]
								[% category %]
								[% END %]
							</div>
						</div>
						<div class="control-group[% IF page.value.error %] error[% END %]">
							<label class="control-label" for="target">Destination:</label>
							<div class="controls">
								<div class="tabbable"> <!-- Only required for left/right tabs -->
									<ul class="nav nav-tabs">
										<li class="[% IF ! ringpage.defined %] active[% END %]"><a href="#tab1" data-toggle="tab">Target URL</a></li>
										<li class="[% IF ringpage.defined %] active[% END %]"><a href="#tab2" data-toggle="tab">RingPage</a></li>
									</ul>
									<div class="tab-content">
										<div class="tab-pane[% IF ! ringpage.defined %] active[% END %]" id="tab1">
											[% IF edit %]
											[% page.field(
											command => 'hashtag_edit',
											type => 'text',
											name => 'target',
											value => target_url,
											opts => {
											id => 'target',
											},
											) %]
											[% IF page.value.error %]
											<div>
												<span class="error" for="target" style="display: inline;">[% page.value.error %]</span>
											</div>
											[% END %]
											[% ELSE %]
											<a target="_blank" href="[% target_url %]">[% target_url %]</a>
											[% END %]
										</div>
										<div class="tab-pane[% IF ringpage.defined %] active[% END %]" id="tab2">
											[% IF edit %]
											[% ringpage_list.unshift( [ '(None Selected)', undef, ], ) %]
											[% page.field(
											command => 'hashtag_edit',
											type => 'select',
											name => 'ringpage_id',
											select => ringpage_list,
											selected => ringpage_sel,
											opts => ringpage_opts,
											) %]
											[% IF page.value.error %]
											<div>
												<span class="error" for="ringpage" style="display: inline;">[% page.value.error %]</span>
											</div>
											[% END %]
											[% ELSE %]
											[% ringpage %]
											[% END %]
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="control-group[% IF page.value.error %] error[% END %]">
							<label class="control-label" for="target">Expires:</label>
							<div class="controls">
								<pre style="width: 200px;">Never</pre>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>
[% END %]
[% INCLUDE layout/internal.html %]
