[% menu_settings = 'hashtags' %]
[% menu_subnav = 'hashtags' %]
[% content = BLOCK %]
[% INCLUDE u/settings/menu.html %]
<div id="masthead">
	<div class="container">
		<div class="masthead-pad">
			<div class="masthead-text">
				<h2>Hashtag: #[% hashtag %]</h2>
			</div>
		</div>
	</div>
</div>
<div id="content">
	<div class="container">
		<div class="row">
			<div class="span12">
				<h4> &nbsp;</h4>
				<form method="post" action="[% page.url( query => { hashtag_id => page.form.hashtag_id, }, ) %]" style="margin: 0px; padding: 0px;">
					<div class="control-group[% IF page.value.error %] error[% END %]">
						<label class="control-label" for="category">Category:</label>
						<div class="controls">
							[% page.field(
							command => 'hashtag_edit',
							type => 'select',
							name => 'category_id',
							select => category_list,
							selected => category_sel,
							opts => {
							id => 'category',
							},
							) %]
							[% IF page.value.error %]
							<div>
								<span class="error" for="category" style="display: inline;">[% page.value.error %]</span>
							</div>
							[% END %]
						</div>
					</div>
					<div class="control-group[% IF page.value.error %] error[% END %]">
						<label class="control-label" for="target">Destination:</label>
						<div class="controls">
							<div>
								<label class="radio" for="radio1">Target URL<input id="radio1" class="radio" type="radio" name="destination" [% IF ! ringpage.defined %]checked [% END %]/></label>
								<div>
									[% page.field(
									command => 'hashtag_edit',
									type => 'text',
									name => 'target',
									value => target_url,
									opts => {
									id => 'target',
									placeholder => 'http://www.yourlinkhere.com',
									},
									) %]
									[% IF page.value.error %]
									<div>
										<span class="error" for="target" style="display: inline;">[% page.value.error %]</span>
									</div>
									[% END %]
								</div>
								<label class="radio" for="radio2">RingPage<input id="radio2" class="radio" type="radio" name="destination" [% IF ringpage.defined %]checked [% END %] /></label>
								<div>
									[% ringpage_list.unshift( [ '(None Selected)', undef, ], ) %]
									<p class="ringpage-select-p">Select RingPage:
									[% page.field(
									command => 'hashtag_edit',
									type => 'select',
									name => 'ringpage_id',
									select => ringpage_list,
									selected => ringpage_sel,
									opts => {
									id => 'ringpage',
									class => 'ringpage-select',
									},
									) %]
									[% IF page.value.error %]
									</p>
									<div>
										<span class="error" for="ringpage" style="display: inline;">[% page.value.error %]</span>
									</div>
									[% END %]
									<p class="ringpage-select-p">Create RingPage:
									[% page.link(
									text => 'Create RingPage',
									path => '/u/ringpages',
									query => {
									hashtag_id => page.form.hashtag_id,
									},
									opts => {
									class => 'btn btn-small create-ringpage-btn',
									},
									) %]
									</p>
								</div>
							</div>
						</div>
					</div>
					<div>
						[% page.button(
						command => 'hashtag_edit',
						text => 'Save Changes',
						opts => {
						type => 'submit',
						class => 'btn btn-primary',
						},
						args => [ page.form.hashtag_id, ],
						) %]
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
[% END %]
[% INCLUDE layout/internal.html %]
