[% menu_settings = 'hashtags' %]
[% menu_subnav = page.form.new_tag ? 'register_hashtag' : 'hashtags' %]
[% content = BLOCK %]
[% INCLUDE u/settings/menu.html %]
<div id="masthead">
	<div class="container">
		<div class="masthead-pad">
			<div class="masthead-text">
				<h2>Hashtags</h2>
			</div>
		</div>
	</div>
</div>
<div id="content">
	<div class="container">		
		<div class="row">
			<div class="tabbable">
				<div class="span12">
					[% IF page.form.new_tag %]
					<form method="post" action="[% page.url() %]" style="margin: 0px; padding: 0px;" class="form-horizontal">
						<fieldset>
							<div class="control-group[% IF page.value.error %] error[% END %]">
								<label class="control-label" for="hashtag">Hashtag:</label>
								<div class="controls">
									<div class="input-prepend">
										<span class="add-on">#</span>
										[% page.field(
										'command' => 'hashtag_add',
										'type' => 'text',
										'name' => 'hashtag',
										'opts' => {'id' => 'hashtag', 'style' => 'width: 179px'},
										) %]
										[% IF page.value.error %]
										<div>
											<span class="error" for="hashtag" style="display: inline;">[% page.value.error %]</span>
										</div>
										[% END %]
									</div>
								</div>
							</div>
							<div class="control-group[% IF page.value.error %] error[% END %]">
								<label class="control-label" for="target">Registration Fee:</label>
								<div class="controls">
									<pre style="width: 200px;">$99.99</pre>
								</div>
							</div>
							<div class="control-group">
								<div class="controls">
									[% page.button(
									'command' => 'hashtag_add',
									'contents' => 'Add To Cart',
									'opts' => {'class' => 'btn btn-primary btn-large'},
									) %]
									&nbsp;&nbsp;|&nbsp;&nbsp;
									<a href="[% page.url() %]">Cancel</a>
								</div>
							</div>
						</fieldset>
					</form>
					[% ELSE %]
					<p>Enable #Hashtags for RingMail Communications.</p>
					<form method="post" action="[% page.url() %]" style="margin: 0px; padding: 0px;" class="form-horizontal">
						<fieldset>
							<div class="control-group">
								<label class="control-label" for="hashtag">Register A New #Hashtag:</label>
								<div class="controls">
									<a class="btn btn-large btn-secondary" href="[% page.url( path => '/u/hashtags', query => { new_tag => 1, }, ) %]">Create #Hashtag</a>
								</div>
							</div>
						</fieldset>
					</form>
					<table class="table table-bordered table-striped table-highlight">
						<thead>
							<tr>
								<th>Hashtag</th>
								<th>&nbsp;</th>
							</tr>
						</thead>
						<tbody>
						[% IF hashtag_table.size == 0 %]
						<tr>
							<td colspan="4">No #Hashtags Registered</td>
						</tr>
						[% ELSE %]
						[% FOREACH row IN hashtag_table %]
						<tr>
							<td>#[% row.hashtag %]</td>
							<td>
								[% page.link(
								text => 'Edit Details',
								path => '/u/hashtag',
								query => {
								hashtag_id => row.id
								},
								) %]
							</td>
						</tr>
						[% END %]
						[% END %]
						</tbody>
					</table>
					[% END %]
				</div>
			</div>
		</div>
	</div>
</div>
[% END %]
[% INCLUDE layout/internal.html %]
