<ul class="nav nav-tabs nav-stacked">
	<li[% IF menu_settings == 'emails' %] class="active"[% END %]>
		<a href="/u">
			<i class="icon-envelope"></i>
			Email Address
			<i class="icon-chevron-right"></i>
		</a>              			              	
	</li>
	<li[% IF menu_settings == 'hashtags' %] class="active"[% END %]>
		<a href="/u/hashtags">
			<i class="icon-bell"></i>
			Hashtags
			<i class="icon-chevron-right"></i>
		</a>              			              	
	</li>
	<li[% IF menu_settings == 'domains' %] class="active"[% END %]>
		<a href="/u/domains">
			<i class="icon-globe"></i>
			Domain Names
			<i class="icon-chevron-right"></i>
		</a>              			              	
	</li>
	<li[% IF menu_settings == 'templates' %] class="active"[% END %]>
		<a href="/u/templates">
			<i class="icon-globe"></i>
			Templates
			<i class="icon-chevron-right"></i>
		</a>              			              	
	</li>
	<li[% IF menu_settings == 'ringpages' %] class="active"[% END %]>
		<a href="/u/ringpages">
			<i class="icon-globe"></i>
			RingPages
			<i class="icon-chevron-right"></i>
		</a>              			              	
	</li>
	<li[% IF menu_settings == 'service' %] class="active"[% END %]>
		<a href="/u/service">
			<i class="icon-user"></i>
			Account Details
			<i class="icon-chevron-right"></i>
		</a>              			              	
	</li>
	<li[% IF menu_settings == 'password' %] class="active"[% END %]>
		<a href="/u/password">
			<i class="icon-lock"></i>
			Change Password
			<i class="icon-chevron-right"></i>
		</a>              			              	
	</li>
</ul>
