[% menu_settings = 'hashtags' %]
[% content = BLOCK %]
[% INCLUDE u/settings/menu.html %]
<div id="masthead">
	<div class="container">
		<div class="masthead-pad">
			<div class="masthead-text">
				<h2>Hashtags</h2>
			</div>
		</div>
	</div>
</div>
<div id="content">
	<div class="container">		
		<div class="row">
			<div class="tabbable">
				<div class="span12">
					<h2>Add Hashtag</h2>
					<form method="post" action="[% page.url() %]" style="margin: 0px; padding: 0px;" class="form-horizontal">
						<fieldset>
							<div class="control-group[% IF page.value.error %] error[% END %]">
								<div class="hashtag-search">
									<div class="input-prepend">
										<span class="add-on">#</span>
										[% page.field(
										command => 'search',
										type => 'text',
										name => 'hashtag',
										value => page.form.hashtag,
										opts => {
										id => 'hashtag',
										style => 'width: 179px',
										},
										) %]
										[% IF page.value.error %]
										<div>
											<span class="error" for="hashtag" style="display: inline;">[% page.value.error %]</span>
										</div>
										[% END %]
									</div>
									[% page.button(
									command => 'search',
									contents => 'Add',
									opts => {
									class => 'btn btn-primary btn-medium',
									},
									) %]
								</div>
							</div>
							<div class="span12">
								[% IF page.value.hashtag.defined %]
								[% IF page.value.hashtag == 0 %]
								<h4>Great news! #[% page.form.hashtag %] is available</h4>
								<pre class="hashtag-available"> #[% page.form.hashtag %] | $99.99 </pre>
								[% page.field(
								command => 'add_to_cart',
								type => 'hidden',
								name => 'hashtag',
								value => page.form.hashtag,
								) %]
								[% page.button(
								command => 'add_to_cart',
								contents => 'Add To Cart',
								opts => {
								class => 'btn btn-primary btn-medium',
								},
								) %]
								[% page.field(
								command => 'buy_it_now',
								type => 'hidden',
								name => 'hashtag',
								value => page.form.hashtag,
								) %]
								[% page.button(
								command => 'buy_it_now',
								contents => 'Buy It Now',
								opts => {
								class => 'btn btn-primary btn-medium',
								},
								) %]
								[% ELSE %]
								<h4>Sorry, #[% page.form.hashtag %] is unavailable</h4>
								[% END %]
								[% END %]
							</div>
						</fieldset>
					</form>
				</div>
				<div class="span12 cart-start">
					<h2>My Hashtags</h2>
					<table class="table table-bordered table-highlight table-cart">
						<thead>
							<tr>
								<th>Hashtag</th>
								<th>Price</th>
								<th>Status</th>
								<th>Edit Details</th>
								<th>Remove</th>
							</tr>
						</thead>
						<tbody>
						[% IF hashtags.size == 0 %]
						<tr>
							<td colspan="5">No Hashtags.</td>
						</tr>
						[% ELSE %]
						[% FOREACH hashtag IN hashtags %]
						<tr>
							<td>#[% hashtag.hashtag %]</td>
							<td>$99.99</td>
							<td>
								[% IF hashtag.transaction_id.defined %]
								<span class="label label-primary">Paid</span>
								[% ELSE %]
								<span class="label label-primary">Pending</span>
								[% END %]
							</td>
							<td>
								[% page.link(
								text => 'Edit Details',
								path => '/u/hashtag',
								query => {
								hashtag_id => hashtag.id
								},
								) %]
							</td>
							<td>
								[% IF hashtag.transaction_id.defined %]
								[% ELSE %]
								[% page.link(
								text => '<span class="remove-btn"><i class="fa fa-minus"></i></span>',
								command => 'remove_from_cart',
								args => [ hashtag.id, ],
								opts => {
								onclick => "return confirm( 'Remove $hashtag.hashtag?' )",
								},
								) %]
								[% END %]
							</td>
						</tr>
						[% END %]
						[% END %]
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>
[% END %]
[% INCLUDE layout/internal.html %]
