[% menu_main = 'settings' %]
[% menu_settings = 'account' %]
[% menu_subnav = 'password' %]
[% content = BLOCK %]
[% INCLUDE u/settings/menu.html %]
<div id="masthead">
	<div class="container">
		<div class="masthead-pad">
			<div class="masthead-text">
				<h2>Account</h2>
			</div>
		</div>
	</div>
</div>
<div id="content">
	<div class="container">
		<div class="row">
			<div class="tabbable">
				<h3>&nbsp;</h3>
				<div class="span9">
					[% IF page.value.error %]
					<div class="alert alert-error">
						<button type="button" class="close" data-dismiss="alert">&times;</button>
						<h4>Error</h4>
						<br/>
						[% page.value.error %]
					</div>
					[% END %]
					[% IF page.value.message %]
					<div class="alert alert-success">
						<button type="button" class="close" data-dismiss="alert">&times;</button>
						<h4>Message</h4>
						<br/>
						[% page.value.message %]
					</div>
					[% END %]
					<p>If you use the RingMail App you will need to enter your new password on the app.</p>
				</div>
				<div class="span5">
					<form method="post" action="[% page.url() %]" style="margin: 0px; padding: 0px;">
						<table class="table-bordered table-striped table-highlight table-condensed">
							<thead>
								<tr>
									<th colspan="2">&nbsp;&nbsp;Change Password:</th>
								</tr>
							</thead>
							<tbody>
							<tr>
								<td width="40%"><strong>Current Password:</strong></td>
								<td width="60%">[% page.field(
									'command' => 'password_change',
									'type' => 'password',
									'name' => 'pass_orig',
									) %]</td>
							</tr>
							<tr>
								<td width="40%"><strong>New Password:</strong></td>
								<td width="60%">[% page.field(
									'command' => 'password_change',
									'type' => 'password',
									'name' => 'pass_1',
									) %]</td>
							</tr>
							<tr>
								<td width="40%"><strong>Confirm Password:</strong></td>
								<td width="60%">[% page.field(
									'command' => 'password_change',
									'type' => 'password',
									'name' => 'pass_2',
									) %]</td>
							</tr>
							<tr>
								<td colspan="2" align="center">[% page.button(
									'command' => 'password_change',
									'text' => 'Change Password',
									'opts' => {'class' => 'btn btn-primary btn-medium'},
									) %]</td>
							</tr>
							</tbody>
						</table>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>
[% END %]
[% INCLUDE layout/internal.html %]
