[% menu_settings = 'ringpages' %]
[% content = BLOCK %]
<div class="container">		
	<div class="row">
		<div class="tabbable">
			<div class="span3">
				[% INCLUDE u/settings/menu.html %]
			</div> <!-- /.span3 -->
			<div class="span9">
				[% IF page.form.new_ringpage %]
					<h2>Create New RingPage:</h2>
					<form method="post" action="[% page.url() %]" style="margin: 0px; padding: 0px;" class="form-horizontal">
						<fieldset>
							<div class="control-group[% IF page.value.error %] error[% END %]">
								<label class="control-label" for="ringpage">RingPage:</label>
								<div class="controls">
									<div class="input-prepend">
										[% page.field(
											'command' => 'add',
											'type' => 'text',
											'name' => 'ringpage',
											'opts' => {'id' => 'ringpage', 'style' => 'width: 179px'},
										) %]
										[% IF page.value.error %]
										<div>
											<span class="error" for="ringpage" style="display: inline;">[% page.value.error %]</span>
										</div>
										[% END %]
									</div>
								</div>
							</div>
                            <div class="control-group[% IF page.value.error %] error[% END %]">
                                <label class="control-label" for="template">Template:</label>
                                <div class="controls">
                                    [% page.field(
                                        'command' => 'add',
                                        'type' => 'select',
                                        'name' => 'template_id',
                                        'select' => template_list,
                                        'selected' => template_sel,
                                        'opts' => template_opts,
                                    ) %]
                                    [% IF page.value.error %]
                                    <div>
                                        <span class="error" for="template" style="display: inline;">[% page.value.error %]</span>
                                    </div>
                                    [% END %]
                                </div>
                            </div>
                            <div class="control-group[% IF page.value.error %] error[% END %]">
                                <label class="control-label" for="offer">Contains Offer:</label>
                                <div class="controls">
                                    [% page.field(
                                        'command' => 'add',
                                        'type' => 'checkbox',
                                        'name' => 'offer',
                                    ) %]
                                    [% IF page.value.error %]
                                    <div>
                                        <span class="error" for="offer" style="display: inline;">[% page.value.error %]</span>
                                    </div>
                                    [% END %]
                                </div>
                            </div>
                            <div class="control-group[% IF page.value.error %] error[% END %]">
                                <label class="control-label" for="video">Contains Video:</label>
                                <div class="controls">
                                    [% page.field(
                                        'command' => 'add',
                                        'type' => 'checkbox',
                                        'name' => 'video',
                                    ) %]
                                    [% IF page.value.error %]
                                    <div>
                                        <span class="error" for="video" style="display: inline;">[% page.value.error %]</span>
                                    </div>
                                    [% END %]
                                </div>
                            </div>
                            <div class="control-group[% IF page.value.error %] error[% END %]">
                                <label class="control-label" for="header_background_color">Header Background Color:</label>
                                <input type='text' id="full"/>

<script type="text/javascript">

$("#update").click (function() {
    console.log($("#full").spectrum("option", "palette"));
    $("#full").spectrum("option", "palette", [
        ["red", "green", "blue"]    
    ]);
});

$("#full").spectrum({
    color: "#ECC",
    flat: true,
    showInput: true,
    className: "full-spectrum",
    showInitial: true,
    showPalette: true,
    showSelectionPalette: true,
    maxPaletteSize: 10,
    preferredFormat: "hex",
    localStorageKey: "spectrum.demo",
    move: function (color) {
        
    },
    show: function () {
    
    },
    beforeShow: function () {
    
    },
    hide: function () {
    
    },
    change: function() {
        
    },
    palette: [
        ["rgb(0, 0, 0)", "rgb(67, 67, 67)", "rgb(102, 102, 102)",
        "rgb(204, 204, 204)", "rgb(217, 217, 217)","rgb(255, 255, 255)"],
        ["rgb(152, 0, 0)", "rgb(255, 0, 0)", "rgb(255, 153, 0)", "rgb(255, 255, 0)", "rgb(0, 255, 0)",
        "rgb(0, 255, 255)", "rgb(74, 134, 232)", "rgb(0, 0, 255)", "rgb(153, 0, 255)", "rgb(255, 0, 255)"], 
        ["rgb(230, 184, 175)", "rgb(244, 204, 204)", "rgb(252, 229, 205)", "rgb(255, 242, 204)", "rgb(217, 234, 211)", 
        "rgb(208, 224, 227)", "rgb(201, 218, 248)", "rgb(207, 226, 243)", "rgb(217, 210, 233)", "rgb(234, 209, 220)", 
        "rgb(221, 126, 107)", "rgb(234, 153, 153)", "rgb(249, 203, 156)", "rgb(255, 229, 153)", "rgb(182, 215, 168)", 
        "rgb(162, 196, 201)", "rgb(164, 194, 244)", "rgb(159, 197, 232)", "rgb(180, 167, 214)", "rgb(213, 166, 189)", 
        "rgb(204, 65, 37)", "rgb(224, 102, 102)", "rgb(246, 178, 107)", "rgb(255, 217, 102)", "rgb(147, 196, 125)", 
        "rgb(118, 165, 175)", "rgb(109, 158, 235)", "rgb(111, 168, 220)", "rgb(142, 124, 195)", "rgb(194, 123, 160)",
        "rgb(166, 28, 0)", "rgb(204, 0, 0)", "rgb(230, 145, 56)", "rgb(241, 194, 50)", "rgb(106, 168, 79)",
        "rgb(69, 129, 142)", "rgb(60, 120, 216)", "rgb(61, 133, 198)", "rgb(103, 78, 167)", "rgb(166, 77, 121)",
        "rgb(91, 15, 0)", "rgb(102, 0, 0)", "rgb(120, 63, 4)", "rgb(127, 96, 0)", "rgb(39, 78, 19)", 
        "rgb(12, 52, 61)", "rgb(28, 69, 135)", "rgb(7, 55, 99)", "rgb(32, 18, 77)", "rgb(76, 17, 48)"]
    ]
});

</script>
                                <div class="controls">
                                    <div class="input-prepend">
                                        [% page.field(
                                            'command' => 'add',
                                            'type' => 'text',
                                            'name' => 'header_background_color',
                                            'opts' => {'id' => 'header_background_color', 'style' => 'width: 179px'},
                                        ) %]
                                        [% IF page.value.error %]
                                        <div>
                                            <span class="error" for="header_background_color" style="display: inline;">[% page.value.error %]</span>
                                        </div>
                                        [% END %]
                                    </div>
                                </div>
                            </div>
                            <div class="control-group[% IF page.value.error %] error[% END %]">
                                <label class="control-label" for="header_text_color">Header Text Color:</label>
                                <div class="controls">
                                    <div class="input-prepend">
                                        [% page.field(
                                            'command' => 'add',
                                            'type' => 'text',
                                            'name' => 'header_text_color',
                                            'opts' => {'id' => 'header_text_color', 'style' => 'width: 179px'},
                                        ) %]
                                        [% IF page.value.error %]
                                        <div>
                                            <span class="error" for="header_text_color" style="display: inline;">[% page.value.error %]</span>
                                        </div>
                                        [% END %]
                                    </div>
                                </div>
                            </div>
                            <div class="control-group[% IF page.value.error %] error[% END %]">
                                <label class="control-label" for="body_background_image">Body Background Image:</label>
                                <div class="controls">
                                    <div class="input-prepend">
                                        [% page.field(
                                            'command' => 'add',
                                            'type' => 'text',
                                            'name' => 'body_background_image',
                                            'opts' => {'id' => 'body_background_image', 'style' => 'width: 179px'},
                                        ) %]
                                        [% IF page.value.error %]
                                        <div>
                                            <span class="error" for="body_background_image" style="display: inline;">[% page.value.error %]</span>
                                        </div>
                                        [% END %]
                                    </div>
                                </div>
                            </div>
                            <div class="control-group[% IF page.value.error %] error[% END %]">
                                <label class="control-label" for="body_background_color">Body Background Color:</label>
                                <div class="controls">
                                    <div class="input-prepend">
                                        [% page.field(
                                            'command' => 'add',
                                            'type' => 'text',
                                            'name' => 'body_background_color',
                                            'opts' => {'id' => 'body_background_color', 'style' => 'width: 179px'},
                                        ) %]
                                        [% IF page.value.error %]
                                        <div>
                                            <span class="error" for="body_background_color" style="display: inline;">[% page.value.error %]</span>
                                        </div>
                                        [% END %]
                                    </div>
                                </div>
                            </div>
                            <div class="control-group[% IF page.value.error %] error[% END %]">
                                <label class="control-label" for="body_text_color">Body Text Color:</label>
                                <div class="controls">
                                    <div class="input-prepend">
                                        [% page.field(
                                            'command' => 'add',
                                            'type' => 'text',
                                            'name' => 'body_text_color',
                                            'opts' => {'id' => 'body_text_color', 'style' => 'width: 179px'},
                                        ) %]
                                        [% IF page.value.error %]
                                        <div>
                                            <span class="error" for="body_text_color" style="display: inline;">[% page.value.error %]</span>
                                        </div>
                                        [% END %]
                                    </div>
                                </div>
                            </div>
                            <div class="control-group[% IF page.value.error %] error[% END %]">
                                <label class="control-label" for="footer_background_color">Footer Background Color:</label>
                                <div class="controls">
                                    <div class="input-prepend">
                                        [% page.field(
                                            'command' => 'add',
                                            'type' => 'text',
                                            'name' => 'footer_background_color',
                                            'opts' => {'id' => 'footer_background_color', 'style' => 'width: 179px'},
                                        ) %]
                                        [% IF page.value.error %]
                                        <div>
                                            <span class="error" for="footer_background_color" style="display: inline;">[% page.value.error %]</span>
                                        </div>
                                        [% END %]
                                    </div>
                                </div>
                            </div>
                            <div class="control-group[% IF page.value.error %] error[% END %]">
                                <label class="control-label" for="footer_text_color">Footer Text Color:</label>
                                <div class="controls">
                                    <div class="input-prepend">
                                        [% page.field(
                                            'command' => 'add',
                                            'type' => 'text',
                                            'name' => 'footer_text_color',
                                            'opts' => {'id' => 'footer_text_color', 'style' => 'width: 179px'},
                                        ) %]
                                        [% IF page.value.error %]
                                        <div>
                                            <span class="error" for="footer_text_color" style="display: inline;">[% page.value.error %]</span>
                                        </div>
                                        [% END %]
                                    </div>
                                </div>
                            </div>
                            <div class="control-group[% IF page.value.error %] error[% END %]">
                                <label class="control-label" for="body_text">Body Text:</label>
                                <div class="controls">
                                    <div class="input-prepend">
                                        [% page.field(
                                            'command' => 'add',
                                            'type' => 'text',
                                            'name' => 'body_text',
                                            'opts' => {'id' => 'body_text', 'style' => 'width: 179px'},
                                        ) %]
                                        [% IF page.value.error %]
                                        <div>
                                            <span class="error" for="body_text" style="display: inline;">[% page.value.error %]</span>
                                        </div>
                                        [% END %]
                                    </div>
                                </div>
                            </div>
                            <div class="control-group[% IF page.value.error %] error[% END %]">
                                <label class="control-label" for="footer_text">Footer Text:</label>
                                <div class="controls">
                                    <div class="input-prepend">
                                        [% page.field(
                                            'command' => 'add',
                                            'type' => 'text',
                                            'name' => 'footer_text',
                                            'opts' => {'id' => 'footer_text', 'style' => 'width: 179px'},
                                        ) %]
                                        [% IF page.value.error %]
                                        <div>
                                            <span class="error" for="footer_text" style="display: inline;">[% page.value.error %]</span>
                                        </div>
                                        [% END %]
                                    </div>
                                </div>
                            </div>
                            <div class="control-group[% IF page.value.error %] error[% END %]">
                                <label class="control-label" for="header_subtitle">Header Subtitle:</label>
                                <div class="controls">
                                    <div class="input-prepend">
                                        [% page.field(
                                            'command' => 'add',
                                            'type' => 'text',
                                            'name' => 'header_subtitle',
                                            'opts' => {'id' => 'header_subtitle', 'style' => 'width: 179px'},
                                        ) %]
                                        [% IF page.value.error %]
                                        <div>
                                            <span class="error" for="header_subtitle" style="display: inline;">[% page.value.error %]</span>
                                        </div>
                                        [% END %]
                                    </div>
                                </div>
                            </div>
                            <div class="control-group[% IF page.value.error %] error[% END %]">
                                <label class="control-label" for="body_header">Body Header:</label>
                                <div class="controls">
                                    <div class="input-prepend">
                                        [% page.field(
                                            'command' => 'add',
                                            'type' => 'text',
                                            'name' => 'body_header',
                                            'opts' => {'id' => 'body_header', 'style' => 'width: 179px'},
                                        ) %]
                                        [% IF page.value.error %]
                                        <div>
                                            <span class="error" for="body_header" style="display: inline;">[% page.value.error %]</span>
                                        </div>
                                        [% END %]
                                    </div>
                                </div>
                            </div>
                            <div class="control-group[% IF page.value.error %] error[% END %]">
                                <label class="control-label" for="header_title">Header Title:</label>
                                <div class="controls">
                                    <div class="input-prepend">
                                        [% page.field(
                                            'command' => 'add',
                                            'type' => 'text',
                                            'name' => 'header_title',
                                            'opts' => {'id' => 'header_title', 'style' => 'width: 179px'},
                                        ) %]
                                        [% IF page.value.error %]
                                        <div>
                                            <span class="error" for="header_title" style="display: inline;">[% page.value.error %]</span>
                                        </div>
                                        [% END %]
                                    </div>
                                </div>
                            </div>
							<div class="control-group">
								<div class="controls">
									[% page.button(
										'command' => 'add',
										'contents' => 'Create RingPage',
										'opts' => {'class' => 'btn btn-primary btn-large'},
									) %]
									&nbsp;&nbsp;|&nbsp;&nbsp;
									<a href="[% page.url() %]">Cancel</a>
								</div>
							</div>
						</fieldset>
					</form>
				[% ELSE %]
					<h2>RingPages:</h2>
					<p></p>
					<form method="post" action="[% page.url() %]" style="margin: 0px; padding: 0px;" class="form-horizontal">
						<fieldset>
							<div class="control-group">
								<label class="control-label" for="ringpage">Create a new RingPage:</label>
								<div class="controls">
									<a class="btn btn-large btn-secondary" href="[% page.url('query' => {'new_ringpage' => 1}) %]">Create RingPage</a>
								</div>
							</div>
						</fieldset>
					</form>
					<hr/>
					<table class="table table-bordered table-striped table-highlight">
						<thead>
							<tr>
								<th>RingPage</th>
								<th>&nbsp;</th>
							</tr>
						</thead>
						<tbody>
							[% IF ringpages.size == 0 %]
								<tr>
									<td colspan="4">No RingPages.</td>
								</tr>
							[% ELSE %]
								[% FOREACH row IN ringpages %]
									<tr>
										<td>[% row.ringpage %]</td>
										<td>
											[% page.link(
												'text' => 'Delete',
												'command' => 'remove',
												'args' => [row.id],
												'opts' => {
													'onclick' => "return confirm('Really Delete RingPage: $row.ringpage')",
												},
											) %]
											|
											[% page.link(
												'text' => 'View',
												'path' => row.path,
												'query' => {
													'ringpage_id' => row.id
												},
											) %]
											|
											[% page.link(
												'text' => 'Edit Details',
												'path' => '/u/ringpage',
												'query' => {
													'id' => row.id
												},
											) %]
										</td>
									</tr>
								[% END %]
							[% END %]
						</tbody>
					</table>
				[% END %]
			</div>
		</div>
	</div>
</div>
[% END %]
[% INCLUDE layout/internal.html %]
