[% menu_settings = 'ringpages' %]
[% content = BLOCK %]
<div class="container">		
	<div class="row">
		<div class="tabbable">
			<div class="span3">
				[% INCLUDE u/settings/menu.html %]
			</div> <!-- /.span3 -->
			<div class="span9">
				<h2>RingPage: [% ringpage.ringpage %]</h2>
				<form method="post" action="[% page.url('query' => {'id' => page.form.id}) %]" style="margin: 0px; padding: 0px;">
					<p>
						<a href="/u/ringpages">&lt; All RingPages</a>
					</p>
					<div>
						<p style="text-align: right;">
							[% IF ! edit %]
							<a href="[% page.url('query' => {'id' => page.form.id, 'edit' => 1}) %]" class="btn">Edit RingPage</a>
							[% ELSE %]
							[% page.button(
								'command' => 'edit',
								'text' => 'Save Changes',
								'opts' => {
									'type' => 'submit',
									'class' => 'btn btn-primary',
								}
								'args' => [page.form.id],
							) %]
							[% END %]
						</p>
					</div>
					<table class="table table-bordered table-striped">
						<tbody>
							<tr>
								<td><strong>RingPage</strong></td>
								<td>
									[% IF ! edit %]
									<span>[% ringpage.ringpage %]</span>
									[% ELSE %]
									[% page.field(
										'command' => 'edit',
										'type' => 'text',
										'name' => 'ringpage',
										'value' => ringpage.ringpage,
										'opts' => {'id' => 'ringpage', 'style' => 'width: 80%;'},
									) %]
									[% END %]
								</td>
							</tr>
							<tr>
								<td><strong>Contains Offer</strong></td>
								<td>
									[% IF ! edit %]
									<span>[% ringpage.offer %]</span>
									[% ELSE %]
									[% page.field(
										command => 'edit',
										type => 'checkbox',
										name => 'offer',
										value => ringpage.offer,
										opts => { id => 'offer', style => 'width: 80%;', },
										checked => ringpage.offer,
									) %]
									[% END %]
								</td>
							</tr>
							<tr>
								<td><strong>Contains Video</strong></td>
								<td>
									[% IF ! edit %]
									<span>[% ringpage.video %]</span>
									[% ELSE %]
									[% page.field(
										'command' => 'edit',
										'type' => 'checkbox',
										'name' => 'video',
										'value' => ringpage.video,
										'opts' => {'id' => 'video', 'style' => 'width: 80%;'},
										checked => ringpage.video,
									) %]
									[% END %]
								</td>
							</tr>
							[% FOREACH button IN ringpage.buttons %]
							<tr>
								<td><strong>Button:</strong></td>
								<td>
									[% IF ! edit %]
									<span>[% button.button %] ([% button.uri %])</span>
									[% ELSE %]
									[% END %]
								</td>
							</tr>
							[% END %]
							<tr>
								<td><strong>Header Background Color</strong></td>
								<td>
									[% IF ! edit %]
									<span>[% ringpage.header_background_color %]</span>
									[% ELSE %]
									<input type="color" style="width: 18px;" value="[% ringpage.header_background_color %]" data-show-palette="true" data-toggle-palette-only="false" data-show-buttons="false" name="d1-header_background_color" />
									[% END %]
								</td>
							</tr>
							<tr>
								<td><strong>Header Text Color</strong></td>
								<td>
									[% IF ! edit %]
									<span>[% ringpage.header_text_color %]</span>
									[% ELSE %]
									<input type="color" style="width: 18px;" value="[% ringpage.header_text_color %]" data-show-palette="true" data-toggle-palette-only="false" data-show-buttons="false" name="d1-header_text_color" />
									[% END %]
								</td>
							</tr>
							<tr>
								<td><strong>Header Title</strong></td>
								<td>
									[% IF ! edit %]
									<span>[% ringpage.header_title %]</span>
									[% ELSE %]
									[% page.field(
										'command' => 'edit',
										'type' => 'text',
										'name' => 'header_title',
										'value' => ringpage.header_title,
										'opts' => {'id' => 'header_title', 'style' => 'width: 80%;'},
									) %]
									[% END %]
								</td>
							</tr>
							<tr>
								<td><strong>Header Subtitle</strong></td>
								<td>
									[% IF ! edit %]
									<span>[% ringpage.header_subtitle %]</span>
									[% ELSE %]
									[% page.field(
										'command' => 'edit',
										'type' => 'text',
										'name' => 'header_subtitle',
										'value' => ringpage.header_subtitle,
										'opts' => {'id' => 'header_subtitle', 'style' => 'width: 80%;'},
									) %]
									[% END %]
								</td>
							</tr>
							<tr>
								<td><strong>Body Background Image</strong></td>
								<td>
									[% IF ! edit %]
									<span>[% ringpage.body_background_image %]</span>
									[% ELSE %]
                                        [% page.field(
                                            command => 'edit',
                                            type => 'file',
                                            name => 'body_background_image',
                                            opts => { id => 'f_d1-body_background_image', style => 'width: 179px', 'data-url' => '/u/body_background_image', },
                                        ) %]
                                        [% page.field(
                                            command => 'edit',
                                            type => 'hidden',
                                            name => 'body_background_image',
                                            opts => { id => 'd1-body_background_image', },
                                        ) %]
									[% END %]
								</td>
							</tr>
							<tr>
								<td><strong>Body Background Color</strong></td>
								<td>
									[% IF ! edit %]
									<span>[% ringpage.body_background_color %]</span>
									[% ELSE %]
									<input type="color" style="width: 18px;" value="[% ringpage.body_background_color %]" data-show-palette="true" data-toggle-palette-only="false" data-show-buttons="false" name="d1-body_background_color" />
									[% END %]
								</td>
							</tr>
							<tr>
								<td><strong>Body Text Color</strong></td>
								<td>
									[% IF ! edit %]
									<span>[% ringpage.body_text_color %]</span>
									[% ELSE %]
									<input type="color" style="width: 18px;" value="[% ringpage.body_text_color %]" data-show-palette="true" data-toggle-palette-only="false" data-show-buttons="false" name="d1-body_text_color" />
									[% END %]
								</td>
							</tr>
							<tr>
								<td><strong>Body Header</strong></td>
								<td>
									[% IF ! edit %]
									<span>[% ringpage.body_header %]</span>
									[% ELSE %]
									[% page.field(
										'command' => 'edit',
										'type' => 'text',
										'name' => 'body_header',
										'value' => ringpage.body_header,
										'opts' => {'id' => 'body_header', 'style' => 'width: 80%;'},
									) %]
									[% END %]
								</td>
							</tr>
							<tr>
								<td><strong>Body Text</strong></td>
								<td>
									[% IF ! edit %]
									<span>[% ringpage.body_text %]</span>
									[% ELSE %]
									[% page.field(
										'command' => 'edit',
										'type' => 'text',
										'name' => 'body_text',
										'value' => ringpage.body_text,
										'opts' => {'id' => 'body_text', 'style' => 'width: 80%;'},
									) %]
									[% END %]
								</td>
							</tr>
							<tr>
								<td><strong>Footer Background Color</strong></td>
								<td>
									[% IF ! edit %]
									<span>[% ringpage.footer_background_color %]</span>
									[% ELSE %]
									<input type="color" style="width: 18px;" value="[% ringpage.footer_background_color %]" data-show-palette="true" data-toggle-palette-only="false" data-show-buttons="false" name="d1-footer_background_color" />
									[% END %]
								</td>
							</tr>
							<tr>
								<td><strong>Footer Text Color</strong></td>
								<td>
									[% IF ! edit %]
									<span>[% ringpage.footer_text_color %]</span>
									[% ELSE %]
									<input type="color" style="width: 18px;" value="[% ringpage.footer_text_color %]" data-show-palette="true" data-toggle-palette-only="false" data-show-buttons="false" name="d1-footer_text_color" />
									[% END %]
								</td>
							</tr>
							<tr>
								<td><strong>Footer Text</strong></td>
								<td>
									[% IF ! edit %]
									<span>[% ringpage.footer_text %]</span>
									[% ELSE %]
									[% page.field(
										'command' => 'edit',
										'type' => 'text',
										'name' => 'footer_text',
										'value' => ringpage.footer_text,
										'opts' => {'id' => 'footer_text', 'style' => 'width: 80%;'},
									) %]
									[% END %]
								</td>
							</tr>
						</tbody>
					</table>
				</form>
			</div>
		</div>
	</div>
</div>
[% END %]
[% INCLUDE layout/internal.html %]
