[% menu_settings = 'ringpages' %]
[% menu_subnav = page.form.new_ringpage ? 'new_ringpage' : 'ringpages' %]
[% content = BLOCK %]
[% INCLUDE u/settings/menu.html %]
<div id="masthead">
	<div class="container">
		<div class="masthead-pad">
			<div class="masthead-text">
				<h2>RingPages</h2>
			</div>
		</div>
	</div>
</div>
<div id="content">
	<div class="container">
		<div class="row">
			<div class="tabbable">
				<div class="span12">
					<h2>Create RingPage</h2>
					<form method="post" action="[% page.url() %]" style="margin: 0px; padding: 0px;" class="form-horizontal">
						<fieldset>
							<div class="control-group[% IF page.value.error %] error[% END %]">
								<label class="control-label" for="ringpage">Title:</label>
								<div class="controls">
									<div class="input-prepend">
										[% page.field(
										command => 'add',
										type => 'text',
										name => 'ringpage',
										opts => { id => 'ringpage', style => 'width: 179px', },
										) %]
										[% IF page.value.error %]
										<div>
											<span class="error" for="ringpage" style="display: inline;">[% page.value.error %]</span>
										</div>
										[% END %]
									</div>
								</div>
							</div>
							<div class="control-group[% IF page.value.error %] error[% END %]">
								<label class="control-label" for="template">Template:</label>
								<div class="controls">
									[% page.field(
									command => 'add',
									type => 'select',
									name => 'template_name',
									select => template_list,
									selected => template_sel,
									opts => template_opts,
									) %]
									[% IF page.value.error %]
									<div>
										<span class="error" for="template" style="display: inline;">[% page.value.error %]</span>
									</div>
									[% END %]
								</div>
							</div>
							<div class="control-group">
								<div class="controls">
									[% page.button(
									command => 'add',
									contents => 'Create RingPage',
									opts => { class => 'btn btn-primary btn-medium', },
									) %]
								</div>
							</div>
						</fieldset>
					</form>
					<h2>Manage RingPages</h2>
					<table class="table table-bordered table-striped table-highlight">
						<thead>
							<tr>
								<th>RingPage</th>
								<th>&nbsp;</th>
							</tr>
						</thead>
						<tbody>
						[% IF ringpages.size == 0 %]
						<tr>
							<td colspan="4">No RingPages.</td>
						</tr>
						[% ELSE %]
						[% FOREACH row IN ringpages %]
						<tr>
							<td>[% row.ringpage %]</td>
							<td>
								[% page.link(
								text => 'Delete',
								command => 'remove',
								args => [ row.id, ],
								opts => {
								onclick => "return confirm( 'Really Delete RingPage: $row.ringpage' )",
								},
								) %]
								|
								[% page.link(
								text => 'Edit Details',
								path => '/u/ringpage',
								query => {
								ringpage_id => row.id,
								},
								) %]
							</td>
						</tr>
						[% END %]
						[% END %]
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>
[% END %]
[% INCLUDE layout/internal.html %]
