<!DOCTYPE html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="description" content="">
<meta name="keywords" content="">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>[% ringpage.ringpage %]</title>
<link href="/ringpage/css?ringpage_id=[% ringpage.id %]" type="text/css" rel="stylesheet">
</head>
<html lang="en">
<body class="body-wrapper">
<div class="ringpage-content-section-wrapper">
	<section class="ringpage-content-section">
		<h1 class="ringpage-content-h1">[% ringpage.headline %]</h1>
		<p class="ringpage-content-p">[% ringpage.subhead %]</p>
		[% FOREACH button IN ringpage.buttons %]
		<button type="button" class="ringpage-cta-button" onClick="window.open('[% button.uri %]')">[% button.button %]</button>
		[% END %]
		<figure class="logo [% ringpage.logo_style %]">
			<img class="logo-img [% ringpage.logo_style %]" src="[% ringpage.logo.defined ? ringpage.logo : ringpage.logo_style == 'circle' ? '/img/logo-ph.png' : '/img/square-logo-ph.jpg' %]" alt="" />
		</figure>
	</section>
</div>
<div class="ringpage-content-section-wrapper-2">
	<section class="ringpage-content-section-2">
		<h1 class="ringpage-content-h1-2">[% ringpage.body_headline %]</h1>
		<p class="ringpage-content-p-2">[% ringpage.body %]</p>
	</section>
</div>
<div class="ringpage-video-section-wrapper">
	<section class="ringpage-video-section">
		<iframe class="embed-video" src="[% ringpage.video_url %]" frameborder="0" allowfullscreen></iframe>
	</section>
</div>
<div class="ringpage-footer-wrapper">
	<footer class="ringpage-footer">
		<p class="ringpage-footer-p-2">[% ringpage.footer %]</p>
	</footer>
</div>
<div class="social-wrapper">
	<nav class="social-nav">
		<ul class="social-ul">
			[% IF ringpage.homepage_url.length > 0 %]
			<li class="social-li">
			<a class="social-li-a" href="[% ringpage.homepage_url %]" title="Homepage" target="_blank">
				<span class="home-span"></span>
			</a>
			</li>
			[% END %]
			[% IF ringpage.facebook_url.length > 0 %]
			<li class="social-li">
			<a class="social-li-a" href="[% ringpage.facebook_url %]" title="Facebook" target="_blank">
				<span class="fb-span"></span>
			</a>
			</li>
			[% END %]
			[% IF ringpage.twitter_url.length > 0 %]
			<li class="social-li">
			<a class="social-li-a" href="[% ringpage.twitter_url %]" title="Twitter" target="_blank">
				<span class="tw-span"></span>
			</a>
			</li>
			[% END %]
			[% IF ringpage.instagram_url.length > 0 %]
			<li class="social-li">
			<a class="social-li-a" href="[% ringpage.instagram_url %]" title="Instagram" target="_blank">
				<span class="inst-span"></span>
			</a>
			</li>
			[% END %]
			[% IF ringpage.googleplus_url.length > 0 %]
			<li class="social-li">
			<a class="social-li-a" href="[% ringpage.googleplus_url %]" title="Google+" target="_blank">
				<span class="gplus-span"></span>
			</a>
			</li>
			[% END %]
			[% IF ringpage.pinterest_url.length > 0 %]
			<li class="social-li">
			<a class="social-li-a" href="[% ringpage.pinterest_url %]" title="Pinterest" target="_blank">
				<span class="pin-span"></span>
			</a>
			</li>
			[% END %]
			[% IF ringpage.linkedin_url.length > 0 %]
			<li class="social-li">
			<a class="social-li-a" href="[% ringpage.linkedin_url %]" title="LinkedIn" target="_blank">
				<span class="lin-span"></span>
			</a>
			</li>
			[% END %]
			[% IF ringpage.youtube_url.length > 0 %]
			<li class="social-li">
			<a class="social-li-a" href="[% ringpage.youtube_url %]" title="YouTube" target="_blank">
				<span class="ytube-span"></span>
			</a>
			</li>
			[% END %]
		</ul>
	</nav>
</div>	
</body>
</html>
